Workbooks/Azure Backup/Backup Report/jobs-azuredeploy.armtemplate
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "String",
      "defaultValue": "Jobs",
      "metadata": {
        "description": "Name of the Logic App to be created."
      }
    },
    "location": {
      "type": "String",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region in which the Logic App should be created."
      }
    },
    "logicAppWorkspace": {
      "type": "String",
      "metadata": {
        "description": "Name of the existing Log Analytics workspace that the Logic App should connect to. Note that the Logic App connects to a single workspace, but can query data across multiple workspaces. Use the 'Workspaces To Query' parameter to specify the list of workspaces that the Logic App should query data from."
      }
    },
    "workspaceSubscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Subscription Id of the existing Log Analytics workspace that the Logic App should connect to."
      }
    },
    "workspaceResourceGroup": {
      "type": "string",
      "metadata": {
        "description": "Resource Group name of the existing Log Analytics workspace that the Logic App should connect to."
      }
    },
    "workspacesToQuery": {
      "type": "Array",
      "metadata": {
        "description": "List of workspaces that the Logic App should query data from. Should be a comma-separated array of values of the format ['/subscriptions/{subscriptionId1}/resourceGroups/{resourceGroupName1}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName1}','/subscriptions/{subscriptionId2}/resourceGroups/{resourceGroupName2}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName2}']"
      }
    },
    "emailFrequency": {
      "type": "String",
      "allowedValues": [
        "Day",
        "Week",
        "Month"
      ],
      "defaultValue": "Day",
      "metadata": {
        "description": "Frequency at whch emails should be received by the recipient(s). Select 'Day' for sending emails once a day, 'Week' for sending emails once a week, or 'Month' for sending emails once a month."
      }
    },
    "recipientEmailId": {
      "type": "String",
      "metadata": {
        "description": "Email id of the recipient(s). To specify multiple email ids, use a semicolon-separated list."
      }
    },
    "timeRangeInDays": {
      "defaultValue": 8,
      "type": "Int",
      "metadata": {
        "description": "Time range for which data is queried by the logic app. Default value is 7, which enables the logic app to query data for the last 7 days."
      }
    },
    "vaultSubscriptionListFilter": {
      "type": "String",
      "defaultValue": "*",
      "metadata": {
        "description": "Use to filter data queried by the Logic App to a limited set of subscriptions in which Recovery Services vaults exist. Should be of the format '{subscriptionId1},{subscriptionId2},..'. Default value is '*', which enables the Logic App to query data across all backup subscriptions that are sending data to the specified Log Analytics workspaces."
      }
    },
    "vaultLocationListFilter": {
      "type": "String",
      "defaultValue": "*",
      "metadata": {
        "description": "Use to filter data queried by the Logic App to a limited set of regions in which Recovery Services vaults exist. Should be of the format 'location1,location2,..' (eg. eastus,westus). Default value is '*', which enables the Logic App to query data for vaults across all Azure regions in the specified subscriptions."
      }
    },
    "vaultListFilter": {
      "type": "String",
      "defaultValue": "*",
      "metadata": {
        "description": "Use to filter data queried by the Logic App to a limited set of Recovery Services vaults. Should be of the format 'vaultname1,vaultname2,..'. Default value is '*', which enables the Logic App to query data for all vaults in the specified subscriptions and locations."
      }
    },
    "backupSolutionListFilter": {
      "type": "String",
      "defaultValue": "*",
      "metadata": {
        "description": "Use to filter data queried by the Logic App to a limited set of Azure Backup solutions being used in your environment. Should be of the format 'solution1,solution2,..' (eg. Azure VM Backup,SQL in Azure VM Backup,DPM). Default value is '*', which enables the Logic App to query data across all Azure Backup solutions being used."
      }
    },
    "excludeLegacyEvent": {
      "type": "Bool",
      "defaultValue": true,
      "metadata": {
        "description": "Selecting 'true' enables the Logic App to avoid querying data that is sent to the legacy Azure Diagnostics table in the Log Analytics workspace(s). Excluding the legacy table improves query performance time."
      }
    },
    "aggregationType": {
      "type": "String",
      "allowedValues": [
        "Daily",
        "Weekly",
        "Monthly"
      ],
      "defaultValue": "Daily",
      "metadata": {
        "description": "Use to specify the granularity at which data is sampled in the case of trend graphs."
      }
    },
    "resourceTags": {
      "type": "object",
      "defaultValue": {
        "UsedByBackupReports": "true"
      },
      "metadata": {
        "description": "Tags to be assigned to the Logic App and the API connection resources."
      }
    },
    "emailSubject": {
      "type": "string",
      "defaultValue": "Jobs",
      "metadata": {
        "description": "Subject of the email to be received by the recipient(s)."
      }
    }
  },
  "variables": {
    "office365ConnectionName": "[concat(parameters('location'),'-','office365')]",
    "azureMonitorLogsConnectionName": "[concat(parameters('location'),'-','azuremonitorlogs')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2018-07-01-preview",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "tags": "[parameters('resourceTags')]",
      "properties": {
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
        },
        "displayName": "office365"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2018-07-01-preview",
      "name": "[variables('azureMonitorLogsConnectionName')]",
      "location": "[parameters('location')]",
      "tags": "[parameters('resourceTags')]",
      "properties": {
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]"
        },
        "displayName": "azuremonitorlogs"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "tags": "[parameters('resourceTags')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "dataToExport": {
              "defaultValue": "Jobs",
              "type": "String"
            },
            "aggregationType": {
              "defaultValue": "[concat('\"',parameters('aggregationType'),'\"')]",
              "type": "String"
            },
            "backupSolutionListFilter": {
              "defaultValue": "[concat('\"',parameters('backupSolutionListFilter'),'\"')]",
              "type": "String"
            },
            "excludeLegacyEvent": {
              "defaultValue": "[parameters('excludeLegacyEvent')]",
              "type": "Bool"
            },
            "timeRangeInDays": {
              "defaultValue": "[parameters('timeRangeInDays')]",
              "type": "Int"
            },
            "vaultListFilter": {
              "defaultValue": "[concat('\"',parameters('vaultListFilter'),'\"')]",
              "type": "String"
            },
            "vaultLocationListFilter": {
              "defaultValue": "[concat('\"',parameters('vaultLocationListFilter'),'\"')]",
              "type": "String"
            },
            "vaultSubscriptionListFilter": {
              "defaultValue": "[concat('\"',parameters('vaultSubscriptionListFilter'),'\"')]",
              "type": "String"
            },
            "workspacesToQuery": {
              "defaultValue": "[parameters('workspacesToQuery')]",
              "type": "Array"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "[parameters('emailFrequency')]",
                "interval": 1
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "For_each": {
              "foreach": "@parameters('workspacesToQuery')",
              "actions": {
                "Append_to_string_variable": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "AzureDiagnostics_Incomplete",
                    "value": " workspace('@{items('For_each')}').AzureDiagnostics,"
                  }
                },
                "Append_to_string_variable_2": {
                  "runAfter": {
                    "Append_to_string_variable": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "CoreAzureBackup_Incomplete",
                    "value": " workspace('@{items('For_each')}').CoreAzureBackup,"
                  }
                },
                "Append_to_string_variable_3": {
                  "runAfter": {
                    "Append_to_string_variable_2": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "AddonAzureBackupJobs_Incomplete",
                    "value": " workspace('@{items('For_each')}').AddonAzureBackupJobs,"
                  }
                },
                "Append_to_string_variable_4": {
                  "runAfter": {
                    "Append_to_string_variable_3": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "AddonAzureBackupPolicy_Incomplete",
                    "value": " workspace('@{items('For_each')}').AddonAzureBackupPolicy,"
                  }
                },
                "Append_to_string_variable_5": {
                  "runAfter": {
                    "Append_to_string_variable_4": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "AddonAzureBackupProtectedInstance_Incomplete",
                    "value": " workspace('@{items('For_each')}').AddonAzureBackupProtectedInstance,"
                  }
                },
                "Append_to_string_variable_6": {
                  "runAfter": {
                    "Append_to_string_variable_5": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "AddonAzureBackupStorage_Incomplete",
                    "value": " workspace('@{items('For_each')}').AddonAzureBackupStorage,"
                  }
                }
              },
              "runAfter": {
                "Initialize_variable-AddonAzureBackupStorage": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "If_Scope_Failed": {
              "actions": {
                "Send_an_email_(V2)-FailureRun": {
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "Body": "<p>The Logic App Run did not execute to completion. <br>\n<br>Status: @{result('Scope')[0]['status']}<br><br> <a href='https://aka.ms/AzureBackupReportEmail'>Learn more</a> about how to troubleshoot the error</p>",
                      "Subject": "[parameters('emailSubject')]",
                      "To": "[parameters('recipientEmailId')]"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                  }
                }
              },
              "runAfter": {
                "Scope": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "else": {
                "actions": {
                  "Send_an_email_(V2)-SuccessfulRun": {
                    "type": "ApiConnection",
                    "inputs": {
                      "body": {
                        "Attachments": [
                          {
                            "ContentBytes": "@{body('Run_query_and_visualize_results-JobOperation')?['attachmentContent']}",
                            "Name": "@body('Run_query_and_visualize_results-JobOperation')?['attachmentName']"
                          },
                          {
                            "ContentBytes": "@{body('Run_query_and_visualize_results-JobStatus')?['attachmentContent']}",
                            "Name": "@body('Run_query_and_visualize_results-JobStatus')?['attachmentName']"
                          },
                          {
                            "ContentBytes": "@{base64(body('Create_CSV_table-JobList'))}",
                            "Name": "JobList.csv"
                          },
                          {
                            "ContentBytes": "@{body('Run_query_and_visualize_results-JobFailureCode')?['attachmentContent']}",
                            "Name": "@body('Run_query_and_visualize_results-JobFailureCode')?['attachmentName']"
                          }
                        ],
                        "Body": "<p><u><strong><br>\nJobs Report<br>\n</strong></u><u><strong><br>\nEmail Contents<br>\n</strong></u><br>\n1. <b>Inline</b> <br>a. Jobs by Status over time <br>b. Jobs by Operation<br>c. Jobs by Failure Code\n<br>\n<br>2. <b>Attachments </b> <br>a. List of backup and restore jobs in selected time range <br>\n<br>\n<strong>Note - If any of the below charts are rendered with an 'X' (or empty), it means that there are no records found for the selected scope and time range.</strong><br>\n<a href=\"https://aka.ms/AzureBackupReportDocs\">Learn more</a> about Backup Reports<br>\n<br>\n<u><strong>@{variables('visual')}</strong></u><u><strong><br>\n<br>\n<br>\n</strong></u><br>\n<br>\n</p>",
                        "Subject": "[parameters('emailSubject')]",
                        "To": "[parameters('recipientEmailId')]"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/v2/Mail"
                    }
                  }
                }
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@result('Scope')[0]['status']",
                      "Failed"
                    ]
                  },
                  {
                    "equals": [
                      "@result('Scope')[0]['status']",
                      "Aborted"
                    ]
                  },
                  {
                    "equals": [
                      "@result('Scope')[0]['status']",
                      "Skipped"
                    ]
                  },
                  {
                    "equals": [
                      "@result('Scope')[0]['status']",
                      "TimedOut"
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Initialize_variable-AddonAzureBackupJobs": {
              "runAfter": {
                "Initialize_variable-CoreAzureBackup": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AddonAzureBackupJobs_Incomplete",
                    "type": "string",
                    "value": "let AddonAzureBackupJobs = ()\n{\nunion"
                  }
                ]
              }
            },
            "Initialize_variable-AddonAzureBackupPolicy": {
              "runAfter": {
                "Initialize_variable-AddonAzureBackupJobs": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AddonAzureBackupPolicy_Incomplete",
                    "type": "string",
                    "value": "let AddonAzureBackupPolicy = ()\n{\nunion"
                  }
                ]
              }
            },
            "Initialize_variable-AddonAzureBackupProtectedInstance": {
              "runAfter": {
                "Initialize_variable-AddonAzureBackupPolicy": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AddonAzureBackupProtectedInstance_Incomplete",
                    "type": "string",
                    "value": "let AddonAzureBackupProtectedInstance = ()\n{\nunion"
                  }
                ]
              }
            },
            "Initialize_variable-AddonAzureBackupStorage": {
              "runAfter": {
                "Initialize_variable-AddonAzureBackupProtectedInstance": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AddonAzureBackupStorage_Incomplete",
                    "type": "string",
                    "value": "let AddonAzureBackupStorage = ()\n{\nunion"
                  }
                ]
              }
            },
            "Initialize_variable-AzureDiagnostics": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AzureDiagnostics_Incomplete",
                    "type": "string",
                    "value": "let AzureDiagnostics = ()\n{\nunion"
                  }
                ]
              }
            },
            "Initialize_variable-BackupInstanceTrendFunction": {
              "runAfter": {
                "Initialize_variable-JobFunction": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "BackupInstanceTrendFunction",
                    "type": "string",
                    "value": "@{variables('workspacesToQuery_Custom')}\r\n@{variables('ReportFilter_Trend')}\r\nlet _ProtectionInfoList = \"*\";\r\nlet _DatasourceSetName = \"*\";\r\nlet _BackupInstanceName = \"*\";\r\nlet _DisplayAllFields = true;\r\n\/\/ Other Vars\r\nlet AsonDay = _RangeEnd-1d;\r\nlet AzureStorageCutoffDate = datetime(6\/01\/2020, 12:00:00.000 AM);\r\n\/\/ HelperFunctions\r\nlet ConvertDataSourceTypeToBackupSolution = (DataSourceType:string)\r\n{\r\n\tiff(DataSourceType == \"Microsoft.DBforPostgreSQL\/servers\/databases\",\"Azure Database for PostgreSQL Server Backup\",iff(DataSourceType == \"Microsoft.Storage\/storageAccounts\/blobServices\", \"Azure Blob Backup\",iff(DataSourceType == \"Microsoft.Compute\/disks\",\"Azure Disk Backup\",\"\")))\r\n};\r\nlet ConvertBackupItemProtectionStateToProtectionInfo = (ProtectionState:string)\r\n{\r\n\tiff(ProtectionState == \"ProtectionConfigured\", \"Protected\", iff(ProtectionState == \"ConfiguringProtection\", \"ConfiguringProtection\", iff(ProtectionState == \"ConfiguringProtectionFailed\", \"ConfiguringProtectionFailed\", iff(ProtectionState == \"UpdatingProtection\", \"UpdatingProtection\", iff(ProtectionState == \"ProtectionError\", \"ProtectionError\", iff(ProtectionState == \"ProtectionStopped\", \"ProtectionStopped\", iff(ProtectionState == \"BackupsSuspended\", \"ProtectionStopped\", iff(ProtectionState == \"SoftDeleted\", \"ProtectionStopped\",\"\"))))))))\r\n};\r\nlet Extend_BackupSolution = (T:(BackupManagementType:string, BackupItemType:string))\r\n{\r\nT | extend BackupSolution = iff(BackupManagementType == \"IaaSVM\", \"Azure Virtual Machine Backup\", \r\niff(BackupManagementType == \"MAB\", \"Azure Backup Agent\", \r\niff(BackupManagementType == \"DPM\", \"DPM\", \r\niff(BackupManagementType == \"AzureBackupServer\", \"Azure Backup Server\", \r\niff(BackupManagementType == \"AzureStorage\", \"Azure Storage (Azure Files) Backup\", \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\", \"SQL in Azure VM Backup\", \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\", \"SAP HANA in Azure VM Backup\", \"\")))))))\r\n};\r\nlet Extend_DatasourceType = (T:(BackupManagementType:string, BackupItemType:string))\r\n{\r\nT | extend DatasourceType = iff(BackupManagementType == \"IaaSVM\", \"Microsoft.Compute\/virtualMachines\", \r\niff(BackupManagementType == \"MAB\", BackupItemType, \r\niff(BackupManagementType == \"DPM\", iff(BackupItemType == \"SQLDB\",\"SQLDataBase\",BackupItemType), \r\niff(BackupManagementType == \"AzureBackupServer\", iff(BackupItemType == \"SQLDB\",\"SQLDataBase\",BackupItemType), \r\niff(BackupManagementType == \"AzureStorage\", \"Microsoft.Storage\/storageAccounts\/fileServices\/shares\", \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\", \"SQLDataBase\", \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\", \"SAPHanaDatabase\", \"\")))))))\r\n};\r\nlet Extend_BackupInstanceId = (T:(ResourceId:string, BackupManagementType:string, BackupItemType:string, ProtectedContainerName:string, BackupItemName:string))\r\n{\r\nT | extend BackupInstanceId =  toupper(iff ((BackupManagementType == \"IaaSVM\" and BackupItemType == \"VM\"), strcat(ResourceId,\"\/backupFabrics\/Azure\/protectionContainers\/IaasVMContainer;\", ProtectedContainerName, \"\/protectedItems\/VM;\", ProtectedContainerName),\r\niff((BackupManagementType == \"AzureStorage\" and BackupItemType == \"AzureFileShare\"), strcat(ResourceId,\"\/backupFabrics\/Azure\/protectionContainers\/StorageContainer;\", ProtectedContainerName, \"\/protectedItems\/AzureFileShare;\", BackupItemName) , \r\niff((BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\"), strcat(ResourceId,\"\/backupFabrics\/Azure\/protectionContainers\/VMAppContainer;\", ProtectedContainerName, \"\/protectedItems\/SQLDataBase;\", BackupItemName) , \r\niff((BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\"), strcat(ResourceId,\"\/backupFabrics\/Azure\/protectionContainers\/VMAppContainer;\", ProtectedContainerName, \"\/protectedItems\/SAPHanaDatabase;\", BackupItemName), \"\")))))\r\n};\r\nlet Extend_DatasourceSetResourceId_DatasourceSetType_DatasourceResourceId = (T:(ResourceId:string, ProtectedContainerName:string, BackupManagementType:string, BackupItemType:string, BackupItemUniqueId:string, BackupItemName:string, BackupItemFriendlyName:string))\r\n{\r\nT | extend prefix = array_strcat(array_split(split(ResourceId,\"\/\"), 4)[0] ,\"\/\")\r\n|  extend container_array = split(ProtectedContainerName,\";\")\r\n|  extend container_arraylen = array_length(container_array)\r\n| extend containerNameString = iff(container_arraylen == 3, ProtectedContainerName, \"\")\r\n| parse containerNameString with entityType:string \";\" rgName:string \";\" entityName:string\r\n| extend entityURL = iff((BackupManagementType == \"AzureStorage\" and BackupItemType == \"AzureFileShare\"), iff(entityType == \"storage\", \"\/Microsoft.Storage\/storageAccounts\/\", \"\/Microsoft.ClassicStorage\/storageAccounts\/\"), iff((BackupManagementType == \"IaaSVM\" and BackupItemType == \"VM\"), iff(entityType =~ \"iaasvmcontainerv2\", \"\/Microsoft.Compute\/virtualMachines\/\", \"\/Microsoft.ClassicCompute\/virtualMachines\/\"), iff(((BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\") or (BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\")), iff(entityType =~ \"compute\", \"\/Microsoft.Compute\/virtualMachines\/\", \"\/Microsoft.ClassicCompute\/virtualMachines\/\"), \"\")))\r\n| extend DatasourceSetResourceId = toupper(iff(BackupManagementType in (\"DPM\", \"AzureBackupServer\", \"MAB\"), \"\" , iff(containerNameString != \"\", strcat(prefix, \"\/\", rgName, \"\/providers\", entityURL, entityName), \"\")))\r\n\/\/BackupSolution\r\n| extend DatasourceSetType = iff(BackupManagementType == \"IaaSVM\", iff(entityType =~ \"iaasvmcontainerv2\", \"Microsoft.Compute\/virtualMachines\", \"Microsoft.ClassicCompute\/virtualMachines\"),  \r\niff(BackupManagementType == \"MAB\", \"Azure Backup Agent\", \r\niff(BackupManagementType == \"DPM\", \"DPM\", \r\niff(BackupManagementType == \"AzureBackupServer\", \"Azure Backup Server\", \r\niff(BackupManagementType == \"AzureStorage\", iff(entityType == \"storage\", \"Microsoft.Storage\/storageAccounts\", \"Microsoft.ClassicStorage\/storageAccounts\"), \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\", iff(entityType =~ \"compute\", \"Microsoft.Compute\/virtualMachines\", \"Microsoft.ClassicCompute\/virtualMachines\"), \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\", iff(entityType =~ \"compute\", \"Microsoft.Compute\/virtualMachines\", \"Microsoft.ClassicCompute\/virtualMachines\"), \"\")))))))\r\n| extend DatasourceResourceId = toupper(iff(BackupManagementType in (\"DPM\", \"AzureBackupServer\", \"MAB\"), BackupItemUniqueId, \r\niff(BackupManagementType == \"IaaSVM\", DatasourceSetResourceId, \r\niff(BackupManagementType == \"AzureStorage\", strcat(DatasourceSetResourceId, \"\/fileServices\/default\/shares\/\", BackupItemFriendlyName),\r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\",iff(DatasourceSetResourceId != \"\",strcat(DatasourceSetResourceId, \"\/providers\/Microsoft.RecoveryServices\/backupProtectedItem\/SQLDataBase;\", BackupItemName),\"\"),\r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\",iff(DatasourceSetResourceId != \"\",strcat(DatasourceSetResourceId, \"\/providers\/Microsoft.RecoveryServices\/backupProtectedItem\/SAPHanaDatabase;\", BackupItemName),\"\"),\"\"))))))\r\n| project-away prefix, container_array, container_arraylen, containerNameString, entityURL \r\n};\r\n\/\/ Source Tables\r\nlet VaultUnderAzureDiagnostics = ()\r\n{\r\nAzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where Category == \"AzureBackupReport\" and OperationName == \"Vault\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\"\r\n| project VaultName = columnifexists(\"VaultName_s\", \"\"), VaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), VaultTags = columnifexists(\"VaultTags_s\", \"\"), AzureDataCenter =  columnifexists(\"AzureDataCenter_s\", \"\"), ResourceGroupName =  columnifexists(\"ResourceGroupName_s\", \"\"), SubscriptionId = toupper(SubscriptionId), StorageReplicationType = columnifexists(\"StorageReplicationType_s\", \"\"), ResourceId, TimeGenerated \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| summarize arg_max(TimeGenerated, *) by ResourceId\r\n| project StorageReplicationType, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, ResourceId, TimeGenerated\r\n};\r\nlet VaultUnderResourceSpecific = ()\r\n{\r\nCoreAzureBackup\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where OperationName == \"Vault\" \r\n| project StorageReplicationType, VaultUniqueId, VaultName, VaultTags, SubscriptionId = toupper(SubscriptionId), ResourceGroupName, AzureDataCenter, ResourceId, TimeGenerated \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| summarize arg_max(TimeGenerated, *) by ResourceId\r\n};\r\nlet ResourceIdListUnderAzureDiagnostics = materialize(VaultUnderAzureDiagnostics | distinct ResourceId);\r\nlet ResourceIdListUnderResourceSpecific = materialize(VaultUnderResourceSpecific | distinct ResourceId);\r\nlet BackupItemUnderAzureDiagnostics = ()\r\n{\r\nlet SourceBackupItemTable = AzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItem\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupItemProtectionState = columnifexists(\"BackupItemProtectionState_s\", \"\"), BackupItemAppVersion = columnifexists(\"BackupItemAppVersion_s\", \"\"),SecondaryBackupProtectionState = columnifexists(\"SecondaryBackupProtectionState_s\", \"\"), BackupItemName = columnifexists(\"BackupItemName_s\", \"\"), BackupItemFriendlyName = columnifexists(\"BackupItemFriendlyName_s\", \"\"),\r\nBackupItemType = columnifexists(\"BackupItemType_s\", \"\"),  ProtectionGroupName = columnifexists(\"ProtectionGroupName_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId\r\n\/\/Handle MAB system state\r\n\/\/ Excluding SecondaryBackupProtectionState, BackupItemAppVersion, ProtectionGroupName\r\n|  project BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupItemName = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), \"System State\", BackupItemName), BackupItemProtectionState, BackupItemAppVersion, SecondaryBackupProtectionState, ProtectionGroupName, BackupItemFriendlyName, BackupItemType, BackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\");\r\nlet BackupItemTable = Extend_BackupSolution(SourceBackupItemTable)\r\n| where BackupSolution in~ (_BackupSolutionList) or '*' in (_BackupSolutionList)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nVaultUnderAzureDiagnostics | join   (\r\n   BackupItemTable \r\n) on ResourceId\r\n| project-away ResourceId1, TimeGenerated1;\r\n};\r\nlet BackupItemUnderResourceSpecific = ()\r\n{\r\nlet SourceBackupItemTable = CoreAzureBackup\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where OperationName == \"BackupItem\" and State != \"Deleted\"\r\n\/\/Handle MAB system state\r\n\/\/ Excluding SecondaryBackupProtectionState, BackupItemAppVersion, ProtectionGroupName\r\n|  project BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupItemName = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), \"System State\", BackupItemName), BackupItemProtectionState, BackupItemAppVersion, SecondaryBackupProtectionState, ProtectionGroupName, BackupItemFriendlyName, BackupItemType, BackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\");\r\nlet BackupItemTable = Extend_BackupSolution(SourceBackupItemTable)\r\n| where BackupSolution in~ (_BackupSolutionList) or '*' in (_BackupSolutionList)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nVaultUnderResourceSpecific | join   (\r\n   BackupItemTable \r\n) on ResourceId\r\n| project-away ResourceId1, TimeGenerated1;\r\n};\r\nlet BackupItemAssociationHistoryUnderAzureDiagnostics = ()\r\n{\r\n let BackupItemAssociationTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItemAssociation\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"), ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"), \r\nVaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), PolicyUniqueIdGuid = columnifexists(\"PolicyUniqueId_g\", \"\"), PolicyUniqueIdStr = columnifexists(\"PolicyUniqueId_s\", \"\"),\r\nTimeGenerated, ResourceId  \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n\/\/ PolicyUniqueId can be either guid or string due to AzureDiagnostics behaviour\r\n| project PolicyUniqueId = iff(PolicyUniqueIdGuid == \"\", PolicyUniqueIdStr, PolicyUniqueIdGuid), BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nBackupItemAssociationTable\r\n};\r\nlet BackupItemAssociationHistoryUnderResourceSpecific = ()\r\n{\r\nlet BackupItemAssociationTable = CoreAzureBackup \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"BackupItemAssociation\" and State != \"Deleted\"\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n| project PolicyUniqueId, BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nBackupItemAssociationTable\r\n};\r\nlet BackupItemAssociationUnderAzureDiagnostics = ()\r\n{\r\n let BackupItemAssociationTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItemAssociation\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"), ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"), \r\nVaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), PolicyUniqueIdGuid = columnifexists(\"PolicyUniqueId_g\", \"\") , PolicyUniqueIdStr = columnifexists(\"PolicyUniqueId_s\", \"\"),\r\nTimeGenerated, ResourceId  \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n\/\/ PolicyUniqueId can be either guid or string due to AzureDiagnostics behaviour\r\n| project PolicyUniqueId = iff(PolicyUniqueIdGuid == \"\", PolicyUniqueIdStr, PolicyUniqueIdGuid), BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemAssociationTable\r\n};\r\nlet BackupItemAssociationUnderResourceSpecific = ()\r\n{\r\nlet BackupItemAssociationTable = CoreAzureBackup \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"BackupItemAssociation\" and State != \"Deleted\"\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n| project PolicyUniqueId, BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemAssociationTable\r\n};\r\nlet BackupItemFrontEndSizeHistoryUnderAzureDiagnostics = ()\r\n{\r\n let BackupItemFrontEndSizeTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItemFrontEndSizeConsumption\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemFrontEndSize = todouble(columnifexists(\"BackupItemFrontEndSize_s\", \"\")), BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nBackupItemFrontEndSizeTable\r\n};\r\nlet BackupItemFrontEndSizeHistoryUnderResourceSpecific = ()\r\n{\r\nlet BackupItemFrontEndSizeTable = CoreAzureBackup \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"BackupItemFrontEndSizeConsumption\" and State != \"Deleted\"\r\n| project BackupItemFrontEndSize, BackupItemUniqueId, BackupManagementType, TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nBackupItemFrontEndSizeTable\r\n};\r\nlet BackupItemFrontEndSizeUnderAzureDiagnostics = ()\r\n{\r\n let BackupItemFrontEndSizeTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItemFrontEndSizeConsumption\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemFrontEndSize = todouble(columnifexists(\"BackupItemFrontEndSize_s\", \"\")), BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemFrontEndSizeTable\r\n};\r\nlet BackupItemFrontEndSizeUnderResourceSpecific = ()\r\n{\r\nlet BackupItemFrontEndSizeTable = CoreAzureBackup \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"BackupItemFrontEndSizeConsumption\" and State != \"Deleted\"\r\n| project BackupItemFrontEndSize, BackupItemUniqueId, BackupManagementType, TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemFrontEndSizeTable\r\n};\r\nlet StorageAssociationHistoryUnderAzureDiagnostics = ()\r\n{\r\n let StorageAssociationTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"StorageAssociation\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n\/\/ Not Projecting ProtectedContainerUniqueId - DPM\/AzureBackupServer ProtectedContainer (incase of cluster) is node PS and not cluster PS\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), VaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), StorageUniqueId = columnifexists(\"StorageUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"), StorageConsumedInMBs = todouble(columnifexists(\"StorageConsumedInMBs_s\", \"\")), \r\nStorageAllocatedInMBs = todouble(columnifexists(\"StorageAllocatedInMBs_s\", \"\")), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Providers like DPM, AzureBackupServer has Disk storage. Filtering out cloud storage only.\r\n| where split(StorageUniqueId, \";\")[2] has \"cloud\"\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nStorageAssociationTable\r\n};\r\nlet StorageAssociationHistoryUnderResourceSpecific = ()\r\n{\r\nlet StorageAssociationTable = AddonAzureBackupStorage \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now()) \r\n| where column_ifexists(\"VaultType\",\"\") == \"\"\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"StorageAssociation\" and State != \"Deleted\"\r\n\/\/ Not Projecting ProtectedContainerUniqueId - DPM\/AzureBackupServer ProtectedContainer (incase of cluster) is node PS and not cluster PS\r\n| project BackupItemUniqueId, VaultUniqueId, BackupManagementServerUniqueId, StorageUniqueId, StorageConsumedInMBs, StorageAllocatedInMBs, BackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\") \r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Providers like DPM, AzureBackupServer has Disk storage. Filtering out cloud storage only.\r\n| where split(StorageUniqueId, \";\")[2] has \"cloud\"\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nStorageAssociationTable\r\n};\r\nlet StorageAssociationUnderAzureDiagnostics = ()\r\n{\r\n let StorageAssociationTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"StorageAssociation\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n\/\/ Not Projecting ProtectedContainerUniqueId - DPM\/AzureBackupServer ProtectedContainer (incase of cluster) is node PS and not cluster PS\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), VaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), StorageUniqueId = columnifexists(\"StorageUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"), StorageConsumedInMBs = todouble(columnifexists(\"StorageConsumedInMBs_s\", \"\")), \r\nStorageAllocatedInMBs = todouble(columnifexists(\"StorageAllocatedInMBs_s\", \"\")), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Providers like DPM, AzureBackupServer has Disk storage. Filtering out cloud storage only.\r\n| where split(StorageUniqueId, \";\")[2] has \"cloud\"\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nStorageAssociationTable\r\n};\r\nlet StorageAssociationUnderResourceSpecific = ()\r\n{\r\nlet StorageAssociationTable = AddonAzureBackupStorage \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where column_ifexists(\"VaultType\",\"\") == \"\"\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"StorageAssociation\" and State != \"Deleted\"\r\n\/\/ Not Projecting ProtectedContainerUniqueId - DPM\/AzureBackupServer ProtectedContainer (incase of cluster) is node PS and not cluster PS\r\n| project BackupItemUniqueId, VaultUniqueId, BackupManagementServerUniqueId, StorageUniqueId, StorageConsumedInMBs, StorageAllocatedInMBs, BackupManagementType, TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Providers like DPM, AzureBackupServer has Disk storage. Filtering out cloud storage only.\r\n| where split(StorageUniqueId, \";\")[2] has \"cloud\"\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nStorageAssociationTable\r\n};\r\nlet RecoveryPointUnderAzureDiagnostics = ()\r\n{\r\n let RecoveryPointTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where OperationName == \"RecoveryPoint\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project LatestRecoveryPointLocation = columnifexists(\"LatestRecoveryPointLocation_s\", \"\"), OldestRecoveryPointLocation = columnifexists(\"OldestRecoveryPointLocation_s\", \"\"), LatestRecoveryPointTime = todatetime(columnifexists(\"LatestRecoveryPointTime_s\", \"\")), OldestRecoveryPointTime = todatetime(columnifexists(\"OldestRecoveryPointTime_s\", \"\")),\r\nBackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/ Interested in only Vault\/Cloud RPs\r\n| where LatestRecoveryPointLocation has \"Cloud\" \r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nRecoveryPointTable\r\n};\r\nlet RecoveryPointUnderResourceSpecific = ()\r\n{\r\n let RecoveryPointTable = CoreAzureBackup \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"RecoveryPoint\" and  State != \"Deleted\"\r\n| project LatestRecoveryPointLocation, OldestRecoveryPointLocation, LatestRecoveryPointTime, OldestRecoveryPointTime,\r\nBackupItemUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/ Interested in only Vault\/Cloud RPs\r\n| where LatestRecoveryPointLocation has \"Cloud\" \r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nRecoveryPointTable\r\n};\r\nlet RecoveryPointHistoryUnderAzureDiagnostics = ()\r\n{\r\n let RecoveryPointTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where OperationName == \"RecoveryPoint\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project LatestRecoveryPointLocation = columnifexists(\"LatestRecoveryPointLocation_s\", \"\"), OldestRecoveryPointLocation = columnifexists(\"OldestRecoveryPointLocation_s\", \"\"), LatestRecoveryPointTime = todatetime(columnifexists(\"LatestRecoveryPointTime_s\", \"\")), OldestRecoveryPointTime = todatetime(columnifexists(\"OldestRecoveryPointTime_s\", \"\")),\r\nBackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n\/\/ Interested in only Vault\/Cloud RPs\r\n| where LatestRecoveryPointLocation has \"Cloud\" \r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nRecoveryPointTable\r\n};\r\nlet RecoveryPointHistoryUnderResourceSpecific = ()\r\n{\r\n let RecoveryPointTable = CoreAzureBackup \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"RecoveryPoint\" and  State != \"Deleted\"\r\n| project LatestRecoveryPointLocation, OldestRecoveryPointLocation, LatestRecoveryPointTime, OldestRecoveryPointTime,\r\nBackupItemUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n\/\/ Interested in only Vault\/Cloud RPs\r\n| where LatestRecoveryPointLocation has \"Cloud\" \r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nRecoveryPointTable\r\n};\r\nlet ProtectedContainerUnderAzureDiagnostics = ()\r\n{\r\nlet ProtectedContainerTable = AzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where Category == \"AzureBackupReport\" and OperationName == \"ProtectedContainer\"  and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"),  ProtectedContainerFriendlyName = columnifexists(\"ProtectedContainerFriendlyName_s\", \"\"), AgentVersion = columnifexists(\"AgentVersion_s\", \"\"),\r\nProtectedContainerOSType = columnifexists(\"ProtectedContainerOSType_s\", \"\"), ProtectedContainerOSVersion = columnifexists(\"ProtectedContainerOSVersion_s\", \"\"), ProtectedContainerWorkloadType = columnifexists(\"ProtectedContainerWorkloadType_s\", \"\"),  ProtectedContainerName = columnifexists(\"ProtectedContainerName_s\", \"\"), ProtectedContainerProtectionState = columnifexists(\"ProtectedContainerProtectionState_s\", \"\"), ProtectedContainerLocation = columnifexists(\"ProtectedContainerLocation_s\", \"\"), ProtectedContainerType = columnifexists(\"ProtectedContainerType_s\", \"\"),\r\nBackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by ProtectedContainerUniqueId;\r\nVaultUnderAzureDiagnostics | join   (\r\n   ProtectedContainerTable \r\n) on ResourceId;\r\n};\r\nlet ProtectedContainerUnderResourceSpecific = ()\r\n{\r\nlet ProtectedContainerTable = CoreAzureBackup\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where OperationName == \"ProtectedContainer\" and State != \"Deleted\"\r\n| project ProtectedContainerUniqueId,  ProtectedContainerFriendlyName, AgentVersion,\r\nProtectedContainerOSType, ProtectedContainerOSVersion, ProtectedContainerWorkloadType,  ProtectedContainerName, ProtectedContainerProtectionState, ProtectedContainerLocation, ProtectedContainerType,\r\nBackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by ProtectedContainerUniqueId;\r\nVaultUnderResourceSpecific | join   (\r\n   ProtectedContainerTable \r\n) on ResourceId;\r\n};\r\nlet PolicyUnderAzureDiagnostics = ()\r\n{\r\nlet PolicyTable = AzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where OperationName == \"Policy\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\"\r\n| project PolicyUniqueIdGuid = columnifexists(\"PolicyUniqueId_g\", \"\") , PolicyUniqueIdStr = columnifexists(\"PolicyUniqueId_s\", \"\"), PolicyName = columnifexists(\"PolicyName_s\", \"\"), ResourceId, BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated\r\n| project PolicyUniqueId = iff(PolicyUniqueIdGuid == \"\", PolicyUniqueIdStr, PolicyUniqueIdGuid), BackupManagementType, PolicyName, ResourceId, TimeGenerated \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by PolicyUniqueId,  ResourceId;\r\nPolicyTable\r\n};\r\nlet PolicyUnderResourceSpecific = ()\r\n{\r\nlet PolicyTable = AddonAzureBackupPolicy\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"Policy\" \r\n| project PolicyUniqueId, PolicyName, ResourceId, TimeGenerated, BackupManagementType\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by PolicyUniqueId,  ResourceId;\r\nPolicyTable\r\n};\r\n\/\/ BusinessLogic\r\nlet TotalBackupItemDimensionTable = () {union isfuzzy = true \r\n(BackupItemUnderAzureDiagnostics()),\r\n(BackupItemUnderResourceSpecific())\r\n| summarize arg_max(TimeGenerated, *)   by BackupItemUniqueId\r\n| where isempty(_BackupInstanceName) or _BackupInstanceName == \"*\" or  BackupItemFriendlyName contains (_BackupInstanceName)\r\n| extend BackupItemProtectionState = iff(BackupItemProtectionState in (\"Protected\", \"ActivelyProtected\",\"ProtectionError\"), \"Protected\", iff(BackupItemProtectionState in (\"IRPending\"), \"InitialBackupPending\", iff(isnotempty(BackupItemProtectionState),\"ProtectionStopped\",BackupItemProtectionState)))\r\n| where BackupItemProtectionState in~ (_ProtectionInfoList) or '*' in (_ProtectionInfoList)\r\n| project BackupItemUniqueId,  BackupItemName, BackupItemFriendlyName, BackupManagementType, BackupItemType, BackupSolution, BackupItemProtectionState,\r\nStorageReplicationType, ResourceId, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter};\r\nlet BI_HistoryCombinationUnderAzureDiagnostics = ()\r\n{\r\n\tlet JoinWithPolicy = (T:(PolicyUniqueId:string, ResourceId:string))\r\n\t{\r\n\tT | join kind= leftouter (\r\n\t PolicyUnderAzureDiagnostics | project PolicyUniqueId, PolicyName, ResourceId) on PolicyUniqueId, ResourceId\r\n\t};\r\n\tlet JoinWithRP = (T:(BackupItemUniqueId:string, TimeRangeEndDay:datetime))\r\n\t{\r\n\tT | join kind= leftouter (\r\n\t RecoveryPointHistoryUnderAzureDiagnostics | project BackupItemUniqueId, OldestRecoveryPointTime, LatestRecoveryPointTime, TimeRangeEndDay) on BackupItemUniqueId, TimeRangeEndDay\r\n\t};\r\n\tlet Base = ()\r\n\t{\r\n\tProtectedContainerUnderAzureDiagnostics | distinct ProtectedContainerName, ProtectedContainerFriendlyName, ProtectedContainerUniqueId \r\n\t| join  kind= rightouter  (\r\n\t\tBackupItemAssociationHistoryUnderAzureDiagnostics |  project ProtectedContainerUniqueId, BackupItemUniqueId, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t) on ProtectedContainerUniqueId\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId = ProtectedContainerUniqueId1, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Size = ()\r\n\t{\r\n\tBase\r\n\t| join kind= leftouter (\r\n\t   BackupItemFrontEndSizeHistoryUnderAzureDiagnostics | project BackupItemFrontEndSize, BackupItemUniqueId, TimeGenerated, TimeRangeEndDay \r\n\t) on BackupItemUniqueId, TimeRangeEndDay\r\n\t\/\/ using leftouter due to AzureStorage - storageconsumption table is not emitted. inner join will exclude AzureStorage BackupItems.\r\n\t| join kind= leftouter (\r\n\t   StorageAssociationHistoryUnderAzureDiagnostics | project StorageConsumedInMBs, BackupItemUniqueId, TimeGenerated, TimeRangeEndDay\r\n\t) on BackupItemUniqueId, TimeRangeEndDay\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, BackupItemFrontEndSize,\r\n\t StorageConsumedInMBs, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Policy = ()\r\n\t{\r\n\tJoinWithPolicy(Base) \r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, PolicyName, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_RP = ()\r\n\t{\r\n\tJoinWithRP(Base)\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, OldestRecoveryPointTime, LatestRecoveryPointTime, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Policy_RP = ()\r\n\t{\r\n\tJoinWithRP(Base_Policy)\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, PolicyName, OldestRecoveryPointTime, LatestRecoveryPointTime, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Size_RP = ()\r\n\t{\r\n\tJoinWithRP(Base_Size)\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, BackupItemFrontEndSize,\r\n\t StorageConsumedInMBs, OldestRecoveryPointTime, LatestRecoveryPointTime, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Size_Policy = ()\r\n\t{\r\n\tJoinWithPolicy(Base_Size)\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, PolicyName,BackupItemFrontEndSize, StorageConsumedInMBs, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Size_Policy_RP = ()\r\n\t{\r\n\tJoinWithRP(Base_Size_Policy)\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, PolicyName,BackupItemFrontEndSize, StorageConsumedInMBs, OldestRecoveryPointTime, LatestRecoveryPointTime, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tunion ( Base | where _DisplayAllFields == false ),\t   \r\n\t   ( Base_Size_Policy_RP | where _DisplayAllFields== true)\r\n};\r\nlet BI_HistoryCombinationUnderResourceSpecific = ()\r\n{\r\n\tlet JoinWithPolicy = (T:(PolicyUniqueId:string, ResourceId:string))\r\n\t{\r\n\tT | join kind= leftouter (\r\n\t PolicyUnderResourceSpecific | project PolicyUniqueId, PolicyName, ResourceId) on PolicyUniqueId, ResourceId\r\n\t};\r\n\tlet JoinWithRP = (T:(BackupItemUniqueId:string, TimeRangeEndDay:datetime))\r\n\t{\r\n\tT | join kind= leftouter (\r\n\t RecoveryPointHistoryUnderResourceSpecific | project BackupItemUniqueId, OldestRecoveryPointTime, LatestRecoveryPointTime, TimeRangeEndDay) on BackupItemUniqueId, TimeRangeEndDay\r\n\t};\r\n\tlet Base = ()\r\n\t{\r\n\tProtectedContainerUnderResourceSpecific | distinct ProtectedContainerName, ProtectedContainerFriendlyName, ProtectedContainerUniqueId \r\n\t| join  kind= rightouter  (\r\n\t\tBackupItemAssociationHistoryUnderResourceSpecific |  project ProtectedContainerUniqueId, BackupItemUniqueId, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t) on ProtectedContainerUniqueId\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId = ProtectedContainerUniqueId1, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Size = ()\r\n\t{\r\n\tBase\r\n\t| join kind= leftouter (\r\n\t   BackupItemFrontEndSizeHistoryUnderResourceSpecific | project BackupItemFrontEndSize, BackupItemUniqueId, TimeGenerated, TimeRangeEndDay \r\n\t) on BackupItemUniqueId, TimeRangeEndDay\r\n\t\/\/ using leftouter due to AzureStorage - storageconsumption table is not emitted. inner join will exclude AzureStorage BackupItems.\r\n\t| join kind= leftouter (\r\n\t   StorageAssociationHistoryUnderResourceSpecific | project StorageConsumedInMBs, BackupItemUniqueId, TimeGenerated, TimeRangeEndDay\r\n\t) on BackupItemUniqueId, TimeRangeEndDay\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, BackupItemFrontEndSize,\r\n\t StorageConsumedInMBs, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Policy = ()\r\n\t{\r\n\tJoinWithPolicy(Base) \r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, PolicyName, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_RP = ()\r\n\t{\r\n\tJoinWithRP(Base)\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, OldestRecoveryPointTime, LatestRecoveryPointTime, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Policy_RP = ()\r\n\t{\r\n\tJoinWithRP(Base_Policy)\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, PolicyName, OldestRecoveryPointTime, LatestRecoveryPointTime, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Size_RP = ()\r\n\t{\r\n\tJoinWithRP(Base_Size)\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, BackupItemFrontEndSize,\r\n\t StorageConsumedInMBs, OldestRecoveryPointTime, LatestRecoveryPointTime, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Size_Policy = ()\r\n\t{\r\n\tJoinWithPolicy(Base_Size)\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, PolicyName,BackupItemFrontEndSize, StorageConsumedInMBs, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Size_Policy_RP = ()\r\n\t{\r\n\tJoinWithRP(Base_Size_Policy)\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, PolicyName,BackupItemFrontEndSize, StorageConsumedInMBs, OldestRecoveryPointTime, LatestRecoveryPointTime, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tunion ( Base | where _DisplayAllFields == false ),\t   \r\n\t   ( Base_Size_Policy_RP | where _DisplayAllFields== true)\r\n};\r\nlet LatestBackupItemAssociationAndStorageConsumptionHistoryTable = ()\r\n\/\/let partition_data = (p:long, n:long)\r\n{\r\nTotalBackupItemDimensionTable | join  \r\n(union isfuzzy = true  \r\n(BI_HistoryCombinationUnderAzureDiagnostics() | where _ExcludeLegacyEvent == false\r\n),\r\n(BI_HistoryCombinationUnderResourceSpecific())\r\n\/\/| where hash(BackupItemUniqueId, n) == p\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay)\r\n  on BackupItemUniqueId\r\n| where isempty(_DatasourceSetName) or _DatasourceSetName == \"*\" or ProtectedContainerFriendlyName contains (_DatasourceSetName)\r\n| project BackupItemUniqueId, BackupItemName, BackupItemFriendlyName, BackupManagementType, BackupItemType, BackupSolution, BackupItemProtectionState, VaultUniqueId,\r\nVaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, TimeGenerated, ResourceId,  ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, PolicyUniqueId, PolicyName, BackupItemFrontEndSize, StorageConsumedInMBs, BackupManagementServerUniqueId, StorageReplicationType, OldestRecoveryPointTime, LatestRecoveryPointTime\r\n};\r\nlet FinalTable = () {\r\nLatestBackupItemAssociationAndStorageConsumptionHistoryTable\r\n| project BackupItemName, BackupItemFriendlyName, BackupItemProtectionState, PolicyUniqueId, PolicyName = iff(BackupItemProtectionState == \"ProtectionStopped\", \"(none)\", PolicyName), SubscriptionId, ResourceGroupName, AzureDataCenter, VaultUniqueId, VaultName, VaultTags, BackupManagementType, BackupItemType, BackupSolution, BackupItemFrontEndSize,  StorageConsumedInMBs = iff(isempty(StorageConsumedInMBs), todouble(0), StorageConsumedInMBs), ResourceId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupItemUniqueId, StorageReplicationType, OldestRecoveryPointTime, LatestRecoveryPointTime, TimeGenerated\r\n};\r\nlet FinalTable_V1Vault = () {Extend_DatasourceType(Extend_BackupInstanceId(Extend_DatasourceSetResourceId_DatasourceSetType_DatasourceResourceId(FinalTable)))\r\n|  extend container_array = split(ProtectedContainerName,\";\")\r\n|  extend container_arraylen = array_length(container_array)\r\n| project UniqueId = BackupItemUniqueId, Id = BackupInstanceId, FriendlyName = BackupItemFriendlyName, ProtectionInfo = BackupItemProtectionState, LatestRecoveryPoint = LatestRecoveryPointTime, OldestRecoveryPoint = OldestRecoveryPointTime, SourceSizeInMBs = BackupItemFrontEndSize, VaultStore_StorageConsumptionInMBs = StorageConsumedInMBs, DataSourceFriendlyName = BackupItemFriendlyName, BackupSolution, DatasourceType, DatasourceResourceId, DatasourceSetFriendlyName = ProtectedContainerFriendlyName,   DatasourceSetResourceId, DatasourceSetType,  PolicyName, PolicyUniqueId, PolicyId = strcat(ResourceId, \"\/backupPolicies\/\", PolicyName),  VaultResourceId = ResourceId, VaultUniqueId, VaultName, VaultTags, VaultStore_StorageReplicationType = StorageReplicationType, VaultSubscriptionId = SubscriptionId, VaultLocation = AzureDataCenter, VaultType = \"Microsoft.RecoveryServices\/vaults\", TimeGenerated};\r\nlet BackupItemTrendsUnderResourceSpecificForDPP = ()\r\n{\r\nCoreAzureBackup\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where VaultType == \"Microsoft.DataProtection\/backupVaults\"\r\n| where OperationName == \"BackupItem\" \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| where VaultType in~ (_VaultTypeList) or '*' in (_VaultTypeList)\r\n| where BackupItemProtectionState in~(_ProtectionInfoList) or '*' in (_ProtectionInfoList)\r\n| where ConvertDataSourceTypeToBackupSolution(DatasourceType) in~ (_BackupSolutionList) or \"*\" in (_BackupSolutionList)\r\n| where isempty(_DatasourceSetName) or _DatasourceSetName == \"*\" or DatasourceSetFriendlyName contains (_DatasourceSetName)\r\n| where isempty(_BackupInstanceName) or _BackupInstanceName == \"*\" or  BackupItemFriendlyName contains (_BackupInstanceName)\r\n| extend StorageConsumedInMBs = iff(isnotempty(tostring(StorageConsumedInMBs)),StorageConsumedInMBs,toreal(0))\r\n| extend ArchiveTierStorageConsumedInMBs = iff(isnotempty(tostring(ArchiveTierStorageConsumedInMBs)),ArchiveTierStorageConsumedInMBs,toreal(0))\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n|project UniqueId = toupper(BackupItemUniqueId), Id = toupper(BackupItemId), FriendlyName = BackupItemFriendlyName, ProtectionInfo = ConvertBackupItemProtectionStateToProtectionInfo(BackupItemProtectionState), LatestRecoveryPoint = LatestRecoveryPointTime, OldestRecoveryPoint = OldestRecoveryPointTime, ArchiveTierLatestRecoveryPoint = ArchiveTierLatestRecoveryPointTime, ArchiveTierOldestRecoveryPoint = ArchiveTierOldestRecoveryPointTime, SourceSizeInMBs = BackupItemFrontEndSize, VaultStore_StorageConsumptionInMBs = StorageConsumedInMBs, ArchiveStore_StorageConsumptionInMBs = ArchiveTierStorageConsumedInMBs,  DataSourceFriendlyName = DatasourceFriendlyName, BackupSolution = ConvertDataSourceTypeToBackupSolution(DatasourceType), DatasourceType, DatasourceResourceId = toupper(DatasourceResourceId), DatasourceSetFriendlyName = iff(isnotempty(DatasourceSetFriendlyName),DatasourceSetFriendlyName,DatasourceFriendlyName), DatasourceSetResourceId = iff(isnotempty(toupper(DatasourceSetResourceId)),toupper(DatasourceSetResourceId),toupper(DatasourceResourceId)), DatasourceSetType, PolicyName, PolicyUniqueId = toupper(PolicyUniqueId), PolicyId = toupper(PolicyId), VaultResourceId = toupper(ResourceId), VaultUniqueId = toupper(VaultUniqueId), VaultName, VaultTags, VaultSubscriptionId = toupper(SubscriptionId), VaultLocation = AzureDataCenter, VaultStore_StorageReplicationType = StorageReplicationType, ArchiveStore_StorageReplicationType = ArchiveTierStorageReplicationType, VaultType, TimeGenerated\r\n| summarize arg_max(TimeGenerated, *) by UniqueId, TimeRangeEndDay = startofday(TimeGenerated)\r\n| project UniqueId,Id,FriendlyName,ProtectionInfo,LatestRecoveryPoint,OldestRecoveryPoint,SourceSizeInMBs,VaultStore_StorageConsumptionInMBs,DataSourceFriendlyName,BackupSolution,DatasourceType,DatasourceResourceId,DatasourceSetFriendlyName,DatasourceSetResourceId,DatasourceSetType,PolicyUniqueId,VaultResourceId,VaultUniqueId,VaultName,VaultSubscriptionId,VaultLocation,VaultStore_StorageReplicationType,ArchiveStore_StorageReplicationType,VaultType,TimeGenerated = TimeRangeEndDay\r\n};\r\nlet FinalTable_DPP = ()\r\n{\r\nBackupItemTrendsUnderResourceSpecificForDPP\r\n| project UniqueId,Id,FriendlyName,ProtectionInfo,LatestRecoveryPoint,OldestRecoveryPoint,SourceSizeInMBs,VaultStore_StorageConsumptionInMBs,DataSourceFriendlyName,BackupSolution,DatasourceType,DatasourceResourceId,DatasourceSetFriendlyName,DatasourceSetResourceId,DatasourceSetType,PolicyUniqueId,VaultResourceId,VaultUniqueId,VaultName,VaultSubscriptionId,VaultLocation,VaultStore_StorageReplicationType,ArchiveStore_StorageReplicationType,VaultType,TimeGenerated\r\n};\r\nlet FinalTable_Reporting = ()\r\n{\r\nunion (FinalTable_DPP |where \"Microsoft.DataProtection\/backupVaults\" in~ (_VaultTypeList) or '*' in (_VaultTypeList)), (FinalTable_V1Vault | where \"Microsoft.RecoveryServices\/vaults\" in~ (_VaultTypeList) or '*' in (_VaultTypeList))\r\n};\r\nFinalTable_Reporting"
                  }
                ]
              }
            },
            "Initialize_variable-CoreAzureBackup": {
              "runAfter": {
                "Initialize_variable-AzureDiagnostics": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "CoreAzureBackup_Incomplete",
                    "type": "string",
                    "value": "let CoreAzureBackup = ()\n{\nunion"
                  }
                ]
              }
            },
            "Initialize_variable-EmailBodyForSuccessfulRun": {
              "runAfter": {
                "Initialize_variable-BackupInstanceTrendFunction": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "visual",
                    "type": "string"
                  }
                ]
              }
            },
            "Initialize_variable-JobFunction": {
              "runAfter": {
                "Initialize_variable-ReportFilterForHistoricalData": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "JobFunction",
                    "type": "string",
                    "value": "@{variables('workspacesToQuery_Custom')}\r\n\/\/ Report filters\r\n@{variables('ReportFilter_Trend')}\r\nlet _ProtectionStateList = \"*\";\r\nlet _DatasourceSetName = \"*\";\r\nlet _BackupInstanceName = \"*\";\r\nlet _JobOperationList = \"*\";\r\nlet _JobStatusList = \"*\";\r\nlet _JobFailureCodeList = \"*\";\r\nlet _ExcludeLog = true;\r\n\/\/ Other Vars\r\nlet ExtRangeStart = _RangeStart - 2d;\r\nlet ExtRangeEnd = _RangeEnd + 2d;\r\nlet AsonDay =  _RangeEnd-1d;\r\nlet AzureStorageCutoffDate = datetime(6\/01\/2020, 12:00:00.000 AM);\r\n\/\/ HelperFunctions\r\nlet ConvertDataSourceTypeToBackupSolution = (DataSourceType:string)\r\n{\r\n\tiff(DataSourceType == \"Microsoft.DBforPostgreSQL\/servers\/databases\",\"Azure Database for PostgreSQL Server Backup\",iff(DataSourceType == \"Microsoft.Storage\/storageAccounts\/blobServices\", \"Azure Blob Backup\",iff(DataSourceType == \"Microsoft.Compute\/disks\",\"Azure Disk Backup\",\"\")))\r\n};\r\nlet Extend_BackupSolution = (T:(BackupManagementType:string, BackupItemType:string))\r\n{\r\nT | extend BackupSolution = iff(BackupManagementType == \"IaaSVM\", \"Azure Virtual Machine Backup\", \r\niff(BackupManagementType == \"MAB\", \"Azure Backup Agent\", \r\niff(BackupManagementType == \"DPM\", \"DPM\", \r\niff(BackupManagementType == \"AzureBackupServer\", \"Azure Backup Server\", \r\niff(BackupManagementType == \"AzureStorage\", \"Azure Storage (Azure Files) Backup\", \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\", \"SQL in Azure VM Backup\", \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\", \"SAP HANA in Azure VM Backup\", \"\")))))))\r\n};\r\nlet Extend_DatasourceType = (T:(BackupManagementType:string, BackupItemType:string))\r\n{\r\nT | extend DatasourceType = iff(BackupManagementType == \"IaaSVM\", \"Microsoft.Compute\/virtualMachines\", \r\niff(BackupManagementType == \"MAB\", BackupItemType, \r\niff(BackupManagementType == \"DPM\", iff(BackupItemType == \"SQLDB\",\"SQLDataBase\",BackupItemType), \r\niff(BackupManagementType == \"AzureBackupServer\", iff(BackupItemType == \"SQLDB\",\"SQLDataBase\",BackupItemType), \r\niff(BackupManagementType == \"AzureStorage\", \"Microsoft.Storage\/storageAccounts\/fileServices\/shares\", \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\", \"SQLDataBase\", \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\", \"SAPHanaDatabase\", \"\")))))))\r\n};\r\nlet Extend_BackupInstanceId = (T:(ResourceId:string, BackupManagementType:string, BackupItemType:string, ProtectedContainerName:string, BackupItemName:string))\r\n{\r\nT | extend BackupInstanceId =  toupper(iff ((BackupManagementType == \"IaaSVM\" and BackupItemType == \"VM\"), strcat(ResourceId,\"\/backupFabrics\/Azure\/protectionContainers\/IaasVMContainer;\", ProtectedContainerName, \"\/protectedItems\/VM;\", ProtectedContainerName),\r\niff((BackupManagementType == \"AzureStorage\" and BackupItemType == \"AzureFileShare\"), strcat(ResourceId,\"\/backupFabrics\/Azure\/protectionContainers\/StorageContainer;\", ProtectedContainerName, \"\/protectedItems\/AzureFileShare;\", BackupItemName) , \r\niff((BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\"), strcat(ResourceId,\"\/backupFabrics\/Azure\/protectionContainers\/VMAppContainer;\", ProtectedContainerName, \"\/protectedItems\/SQLDataBase;\", BackupItemName) , \r\niff((BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\"), strcat(ResourceId,\"\/backupFabrics\/Azure\/protectionContainers\/VMAppContainer;\", ProtectedContainerName, \"\/protectedItems\/SAPHanaDatabase;\", BackupItemName), \"\")))))\r\n};\r\nlet Extend_DatasourceSetResourceId_DatasourceSetType_DatasourceResourceId = (T:(ResourceId:string, ProtectedContainerName:string, BackupManagementType:string, BackupItemType:string, BackupItemUniqueId:string, BackupItemName:string, BackupItemFriendlyName:string))\r\n{\r\nT | extend prefix = array_strcat(array_split(split(ResourceId,\"\/\"), 4)[0] ,\"\/\")\r\n|  extend container_array = split(ProtectedContainerName,\";\")\r\n|  extend container_arraylen = array_length(container_array)\r\n| extend containerNameString = iff(container_arraylen == 3, ProtectedContainerName, \"\")\r\n| parse containerNameString with entityType:string \";\" rgName:string \";\" entityName:string\r\n| extend entityURL = iff((BackupManagementType == \"AzureStorage\" and BackupItemType == \"AzureFileShare\"), iff(entityType == \"storage\", \"\/Microsoft.Storage\/storageAccounts\/\", \"\/Microsoft.ClassicStorage\/storageAccounts\/\"), iff((BackupManagementType == \"IaaSVM\" and BackupItemType == \"VM\"), iff(entityType =~ \"iaasvmcontainerv2\", \"\/Microsoft.Compute\/virtualMachines\/\", \"\/Microsoft.ClassicCompute\/virtualMachines\/\"), iff(((BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\") or (BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\")), iff(entityType =~ \"compute\", \"\/Microsoft.Compute\/virtualMachines\/\", \"\/Microsoft.ClassicCompute\/virtualMachines\/\"), \"\")))\r\n| extend DatasourceSetResourceId = toupper(iff(BackupManagementType in (\"DPM\", \"AzureBackupServer\", \"MAB\"), \"\" , iff(containerNameString != \"\", strcat(prefix, \"\/\", rgName, \"\/providers\", entityURL, entityName), \"\")))\r\n\/\/BackupSolution\r\n| extend DatasourceSetType = iff(BackupManagementType == \"IaaSVM\", iff(entityType =~ \"iaasvmcontainerv2\", \"Microsoft.Compute\/virtualMachines\", \"Microsoft.ClassicCompute\/virtualMachines\"),  \r\niff(BackupManagementType == \"MAB\", \"Azure Backup Agent\", \r\niff(BackupManagementType == \"DPM\", \"DPM\", \r\niff(BackupManagementType == \"AzureBackupServer\", \"Azure Backup Server\", \r\niff(BackupManagementType == \"AzureStorage\", iff(entityType == \"storage\", \"Microsoft.Storage\/storageAccounts\", \"Microsoft.ClassicStorage\/storageAccounts\"), \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\", iff(entityType =~ \"compute\", \"Microsoft.Compute\/virtualMachines\", \"Microsoft.ClassicCompute\/virtualMachines\"), \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\", iff(entityType =~ \"compute\", \"Microsoft.Compute\/virtualMachines\", \"Microsoft.ClassicCompute\/virtualMachines\"), \"\")))))))\r\n| extend DatasourceResourceId = toupper(iff(BackupManagementType in (\"DPM\", \"AzureBackupServer\", \"MAB\"), BackupItemUniqueId, \r\niff(BackupManagementType == \"IaaSVM\", DatasourceSetResourceId, \r\niff(BackupManagementType == \"AzureStorage\", strcat(DatasourceSetResourceId, \"\/fileServices\/default\/shares\/\", BackupItemFriendlyName),\r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\",iff(DatasourceSetResourceId != \"\",strcat(DatasourceSetResourceId, \"\/providers\/Microsoft.RecoveryServices\/backupProtectedItem\/SQLDataBase;\", BackupItemName),\"\"),\r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\",iff(DatasourceSetResourceId != \"\",strcat(DatasourceSetResourceId, \"\/providers\/Microsoft.RecoveryServices\/backupProtectedItem\/SAPHanaDatabase;\", BackupItemName),\"\"),\"\"))))))\r\n| project-away prefix, container_array, container_arraylen, containerNameString, entityURL \r\n};\r\n\/\/ Source Tables\r\nlet VaultUnderAzureDiagnostics = ()\r\n{\r\nAzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= ExtRangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where Category == \"AzureBackupReport\" and OperationName == \"Vault\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\"\r\n| project VaultName = columnifexists(\"VaultName_s\", \"\"), VaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), VaultTags = columnifexists(\"VaultTags_s\", \"\"), AzureDataCenter =  columnifexists(\"AzureDataCenter_s\", \"\"), ResourceGroupName =  columnifexists(\"ResourceGroupName_s\", \"\"), SubscriptionId = toupper(SubscriptionId), StorageReplicationType = columnifexists(\"StorageReplicationType_s\", \"\"), ResourceId, TimeGenerated \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| summarize arg_max(TimeGenerated, *) by ResourceId\r\n| project StorageReplicationType, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, ResourceId, TimeGenerated\r\n};\r\nlet VaultUnderResourceSpecific = ()\r\n{\r\nCoreAzureBackup\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= ExtRangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where OperationName == \"Vault\" \r\n| project StorageReplicationType, VaultUniqueId, VaultName, VaultTags, SubscriptionId = toupper(SubscriptionId), ResourceGroupName, AzureDataCenter, ResourceId, TimeGenerated \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| summarize arg_max(TimeGenerated, *) by ResourceId\r\n};\r\nlet ResourceIdListUnderAzureDiagnostics = materialize(VaultUnderAzureDiagnostics | distinct ResourceId);\r\nlet ResourceIdListUnderResourceSpecific = materialize(VaultUnderResourceSpecific | distinct ResourceId);\r\nlet BackupItemUnderAzureDiagnostics = ()\r\n{\r\nlet SourceBackupItemTable = AzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= ExtRangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItem\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupItemProtectionState = columnifexists(\"BackupItemProtectionState_s\", \"\"), BackupItemAppVersion = columnifexists(\"BackupItemAppVersion_s\", \"\"),SecondaryBackupProtectionState = columnifexists(\"SecondaryBackupProtectionState_s\", \"\"), BackupItemName = columnifexists(\"BackupItemName_s\", \"\"), BackupItemFriendlyName = columnifexists(\"BackupItemFriendlyName_s\", \"\"),\r\nBackupItemType = columnifexists(\"BackupItemType_s\", \"\"),  ProtectionGroupName = columnifexists(\"ProtectionGroupName_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId\r\n\/\/Handle MAB system state\r\n\/\/ Excluding SecondaryBackupProtectionState, BackupItemAppVersion, ProtectionGroupName\r\n|  project BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupItemName = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), \"System State\", BackupItemName), BackupItemProtectionState, BackupItemAppVersion, SecondaryBackupProtectionState, ProtectionGroupName, BackupItemFriendlyName, BackupItemType, BackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\");\r\nlet BackupItemTable = Extend_BackupSolution(SourceBackupItemTable)\r\n| where BackupSolution in~ (_BackupSolutionList) or '*' in (_BackupSolutionList)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nVaultUnderAzureDiagnostics | join   (\r\n   BackupItemTable \r\n) on ResourceId\r\n| project-away ResourceId1, TimeGenerated1;\r\n};\r\nlet BackupItemUnderResourceSpecific = ()\r\n{\r\nlet SourceBackupItemTable = CoreAzureBackup\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= ExtRangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where OperationName == \"BackupItem\" and State != \"Deleted\"\r\n\/\/Handle MAB system state\r\n\/\/ Excluding SecondaryBackupProtectionState, BackupItemAppVersion, ProtectionGroupName\r\n|  project BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupItemName = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), \"System State\", BackupItemName), BackupItemProtectionState, BackupItemAppVersion, SecondaryBackupProtectionState, ProtectionGroupName, BackupItemFriendlyName, BackupItemType, BackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\");\r\nlet BackupItemTable = Extend_BackupSolution(SourceBackupItemTable)\r\n| where BackupSolution in~ (_BackupSolutionList) or '*' in (_BackupSolutionList)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nVaultUnderResourceSpecific | join   (\r\n   BackupItemTable \r\n) on ResourceId\r\n| project-away ResourceId1, TimeGenerated1;\r\n};\r\nlet ProtectedContainerUnderAzureDiagnostics = ()\r\n{\r\nlet ProtectedContainerTable = AzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= ExtRangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where Category == \"AzureBackupReport\" and OperationName == \"ProtectedContainer\"  and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"),  ProtectedContainerFriendlyName = columnifexists(\"ProtectedContainerFriendlyName_s\", \"\"), AgentVersion = columnifexists(\"AgentVersion_s\", \"\"),\r\nProtectedContainerOSType = columnifexists(\"ProtectedContainerOSType_s\", \"\"), ProtectedContainerOSVersion = columnifexists(\"ProtectedContainerOSVersion_s\", \"\"), ProtectedContainerWorkloadType = columnifexists(\"ProtectedContainerWorkloadType_s\", \"\"),  ProtectedContainerName = columnifexists(\"ProtectedContainerName_s\", \"\"), ProtectedContainerProtectionState = columnifexists(\"ProtectedContainerProtectionState_s\", \"\"), ProtectedContainerLocation = columnifexists(\"ProtectedContainerLocation_s\", \"\"), ProtectedContainerType = columnifexists(\"ProtectedContainerType_s\", \"\"),\r\nBackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by ProtectedContainerUniqueId;\r\nVaultUnderAzureDiagnostics | join   (\r\n   ProtectedContainerTable \r\n) on ResourceId;\r\n};\r\nlet ProtectedContainerUnderResourceSpecific = ()\r\n{\r\nlet ProtectedContainerTable = CoreAzureBackup\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= ExtRangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where OperationName == \"ProtectedContainer\" and State != \"Deleted\"\r\n| project ProtectedContainerUniqueId,  ProtectedContainerFriendlyName, AgentVersion,\r\nProtectedContainerOSType, ProtectedContainerOSVersion, ProtectedContainerWorkloadType,  ProtectedContainerName, ProtectedContainerProtectionState, ProtectedContainerLocation, ProtectedContainerType,\r\nBackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by ProtectedContainerUniqueId;\r\nVaultUnderResourceSpecific | join   (\r\n   ProtectedContainerTable \r\n) on ResourceId;\r\n};\r\nlet BackupItemAssociationUnderAzureDiagnostics = ()\r\n{\r\n let BackupItemAssociationTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= ExtRangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItemAssociation\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"), ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"), \r\nVaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), PolicyUniqueIdGuid = columnifexists(\"PolicyUniqueId_g\", \"\") , PolicyUniqueIdStr = columnifexists(\"PolicyUniqueId_s\", \"\"),\r\nTimeGenerated, ResourceId  \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n\/\/ PolicyUniqueId can be either guid or string due to AzureDiagnostics behaviour\r\n| project PolicyUniqueId = iff(PolicyUniqueIdGuid == \"\", PolicyUniqueIdStr, PolicyUniqueIdGuid), BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemAssociationTable\r\n};\r\nlet BackupItemAssociationUnderResourceSpecific = ()\r\n{\r\nlet BackupItemAssociationTable = CoreAzureBackup \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= ExtRangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"BackupItemAssociation\" and State != \"Deleted\"\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n| project PolicyUniqueId, BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemAssociationTable\r\n};\r\nlet PolicyUnderAzureDiagnostics = ()\r\n{\r\nlet PolicyTable = AzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= ExtRangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where OperationName == \"Policy\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\"\r\n| project PolicyUniqueIdGuid = columnifexists(\"PolicyUniqueId_g\", \"\") , PolicyUniqueIdStr = columnifexists(\"PolicyUniqueId_s\", \"\"), PolicyName = columnifexists(\"PolicyName_s\", \"\"), ResourceId, BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated\r\n| project PolicyUniqueId = iff(PolicyUniqueIdGuid == \"\", PolicyUniqueIdStr, PolicyUniqueIdGuid), BackupManagementType, PolicyName, ResourceId, TimeGenerated \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by PolicyUniqueId,  ResourceId;\r\nPolicyTable\r\n};\r\nlet PolicyUnderResourceSpecific = ()\r\n{\r\nlet PolicyTable = AddonAzureBackupPolicy\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= ExtRangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"Policy\" \r\n| project PolicyUniqueId, PolicyName, ResourceId, TimeGenerated, BackupManagementType\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by PolicyUniqueId,  ResourceId;\r\nPolicyTable\r\n};\r\nlet JobUnderAzureDiagnostics = (IsBackupItemAssociatedJobsOnly:bool)\r\n{\r\nlet JobTable = AzureDiagnostics \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= ExtRangeStart and TimeGenerated <= ExtRangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"Job\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\"\r\n\/\/ Exclude Log Jobs and InProgress Jobs\r\n| project JobOperation = columnifexists(\"JobOperation_s\", \"\") , JobOperationSubType = columnifexists(\"JobOperationSubType_s\", \"\"), JobUniqueIdGuid = columnifexists(\"JobUniqueId_g\", \"\") , JobUniqueIdStr = columnifexists(\"JobUniqueId_s\", \"\"),\r\nProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\",\"\"), AdHocOrScheduledJob = columnifexists(\"AdHocOrScheduledJob_s\",\"\"), RecoveryJobDestination = columnifexists(\"RecoveryJobDestination_s\",\"\"),\r\nRecoveryJobRPDateTime = todatetime(columnifexists(\"RecoveryJobRPDateTime_s\",\"\")), RecoveryJobRPLocation = columnifexists(\"RecoveryJobRPLocation_s\",\"\"), RecoveryLocationType = columnifexists(\"RecoveryLocationType_s\",\"\"),\r\nBackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\",\"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\",\"\"), VaultUniqueId = columnifexists(\"VaultUniqueId_s\",\"\"),\r\nJobStatus = columnifexists(\"JobStatus_s\",\"\"), JobFailureCode = columnifexists(\"JobFailureCode_s\",\"\"), JobStartDateTime = todatetime(columnifexists(\"JobStartDateTime_s\",\"\")), JobDurationInSecs = todouble(columnifexists(\"JobDurationInSecs_s\", \"\")),\r\nDataTransferredInMB = todouble(columnifexists(\"DataTransferredInMB_s\",\"\")), BackupManagementType = columnifexists(\"BackupManagementType_s\",\"\"), TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (IsBackupItemAssociatedJobsOnly and BackupItemUniqueId != \"\") or ( not(IsBackupItemAssociatedJobsOnly))\r\n\/\/ Exclude Log Jobs and InProgress Jobs\r\n| where not(JobStatus == \"InProgress\")\r\n| where ( _ExcludeLog and not((JobOperation == \"Backup\" and JobOperationSubType == \"Log\") or (JobOperation  == \"Backup\" and JobOperationSubType == \"Recovery point_Log\"))) or not(_ExcludeLog) \r\n| extend JobUniqueId = iff(JobUniqueIdGuid == \"\", JobUniqueIdStr, JobUniqueIdGuid) \r\n| project-away JobUniqueIdGuid, JobUniqueIdStr\r\n| where JobStartDateTime >= _RangeStart and JobStartDateTime <= _RangeEnd\r\n| summarize arg_max(TimeGenerated, *)  by  BackupItemUniqueId, JobUniqueId ;\r\nJobTable\r\n};\r\nlet JobUnderResourceSpecific = (IsBackupItemAssociatedJobsOnly:bool)\r\n{\r\nlet JobTable = AddonAzureBackupJobs \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= ExtRangeStart and TimeGenerated <= ExtRangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"Job\" \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (IsBackupItemAssociatedJobsOnly and BackupItemUniqueId != \"\") or ( not(IsBackupItemAssociatedJobsOnly))\r\n\/\/ Exclude Log Jobs and InProgress Jobs\r\n| where not(JobStatus == \"InProgress\")\r\n| where ( _ExcludeLog and not((JobOperation == \"Backup\" and JobOperationSubType == \"Log\") or (JobOperation  == \"Backup\" and JobOperationSubType == \"Recovery point_Log\"))) or not(_ExcludeLog)\r\n| where JobStartDateTime >= _RangeStart and JobStartDateTime <= _RangeEnd\r\n| summarize arg_max(TimeGenerated, *)  by BackupItemUniqueId, JobUniqueId;\r\nJobTable\r\n};\r\n\/\/ BusinessLogic\r\nlet TotalBackupItemDimensionTable = () {union isfuzzy = true \r\n(BackupItemUnderAzureDiagnostics()),\r\n(BackupItemUnderResourceSpecific())\r\n| summarize arg_max(TimeGenerated, *)   by BackupItemUniqueId\r\n| where isempty(_BackupInstanceName) or _BackupInstanceName == \"*\" or  BackupItemFriendlyName contains (_BackupInstanceName)\r\n| extend BackupItemProtectionState = iff(BackupItemProtectionState in (\"Protected\", \"ActivelyProtected\",\"ProtectionError\"), \"Protected\", iff(BackupItemProtectionState in (\"IRPending\"), \"InitialBackupPending\", iff(isnotempty(BackupItemProtectionState),\"ProtectionStopped\",BackupItemProtectionState)))\r\n\/\/| where BackupItemProtectionState in~ (_ProtectionInfoList) or '*' in (_ProtectionInfoList)\r\n| project BackupItemUniqueId,  BackupItemName, BackupItemFriendlyName, BackupManagementType, BackupItemType, BackupSolution, BackupItemProtectionState,\r\nStorageReplicationType, ResourceId, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter};\r\nlet BI_CombinationUnderAzureDiagnostics = ()\r\n{\r\nlet JoinWithPolicy = (T:(PolicyUniqueId:string, ResourceId:string))\r\n{\r\nT | join kind= leftouter (\r\n PolicyUnderAzureDiagnostics | project PolicyUniqueId, PolicyName, ResourceId) on PolicyUniqueId, ResourceId\r\n};\r\nlet Base = () {ProtectedContainerUnderAzureDiagnostics | distinct ProtectedContainerName, ProtectedContainerFriendlyName, ProtectedContainerUniqueId \r\n| join kind= rightouter  (\r\n    BackupItemAssociationUnderAzureDiagnostics \r\n\t\/\/ To show as per as on 'AsonDay'\r\n\t| where startofday(TimeGenerated) == AsonDay\r\n\t| project ProtectedContainerUniqueId, BackupItemUniqueId, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, ResourceId\r\n) on ProtectedContainerUniqueId \r\n| project BackupItemUniqueId, ProtectedContainerUniqueId = ProtectedContainerUniqueId1, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, ResourceId\r\n};\r\nlet Base_Policy = ()\r\n{\r\nJoinWithPolicy(Base) \r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, PolicyName, TimeGenerated, ResourceId\r\n};\r\nBase_Policy\r\n};\r\nlet BI_CombinationUnderResourceSpecific = ()\r\n{\r\nlet JoinWithPolicy = (T:(PolicyUniqueId:string, ResourceId:string))\r\n{\r\nT | join kind= leftouter (\r\n PolicyUnderResourceSpecific | project PolicyUniqueId, PolicyName, ResourceId) on PolicyUniqueId, ResourceId\r\n};\r\nlet Base = () {ProtectedContainerUnderResourceSpecific | distinct ProtectedContainerName, ProtectedContainerFriendlyName, ProtectedContainerUniqueId \r\n| join kind= rightouter  (\r\n    BackupItemAssociationUnderResourceSpecific \r\n\t\/\/ To show as per as on 'AsonDay'\r\n\t| where startofday(TimeGenerated) == AsonDay\r\n\t| project ProtectedContainerUniqueId, BackupItemUniqueId, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, ResourceId\r\n) on ProtectedContainerUniqueId \r\n| project BackupItemUniqueId, ProtectedContainerUniqueId = ProtectedContainerUniqueId1, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, ResourceId\r\n};\r\nlet Base_Policy = ()\r\n{\r\nJoinWithPolicy(Base) \r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, PolicyName, TimeGenerated, ResourceId\r\n};\r\nBase_Policy\r\n};\r\nlet LatestBackupItemWithProtectedContainerTable = () \r\n{\r\nTotalBackupItemDimensionTable\r\n| join  (union isfuzzy = true   \r\n(BI_CombinationUnderAzureDiagnostics()| where _ExcludeLegacyEvent == false),\r\n(BI_CombinationUnderResourceSpecific())\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId) on BackupItemUniqueId\r\n| where isempty(_DatasourceSetName) or _DatasourceSetName == \"*\" or ProtectedContainerFriendlyName contains (_DatasourceSetName)\r\n| project BackupItemUniqueId,  BackupItemName, BackupItemFriendlyName, BackupManagementType, BackupItemType, BackupSolution, BackupItemProtectionState,\r\nStorageReplicationType, ResourceId, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, PolicyName, TimeGenerated\r\n};\r\nlet JobFinalTable = (){\r\n union isfuzzy = true \r\n(JobUnderAzureDiagnostics(true)| where _ExcludeLegacyEvent == false),\r\n(JobUnderResourceSpecific(true))\r\n| project JobStatus, JobUniqueId, JobOperation, JobFailureCode, JobOperationSubType, JobStartDateTime, DataTransferredInMB, AdHocOrScheduledJob, JobDurationInSecs, RecoveryJobDestination,\r\nRecoveryJobRPDateTime, RecoveryJobRPLocation, RecoveryLocationType, BackupItemUniqueId, ProtectedContainerUniqueId, TimeGenerated \r\n| summarize arg_max(TimeGenerated, *)  by BackupItemUniqueId, JobUniqueId\r\n| where JobOperation in~ (_JobOperationList) or '*' in (_JobOperationList)\r\n| where JobStatus in~ (_JobStatusList) or '*' in (_JobStatusList)\r\n| where JobFailureCode in~ (_JobFailureCodeList) or '*' in (_JobFailureCodeList)\r\n| join kind= inner (LatestBackupItemWithProtectedContainerTable) on BackupItemUniqueId\r\n| project JobUniqueId, JobOperation, JobStatus, JobFailureCode, JobOperationSubType, JobStartDateTime, JobDurationInSecs, DataTransferredInMB, AdHocOrScheduledJob, RecoveryJobDestination,\r\nRecoveryJobRPDateTime, RecoveryJobRPLocation, RecoveryLocationType, BackupItemUniqueId = BackupItemUniqueId1, BackupItemName, BackupItemFriendlyName, BackupManagementType, BackupItemType, BackupSolution, BackupItemProtectionState, StorageReplicationType, ResourceId, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName,  PolicyUniqueId, PolicyName, TimeGenerated\r\n};\r\nlet FinalTable_V1Vault = () {Extend_DatasourceType(Extend_BackupInstanceId(Extend_DatasourceSetResourceId_DatasourceSetType_DatasourceResourceId(JobFinalTable)))\r\n| project UniqueId = JobUniqueId, OperationCategory = JobOperation, Operation = JobOperationSubType, Status = JobStatus, ErrorTitle = JobFailureCode, StartTime = JobStartDateTime, DurationInSecs = JobDurationInSecs, DataTransferredInMBs = DataTransferredInMB, RestoreJobRPDateTime = RecoveryJobRPDateTime, RestoreJobRPLocation = RecoveryJobRPLocation, BackupInstanceUniqueId = BackupItemUniqueId, BackupInstanceId, BackupInstanceFriendlyName = BackupItemFriendlyName, DatasourceResourceId, DatasourceFriendlyName = BackupItemFriendlyName, DatasourceType, BackupSolution,  DatasourceSetResourceId, DatasourceSetType, DatasourceSetFriendlyName = ProtectedContainerFriendlyName, VaultResourceId = ResourceId, VaultUniqueId, VaultName, VaultTags, VaultSubscriptionId = SubscriptionId, VaultLocation = AzureDataCenter, VaultStore_StorageReplicationType = StorageReplicationType,   VaultType = \"Microsoft.RecoveryServices\/vaults\", TimeGenerated};\r\nlet JobHistoryUnderResourceSpecificForDPP = ()\r\n{\r\nAddonAzureBackupJobs\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where VaultType == \"Microsoft.DataProtection\/backupVaults\"\r\n| where OperationName == \"Job\" \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| where VaultType in~ (_VaultTypeList) or '*' in (_VaultTypeList)\r\n| where ConvertDataSourceTypeToBackupSolution(DatasourceType) in~ (_BackupSolutionList) or \"*\" in (_BackupSolutionList)\r\n| where isempty(_DatasourceSetName) or (_DatasourceSetName) == \"*\" or DatasourceSetFriendlyName contains (_DatasourceSetName)\r\n| where isempty(_BackupInstanceName) or _BackupInstanceName == \"*\" or  BackupItemFriendlyName contains (_BackupInstanceName)\r\n| where JobOperation in~ (_JobOperationList) or '*' in (_JobOperationList)\r\n| where JobStatus in~ (_JobStatusList) or '*' in (_JobStatusList)\r\n| where JobFailureCode in~ (_JobFailureCodeList) or '*' in (_JobFailureCodeList)\r\n| project UniqueId = toupper(JobUniqueId), OperationCategory = JobOperation, Operation = JobOperationSubType, BackupInstanceFriendlyName = BackupItemFriendlyName, Status = JobStatus, ErrorTitle = JobFailureCode, StartTime = JobStartDateTime, DurationInSecs = JobDurationInSecs, DataTransferredInMBs = DataTransferredInMB, RestoreJobRPDateTime = RecoveryJobRPDateTime, RestoreJobRPLocation = RecoveryJobRPLocation, BackupInstanceUniqueId = toupper(BackupItemUniqueId), BackupInstanceId = toupper(BackupItemId), DatasourceResourceId = toupper(DatasourceResourceId), DatasourceFriendlyName, DatasourceType, BackupSolution = ConvertDataSourceTypeToBackupSolution(DatasourceType), DatasourceSetResourceId = iff(isnotempty(toupper(DatasourceSetResourceId)),toupper(DatasourceSetResourceId),toupper(DatasourceResourceId)), DatasourceSetType, DatasourceSetFriendlyName = iff(isnotempty(DatasourceSetFriendlyName),DatasourceSetFriendlyName,DatasourceFriendlyName), VaultResourceId = toupper(ResourceId), VaultUniqueId = toupper(VaultUniqueId), VaultName, VaultTags, VaultSubscriptionId = toupper(SubscriptionId), VaultLocation = AzureDataCenter, VaultStore_StorageReplicationType = StorageReplicationType,ArchiveStore_StorageReplicationType = ArchiveTierStorageReplicationType,VaultType, TimeGenerated\r\n| summarize arg_max(TimeGenerated, *) by UniqueId, TimeRangeEndDay = startofday(TimeGenerated)\r\n| project UniqueId, OperationCategory, Operation,BackupInstanceFriendlyName, Status, ErrorTitle, StartTime, DurationInSecs, DataTransferredInMBs, RestoreJobRPDateTime, RestoreJobRPLocation, BackupInstanceUniqueId, BackupInstanceId, DatasourceResourceId, DatasourceFriendlyName, DatasourceType, BackupSolution, DatasourceSetResourceId, DatasourceSetType, VaultResourceId, VaultUniqueId, VaultName, VaultTags, VaultSubscriptionId, VaultLocation,VaultStore_StorageReplicationType, ArchiveStore_StorageReplicationType, VaultType, TimeGenerated = TimeRangeEndDay\r\n};\r\nlet JobUnderResourceSpecificForDPP = ()\r\n{\r\nAddonAzureBackupJobs\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where VaultType == \"Microsoft.DataProtection\/backupVaults\"\r\n| where OperationName == \"Job\" \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| where VaultType in~ (_VaultTypeList) or '*' in (_VaultTypeList)\r\n| where ConvertDataSourceTypeToBackupSolution(DatasourceType) in~ (_BackupSolutionList) or \"*\" in (_BackupSolutionList)\r\n| where isempty(_DatasourceSetName) or (_DatasourceSetName) == \"*\" or DatasourceSetFriendlyName contains (_DatasourceSetName)\r\n| where isempty(_BackupInstanceName) or (_BackupInstanceName) == \"*\" or  BackupItemFriendlyName contains (_BackupInstanceName)\r\n| where JobOperation in~ (_JobOperationList) or '*' in (_JobOperationList)\r\n| where JobStatus in~ (_JobStatusList) or '*' in (_JobStatusList)\r\n| where JobFailureCode in~ (_JobFailureCodeList) or '*' in (_JobFailureCodeList)\r\n| project UniqueId = toupper(JobUniqueId), OperationCategory = JobOperation, Operation = JobOperationSubType, BackupInstanceFriendlyName = BackupItemFriendlyName,  Status = JobStatus, ErrorTitle = JobFailureCode, StartTime = JobStartDateTime, DurationInSecs = JobDurationInSecs, DataTransferredInMBs = DataTransferredInMB, RestoreJobRPDateTime = RecoveryJobRPDateTime, RestoreJobRPLocation = RecoveryJobRPLocation, BackupInstanceUniqueId = toupper(BackupItemUniqueId), BackupInstanceId = toupper(BackupItemId), DatasourceResourceId = toupper(DatasourceResourceId), DatasourceFriendlyName, DatasourceType, BackupSolution = ConvertDataSourceTypeToBackupSolution(DatasourceType), DatasourceSetResourceId =  iff(isnotempty(toupper(DatasourceSetResourceId)),toupper(DatasourceSetResourceId),toupper(DatasourceResourceId)), DatasourceSetType, DatasourceSetFriendlyName = iff(isnotempty(DatasourceSetFriendlyName),DatasourceSetFriendlyName,DatasourceFriendlyName), VaultResourceId = toupper(ResourceId), VaultUniqueId = toupper(VaultUniqueId), VaultName, VaultTags, VaultSubscriptionId = toupper(SubscriptionId), VaultLocation = AzureDataCenter, VaultStore_StorageReplicationType = StorageReplicationType,ArchiveStore_StorageReplicationType = ArchiveTierStorageReplicationType,VaultType, TimeGenerated\r\n| summarize arg_max(TimeGenerated, *) by UniqueId\r\n| project UniqueId, OperationCategory, Operation,BackupInstanceFriendlyName, Status, ErrorTitle, StartTime, DurationInSecs, DataTransferredInMBs, RestoreJobRPDateTime, RestoreJobRPLocation, BackupInstanceUniqueId, BackupInstanceId, DatasourceResourceId, DatasourceFriendlyName, DatasourceType, BackupSolution, DatasourceSetResourceId, DatasourceSetType,DatasourceSetFriendlyName, VaultResourceId, VaultUniqueId, VaultName, VaultTags, VaultSubscriptionId, VaultLocation, VaultStore_StorageReplicationType, ArchiveStore_StorageReplicationType, VaultType, TimeGenerated\r\n};\r\nlet FinalTable_DPP = ()\r\n{\r\nunion (JobUnderResourceSpecificForDPP | where (_RangeEnd-_RangeStart == 1d)), (JobHistoryUnderResourceSpecificForDPP | where (_RangeEnd-_RangeStart > 1d))\r\n| project UniqueId, OperationCategory, Operation,BackupInstanceFriendlyName, Status, ErrorTitle, StartTime, DurationInSecs, DataTransferredInMBs, RestoreJobRPDateTime, RestoreJobRPLocation, BackupInstanceUniqueId, BackupInstanceId, DatasourceResourceId, DatasourceFriendlyName, DatasourceType, BackupSolution, DatasourceSetResourceId, DatasourceSetType,DatasourceSetFriendlyName, VaultResourceId, VaultUniqueId, VaultName, VaultTags, VaultSubscriptionId, VaultLocation, VaultStore_StorageReplicationType, ArchiveStore_StorageReplicationType, VaultType, TimeGenerated\r\n};\r\nlet FinalTable_Reporting = ()\r\n{\r\nunion (FinalTable_DPP |where \"Microsoft.DataProtection\/backupVaults\" in~ (_VaultTypeList) or '*' in (_VaultTypeList)), (FinalTable_V1Vault | where \"Microsoft.RecoveryServices\/vaults\" in~ (_VaultTypeList) or '*' in (_VaultTypeList))\r\n};\r\nFinalTable_Reporting\r\n"
                  }
                ]
              }
            },
            "Initialize_variable-ReportFilterForHistoricalData": {
              "runAfter": {
                "Initialize_variable-UnionOfWorkspaces": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ReportFilter_Trend",
                    "type": "string",
                    "value": "let _RangeStart = datetime_add('day', -@{parameters('timeRangeInDays')},startofday(now()));\nlet _RangeEnd = startofday(now());\nlet _VaultSubscriptionList = split(@{parameters('vaultSubscriptionListFilter')}, ',');\nlet _VaultLocationList = split(@{parameters('vaultLocationListFilter')}, ',');\nlet _VaultList = split(@{parameters('vaultListFilter')}, ',');\nlet _VaultTypeList = \"*\";\nlet _ExcludeLegacyEvent = @{parameters('excludeLegacyEvent')};\nlet _BackupSolutionList =  split(@{parameters('backupSolutionListFilter')}, ',');\nlet _AggregationType = @{parameters('aggregationType')};"
                  }
                ]
              }
            },
            "Initialize_variable-NoDataMessage": {
              "inputs": {
                "variables": [
                  {
                    "name": "NoDataMessage",
                    "type": "array",
                    "value": [
                      {
                        "Message": "No records found"
                      }
                    ]
                  }
                ]
              },
              "runAfter": {
                "Initialize_variable-EmailBodyForSuccessfulRun": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable"
            },
            "Initialize_variable-UnionOfWorkspaces": {
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "workspacesToQuery_Custom",
                    "type": "string",
                    "value": "@{concat(concat(substring(variables('AddonAzureBackupStorage_Incomplete'),0,sub(length(variables('AddonAzureBackupStorage_Incomplete')),1)),'};'),\r\nconcat(substring(variables('AddonAzureBackupProtectedInstance_Incomplete'),0,sub(length(variables('AddonAzureBackupProtectedInstance_Incomplete')),1)),'};'),\r\nconcat(substring(variables('AddonAzureBackupPolicy_Incomplete'),0,sub(length(variables('AddonAzureBackupPolicy_Incomplete')),1)),'};'),\r\nconcat(substring(variables('AddonAzureBackupJobs_Incomplete'),0,sub(length(variables('AddonAzureBackupJobs_Incomplete')),1)),'};'),\r\nconcat(substring(variables('CoreAzureBackup_Incomplete'),0,sub(length(variables('CoreAzureBackup_Incomplete')),1)),'};'),\r\nconcat(substring(variables('AzureDiagnostics_Incomplete'),0,sub(length(variables('AzureDiagnostics_Incomplete')),1)),'};'))}"
                  }
                ]
              }
            },
            "Scope": {
              "actions": {
                "Create_CSV_table-JobList": {
                  "runAfter": {
                    "Run_query_and_list_results-JobList": [
                      "Succeeded"
                    ]
                  },
                  "type": "Table",
                  "inputs": {
                    "format": "CSV",
                    "from": "@if(empty(body('Run_query_and_list_results-JobList')?['value']),variables('NoDataMessage'),body('Run_query_and_list_results-JobList')?['value'])"
                  }
                },
                "Run_query_and_list_results-JobList": {
                  "runAfter": {
                    "Run_query_and_visualize_results-JobFailureCode": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": "@{variables('JobFunction')}\n| project BackupInstance=BackupInstanceFriendlyName, BackupInstanceId, Container=DatasourceSetFriendlyName, ResourceGroup=iff(DatasourceType==\"Azure Backup Agent\" or DatasourceType==\"Azure Backup Server\" or DatasourceType==\"DPM\",\"(none)\",split(split(tostring(tolower(DatasourceSetResourceId)), '/resourcegroups/')[1],'/')[0]\n), OperationCategory, JobStatus=Status,  JobStartDateTime=StartTime, JobDuration=DurationInSecs/3600, ErrorTitle, DataTransferred=DataTransferredInMBs, AzureResource=DatasourceSetResourceId, DatasourceType ",
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/queryData",
                    "queries": {
                      "resourcegroups": "[parameters('workspaceResourceGroup')]",
                      "resourcename": "[parameters('logicAppWorkspace')]",
                      "resourcetype": "Log Analytics Workspace",
                      "subscriptions": "[parameters('workspaceSubscriptionId')]",
                      "timerange": "Set in query"
                    }
                  }
                },
                "Run_query_and_visualize_results-JobFailureCode": {
                  "runAfter": {
                    "Run_query_and_visualize_results-JobOperation": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": "@{variables('JobFunction')}\n// query to transform function output\n| where Status == \"Failed\"\n| summarize JobFailureCode = any(ErrorTitle), JobOperation = any(OperationCategory) by UniqueId\n| summarize count(JobOperation) by JobFailureCode\n| sort by count_JobOperation",
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/visualizeQuery",
                    "queries": {
                      "resourcegroups": "[parameters('workspaceResourceGroup')]",
                      "resourcename": "[parameters('logicAppWorkspace')]",
                      "resourcetype": "Log Analytics Workspace",
                      "subscriptions": "[parameters('workspaceSubscriptionId')]",
                      "timerange": "Set in query",
                      "visType": "Pie Chart"
                    }
                  }
                },
                "Run_query_and_visualize_results-JobOperation": {
                  "runAfter": {
                    "Run_query_and_visualize_results-JobStatus": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": "@{variables('JobFunction')}\n// query to transform function output\n| summarize Status = any(Status), Operation = any(OperationCategory) by UniqueId\n| summarize count(Status) by Operation\n| sort by Operation",
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/visualizeQuery",
                    "queries": {
                      "resourcegroups": "[parameters('workspaceResourceGroup')]",
                      "resourcename": "[parameters('logicAppWorkspace')]",
                      "resourcetype": "Log Analytics Workspace",
                      "subscriptions": "[parameters('workspaceSubscriptionId')]",
                      "timerange": "Set in query",
                      "visType": "Bar Chart"
                    }
                  }
                },
                "Run_query_and_visualize_results-JobStatus": {
                  "type": "ApiConnection",
                  "inputs": {
                    "body": "@{variables('JobFunction')}\n// query to transform function output\n| summarize arg_max(TimeGenerated, Status) by UniqueId\n| summarize count(Status) by  Status, bin(TimeGenerated, 1d)\n| project TimeGenerated, count_Status, JobStatus = ( iff(Status == \"Completed\", \"Succeeded\", iff(Status == \"CompletedWithWarnings\", \"SucceededWithWarnings\", Status)))\n| sort by TimeGenerated asc",
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/visualizeQuery",
                    "queries": {
                      "resourcegroups": "[parameters('workspaceResourceGroup')]",
                      "resourcename": "[parameters('logicAppWorkspace')]",
                      "resourcetype": "Log Analytics Workspace",
                      "subscriptions": "[parameters('workspaceSubscriptionId')]",
                      "timerange": "Set in query",
                      "visType": "Time Chart"
                    }
                  }
                },
                "Set_variable-EmailBodyForSuccessfulRun": {
                  "runAfter": {
                    "Create_CSV_table-JobList": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "visual",
                    "value": "<div>\n<h3> Jobs by Status </h3>\n<br>\n<img src=\"cid:@{body('Run_query_and_visualize_results-JobStatus')?['attachmentName']}\" width:\"50px\"/>\n<br>\n<h3> Jobs by JobOperation </h3>\n<br>\n<img src=\"cid:@{body('Run_query_and_visualize_results-JobOperation')?['attachmentName']}\" width:\"50px\"/>\n<br>\n<h3> Jobs by Failure Code</h3> \n<br>\n<img src=\"cid:@{body('Run_query_and_visualize_results-JobFailureCode')?['attachmentName']}\" width:\"50px\"/>\n<br>\n</div>"
                  }
                }
              },
              "runAfter": {
                "Initialize_variable-NoDataMessage": [
                  "Succeeded"
                ]
              },
              "type": "Scope"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuremonitorlogs": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]",
                "connectionName": "[variables('azureMonitorLogsConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]"
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
              }
            }
          }
        }
      }
    }
  ]
}
