Workbooks/Azure Backup/Backup Report/usage-azuredeploy.armtemplate
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "String",
      "defaultValue": "Usage",
      "metadata": {
        "description": "Name of the Logic App to be created."
      }
    },
    "location": {
      "type": "String",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region in which the Logic App should be created."
      }
    },
    "logicAppWorkspace": {
      "type": "String",
      "metadata": {
        "description": "Name of the existing Log Analytics workspace that the Logic App should connect to. Note that the Logic App connects to a single workspace, but can query data across multiple workspaces. Use the 'Workspaces To Query' parameter to specify the list of workspaces that the Logic App should query data from."
      }
    },
    "workspaceSubscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Subscription Id of the existing Log Analytics workspace that the Logic App should connect to."
      }
    },
    "workspaceResourceGroup": {
      "type": "string",
      "metadata": {
        "description": "Resource Group name of the existing Log Analytics workspace that the Logic App should connect to."
      }
    },
    "workspacesToQuery": {
      "type": "Array",
      "metadata": {
        "description": "List of workspaces that the Logic App should query data from. Should be a comma-separated array of values of the format ['/subscriptions/{subscriptionId1}/resourceGroups/{resourceGroupName1}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName1}','/subscriptions/{subscriptionId2}/resourceGroups/{resourceGroupName2}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName2}']"
      }
    },
    "emailFrequency": {
      "type": "String",
      "allowedValues": [
        "Day",
        "Week",
        "Month"
      ],
      "defaultValue": "Day",
      "metadata": {
        "description": "Frequency at whch emails should be received by the recipient(s). Select 'Day' for sending emails once a day, 'Week' for sending emails once a week, or 'Month' for sending emails once a month."
      }
    },
    "recipientEmailId": {
      "type": "String",
      "metadata": {
        "description": "Email id of the recipient(s). To specify multiple email ids, use a semicolon-separated list."
      }
    },
    "timeRangeInDays": {
      "defaultValue": 8,
      "type": "Int",
      "metadata": {
        "description": "Time range for which data is queried by the logic app. Default value is 7, which enables the logic app to query data for the last 7 days."
      }
    },
    "vaultSubscriptionListFilter": {
      "type": "String",
      "defaultValue": "*",
      "metadata": {
        "description": "Use to filter data queried by the Logic App to a limited set of subscriptions in which Recovery Services vaults exist. Should be of the format '{subscriptionId1},{subscriptionId2},..'. Default value is '*', which enables the Logic App to query data across all backup subscriptions that are sending data to the specified Log Analytics workspaces."
      }
    },
    "vaultLocationListFilter": {
      "type": "String",
      "defaultValue": "*",
      "metadata": {
        "description": "Use to filter data queried by the Logic App to a limited set of regions in which Recovery Services vaults exist. Should be of the format 'location1,location2,..' (eg. eastus,westus). Default value is '*', which enables the Logic App to query data for vaults across all Azure regions in the specified subscriptions."
      }
    },
    "vaultListFilter": {
      "type": "String",
      "defaultValue": "*",
      "metadata": {
        "description": "Use to filter data queried by the Logic App to a limited set of Recovery Services vaults. Should be of the format 'vaultname1,vaultname2,..'. Default value is '*', which enables the Logic App to query data for all vaults in the specified subscriptions and locations."
      }
    },
    "backupSolutionListFilter": {
      "type": "String",
      "defaultValue": "*",
      "metadata": {
        "description": "Use to filter data queried by the Logic App to a limited set of Azure Backup solutions being used in your environment. Should be of the format 'solution1,solution2,..' (eg. Azure VM Backup,SQL in Azure VM Backup,DPM). Default value is '*', which enables the Logic App to query data across all Azure Backup solutions being used."
      }
    },
    "excludeLegacyEvent": {
      "type": "Bool",
      "defaultValue": true,
      "metadata": {
        "description": "Selecting 'true' enables the Logic App to avoid querying data that is sent to the legacy Azure Diagnostics table in the Log Analytics workspace(s). Excluding the legacy table improves query performance time."
      }
    },
    "aggregationType": {
      "type": "String",
      "allowedValues": [
        "Daily",
        "Weekly",
        "Monthly"
      ],
      "defaultValue": "Daily",
      "metadata": {
        "description": "Use to specify the granularity at which data is sampled in the case of trend graphs."
      }
    },
    "resourceTags": {
      "type": "object",
      "defaultValue": {
        "UsedByBackupReports": "true"
      },
      "metadata": {
        "description": "Tags to be assigned to the Logic App and the API connection resources."
      }
    },
    "emailSubject": {
      "type": "string",
      "defaultValue": "Usage",
      "metadata": {
        "description": "Subject of the email to be received by the recipient(s)."
      }
    }
  },
  "variables": {
    "office365ConnectionName": "[concat(parameters('location'),'-','office365')]",
    "azureMonitorLogsConnectionName": "[concat(parameters('location'),'-','azuremonitorlogs')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2018-07-01-preview",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "tags": "[parameters('resourceTags')]",
      "properties": {
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
        },
        "displayName": "office365"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2018-07-01-preview",
      "name": "[variables('azureMonitorLogsConnectionName')]",
      "location": "[parameters('location')]",
      "tags": "[parameters('resourceTags')]",
      "properties": {
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]"
        },
        "displayName": "azuremonitorlogs"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "tags": "[parameters('resourceTags')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "dataToExport": {
              "defaultValue": "Usage",
              "type": "String"
            },
            "aggregationType": {
              "defaultValue": "[concat('\"',parameters('aggregationType'),'\"')]",
              "type": "String"
            },
            "backupSolutionListFilter": {
              "defaultValue": "[concat('\"',parameters('backupSolutionListFilter'),'\"')]",
              "type": "String"
            },
            "excludeLegacyEvent": {
              "defaultValue": "[parameters('excludeLegacyEvent')]",
              "type": "Bool"
            },
            "timeRangeInDays": {
              "defaultValue": "[parameters('timeRangeInDays')]",
              "type": "Int"
            },
            "vaultListFilter": {
              "defaultValue": "[concat('\"',parameters('vaultListFilter'),'\"')]",
              "type": "String"
            },
            "vaultLocationListFilter": {
              "defaultValue": "[concat('\"',parameters('vaultLocationListFilter'),'\"')]",
              "type": "String"
            },
            "vaultSubscriptionListFilter": {
              "defaultValue": "[concat('\"',parameters('vaultSubscriptionListFilter'),'\"')]",
              "type": "String"
            },
            "workspacesToQuery": {
              "defaultValue": "[parameters('workspacesToQuery')]",
              "type": "Array"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "[parameters('emailFrequency')]",
                "interval": 1
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "For_each": {
              "foreach": "@parameters('workspacesToQuery')",
              "actions": {
                "Append_to_string_variable": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "AzureDiagnostics_Incomplete",
                    "value": " workspace('@{items('For_each')}').AzureDiagnostics,"
                  }
                },
                "Append_to_string_variable_2": {
                  "runAfter": {
                    "Append_to_string_variable": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "CoreAzureBackup_Incomplete",
                    "value": " workspace('@{items('For_each')}').CoreAzureBackup,"
                  }
                },
                "Append_to_string_variable_3": {
                  "runAfter": {
                    "Append_to_string_variable_2": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "AddonAzureBackupJobs_Incomplete",
                    "value": " workspace('@{items('For_each')}').AddonAzureBackupJobs,"
                  }
                },
                "Append_to_string_variable_4": {
                  "runAfter": {
                    "Append_to_string_variable_3": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "AddonAzureBackupPolicy_Incomplete",
                    "value": " workspace('@{items('For_each')}').AddonAzureBackupPolicy,"
                  }
                },
                "Append_to_string_variable_5": {
                  "runAfter": {
                    "Append_to_string_variable_4": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "AddonAzureBackupProtectedInstance_Incomplete",
                    "value": " workspace('@{items('For_each')}').AddonAzureBackupProtectedInstance,"
                  }
                },
                "Append_to_string_variable_6": {
                  "runAfter": {
                    "Append_to_string_variable_5": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "AddonAzureBackupStorage_Incomplete",
                    "value": " workspace('@{items('For_each')}').AddonAzureBackupStorage,"
                  }
                }
              },
              "runAfter": {
                "Initialize_variable-AddonAzureBackupStorage": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "If_Scope_Failed": {
              "actions": {
                "Send_an_email_(V2)-FailureRun": {
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "Body": "<p>The Logic App Run did not execute to completion. <br>\n<br>Status: @{result('Scope')[0]['status']}<br><br> <a href='https://aka.ms/AzureBackupReportEmail'>Learn more</a> about how to troubleshoot the error</p>",
                      "Subject": "[parameters('emailSubject')]",
                      "To": "[parameters('recipientEmailId')]"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                  }
                }
              },
              "runAfter": {
                "Scope": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "else": {
                "actions": {
                  "Send_an_email_(V2)-SuccessfulRun": {
                    "type": "ApiConnection",
                    "inputs": {
                      "body": {
                        "Attachments": [
                          {
                            "ContentBytes": "@{body('Run_query_and_visualize_results-BillingGroupTrend')?['attachmentContent']}",
                            "Name": "@body('Run_query_and_visualize_results-BillingGroupTrend')?['attachmentName']"
                          },
                          {
                            "ContentBytes": "@{body('Run_query_and_visualize_results-CloudStorageTrend')?['attachmentContent']}",
                            "Name": "@body('Run_query_and_visualize_results-CloudStorageTrend')?['attachmentName']"
                          },
                          {
                            "ContentBytes": "@{base64(body('Create_CSV_table-BillingGroupList'))}",
                            "Name": "BillingGroupList.csv"
                          }
                        ],
                        "Body": "<p><u><strong><br>\nUsage Report<br>\n</strong></u><u><strong><br>\nEmail Contents<br>\n</strong></u><br>\n1. <b>Inline</b> <br>a. Trend of protected instance count over time <br>b. Trend of backup cloud storage (GB) consumed over time<br>2. <b>Attachments </b> <br>a. List of all billing groups with details on protected instance count, total cloud storage consumed (GB), storage replication type etc. <br>\n<br>\n<strong>Note - If any of the below charts are rendered with an 'X' (or empty), it means that there are no records found for the selected scope and time range.</strong><br>\n<a href=\"https://aka.ms/AzureBackupReportDocs\">Learn more</a> about Backup Reports<br>\n<br>\n<u><strong>@{variables('visual')}</strong></u><u><strong><br>\n<br>\n<br>\n</strong></u><br>\n<br>\n</p>",
                        "Subject": "[parameters('emailSubject')]",
                        "To": "[parameters('recipientEmailId')]"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/v2/Mail"
                    }
                  }
                }
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@result('Scope')[0]['status']",
                      "Failed"
                    ]
                  },
                  {
                    "equals": [
                      "@result('Scope')[0]['status']",
                      "Aborted"
                    ]
                  },
                  {
                    "equals": [
                      "@result('Scope')[0]['status']",
                      "Skipped"
                    ]
                  },
                  {
                    "equals": [
                      "@result('Scope')[0]['status']",
                      "TimedOut"
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Initialize_variable-NoDataMessage": {
              "inputs": {
                "variables": [
                  {
                    "name": "NoDataMessage",
                    "type": "array",
                    "value": [
                      {
                        "Message": "No records found"
                      }
                    ]
                  }
                ]
              },
              "runAfter": {
                "Initialize_variable-EmailBodyForSuccessfulRun": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable"
            },
            "Initialize_variable-AddonAzureBackupJobs": {
              "runAfter": {
                "Initialize_variable-CoreAzureBackup": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AddonAzureBackupJobs_Incomplete",
                    "type": "string",
                    "value": "let AddonAzureBackupJobs = ()\n{\nunion"
                  }
                ]
              }
            },
            "Initialize_variable-AddonAzureBackupPolicy": {
              "runAfter": {
                "Initialize_variable-AddonAzureBackupJobs": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AddonAzureBackupPolicy_Incomplete",
                    "type": "string",
                    "value": "let AddonAzureBackupPolicy = ()\n{\nunion"
                  }
                ]
              }
            },
            "Initialize_variable-AddonAzureBackupProtectedInstance": {
              "runAfter": {
                "Initialize_variable-AddonAzureBackupPolicy": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AddonAzureBackupProtectedInstance_Incomplete",
                    "type": "string",
                    "value": "let AddonAzureBackupProtectedInstance = ()\n{\nunion"
                  }
                ]
              }
            },
            "Initialize_variable-AddonAzureBackupStorage": {
              "runAfter": {
                "Initialize_variable-AddonAzureBackupProtectedInstance": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AddonAzureBackupStorage_Incomplete",
                    "type": "string",
                    "value": "let AddonAzureBackupStorage = ()\n{\nunion"
                  }
                ]
              }
            },
            "Initialize_variable-AzureDiagnostics": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AzureDiagnostics_Incomplete",
                    "type": "string",
                    "value": "let AzureDiagnostics = ()\n{\nunion"
                  }
                ]
              }
            },
            "Initialize_variable-BillingGroupFunction": {
              "runAfter": {
                "Initialize_variable-ReportFilterForLatestData": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "BillingGroupFunction",
                    "type": "string",
                    "value": "@{variables('workspacesToQuery_Custom')}\r\n@{variables('ReportFilter_Latest')}\r\nlet _BillingGroupName = \"*\";\r\n\/\/Other Vars\r\nlet AsonDay =  _RangeEnd-1d;\r\nlet AzureStorageCutoffDate = datetime(6\/01\/2020, 12:00:00.000 AM);\r\nlet AzureStorageProtectedInstanceCountCutoffDate = datetime(2\/01\/2021, 12:00:00.000 AM);\r\n\/\/ HelperFunctions\r\nlet ConvertDataSourceTypeToBackupSolution = (DataSourceType:string)\r\n{\r\n\tiff(DataSourceType == \"Microsoft.DBforPostgreSQL\/servers\/databases\",\"Azure Database for PostgreSQL Server Backup\",iff(DataSourceType == \"Microsoft.Storage\/storageAccounts\/blobServices\", \"Azure Blob Backup\",iff(DataSourceType == \"Microsoft.Compute\/disks\",\"Azure Disk Backup\",\"\")))\r\n};\r\nlet Extend_BackupSolution = (T:(BackupManagementType:string, BackupItemType:string))\r\n{\r\nT | extend BackupSolution = iff(BackupManagementType == \"IaaSVM\", \"Azure Virtual Machine Backup\", \r\niff(BackupManagementType == \"MAB\", \"Azure Backup Agent\", \r\niff(BackupManagementType == \"DPM\", \"DPM\", \r\niff(BackupManagementType == \"AzureBackupServer\", \"Azure Backup Server\", \r\niff(BackupManagementType == \"AzureStorage\", \"Azure Storage (Azure Files) Backup\", \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\", \"SQL in Azure VM Backup\", \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\", \"SAP HANA in Azure VM Backup\", \"\")))))))\r\n};\r\n\/\/ Source Tables\r\nlet VaultUnderAzureDiagnostics = ()\r\n{\r\nAzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where Category == \"AzureBackupReport\" and OperationName == \"Vault\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\"\r\n| project VaultName = columnifexists(\"VaultName_s\", \"\"), VaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), VaultTags = columnifexists(\"VaultTags_s\", \"\"), AzureDataCenter =  columnifexists(\"AzureDataCenter_s\", \"\"), ResourceGroupName =  columnifexists(\"ResourceGroupName_s\", \"\"), SubscriptionId = toupper(SubscriptionId), StorageReplicationType = columnifexists(\"StorageReplicationType_s\", \"\"), ResourceId, TimeGenerated \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| summarize arg_max(TimeGenerated, *) by ResourceId\r\n| project StorageReplicationType, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, ResourceId, TimeGenerated\r\n};\r\nlet VaultUnderResourceSpecific = ()\r\n{\r\nCoreAzureBackup\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where OperationName == \"Vault\" \r\n| project StorageReplicationType, VaultUniqueId, VaultName, VaultTags, SubscriptionId = toupper(SubscriptionId), ResourceGroupName, AzureDataCenter, ResourceId, TimeGenerated \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| summarize arg_max(TimeGenerated, *) by ResourceId\r\n};\r\nlet ResourceIdListUnderAzureDiagnostics = materialize(VaultUnderAzureDiagnostics | distinct ResourceId);\r\nlet ResourceIdListUnderResourceSpecific = materialize(VaultUnderResourceSpecific | distinct ResourceId);\r\nlet BackupItemUnderAzureDiagnostics = ()\r\n{\r\nlet SourceBackupItemTable = AzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItem\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupItemProtectionState = columnifexists(\"BackupItemProtectionState_s\", \"\"), BackupItemAppVersion = columnifexists(\"BackupItemAppVersion_s\", \"\"),SecondaryBackupProtectionState = columnifexists(\"SecondaryBackupProtectionState_s\", \"\"), BackupItemName = columnifexists(\"BackupItemName_s\", \"\"), BackupItemFriendlyName = columnifexists(\"BackupItemFriendlyName_s\", \"\"),\r\nBackupItemType = columnifexists(\"BackupItemType_s\", \"\"),  ProtectionGroupName = columnifexists(\"ProtectionGroupName_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId\r\n\/\/Handle MAB system state\r\n\/\/ Excluding SecondaryBackupProtectionState, BackupItemAppVersion, ProtectionGroupName\r\n|  project BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupItemName = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), \"System State\", BackupItemName), BackupItemProtectionState, BackupItemAppVersion, SecondaryBackupProtectionState, ProtectionGroupName, BackupItemFriendlyName, BackupItemType, BackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\");\r\nlet BackupItemTable = Extend_BackupSolution(SourceBackupItemTable)\r\n| where BackupSolution in~ (_BackupSolutionList) or '*' in (_BackupSolutionList)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nVaultUnderAzureDiagnostics | join   (\r\n   BackupItemTable \r\n) on ResourceId\r\n| project-away ResourceId1, TimeGenerated1;\r\n};\r\nlet BackupItemUnderResourceSpecific = ()\r\n{\r\nlet SourceBackupItemTable = CoreAzureBackup\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where OperationName == \"BackupItem\" and State != \"Deleted\"\r\n\/\/Handle MAB system state\r\n\/\/ Excluding SecondaryBackupProtectionState, BackupItemAppVersion, ProtectionGroupName\r\n|  project BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupItemName = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), \"System State\", BackupItemName), BackupItemProtectionState, BackupItemAppVersion, SecondaryBackupProtectionState, ProtectionGroupName, BackupItemFriendlyName, BackupItemType, BackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\");\r\nlet BackupItemTable = Extend_BackupSolution(SourceBackupItemTable)\r\n| where BackupSolution in~ (_BackupSolutionList) or '*' in (_BackupSolutionList)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nVaultUnderResourceSpecific | join   (\r\n   BackupItemTable \r\n) on ResourceId\r\n| project-away ResourceId1, TimeGenerated1;\r\n};\r\nlet BackupItemAssociationUnderAzureDiagnostics = ()\r\n{\r\n let BackupItemAssociationTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItemAssociation\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"), ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"), \r\nVaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), PolicyUniqueIdGuid = columnifexists(\"PolicyUniqueId_g\", \"\") , PolicyUniqueIdStr = columnifexists(\"PolicyUniqueId_s\", \"\"),\r\nTimeGenerated, ResourceId  \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n\/\/ PolicyUniqueId can be either guid or string due to AzureDiagnostics behaviour\r\n| project PolicyUniqueId = iff(PolicyUniqueIdGuid == \"\", PolicyUniqueIdStr, PolicyUniqueIdGuid), BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemAssociationTable\r\n};\r\nlet BackupItemAssociationUnderResourceSpecific = ()\r\n{\r\nlet BackupItemAssociationTable = CoreAzureBackup \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"BackupItemAssociation\" and State != \"Deleted\"\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n| project PolicyUniqueId, BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemAssociationTable\r\n};\r\nlet BackupItemAssociationHistoryUnderAzureDiagnostics = ()\r\n{\r\n let BackupItemAssociationTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItemAssociation\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"), ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"), \r\nVaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), PolicyUniqueIdGuid = columnifexists(\"PolicyUniqueId_g\", \"\"), PolicyUniqueIdStr = columnifexists(\"PolicyUniqueId_s\", \"\"),\r\nTimeGenerated, ResourceId  \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n\/\/ PolicyUniqueId can be either guid or string due to AzureDiagnostics behaviour\r\n| project PolicyUniqueId = iff(PolicyUniqueIdGuid == \"\", PolicyUniqueIdStr, PolicyUniqueIdGuid), BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nBackupItemAssociationTable\r\n};\r\nlet BackupItemAssociationHistoryUnderResourceSpecific = ()\r\n{\r\nlet BackupItemAssociationTable = CoreAzureBackup \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"BackupItemAssociation\" and State != \"Deleted\"\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n| project PolicyUniqueId, BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nBackupItemAssociationTable\r\n};\r\nlet BackupItemFrontEndSizeHistoryUnderAzureDiagnostics = ()\r\n{\r\n let BackupItemFrontEndSizeTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItemFrontEndSizeConsumption\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemFrontEndSize = todouble(columnifexists(\"BackupItemFrontEndSize_s\", \"\")), BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nBackupItemFrontEndSizeTable\r\n};\r\nlet BackupItemFrontEndSizeHistoryUnderResourceSpecific = ()\r\n{\r\nlet BackupItemFrontEndSizeTable = CoreAzureBackup \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"BackupItemFrontEndSizeConsumption\" and State != \"Deleted\"\r\n| project BackupItemFrontEndSize, BackupItemUniqueId, BackupManagementType, TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nBackupItemFrontEndSizeTable\r\n};\r\nlet BackupItemFrontEndSizeUnderAzureDiagnostics = ()\r\n{\r\n let BackupItemFrontEndSizeTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItemFrontEndSizeConsumption\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemFrontEndSize = todouble(columnifexists(\"BackupItemFrontEndSize_s\", \"\")), BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemFrontEndSizeTable\r\n};\r\nlet BackupItemFrontEndSizeUnderResourceSpecific = ()\r\n{\r\nlet BackupItemFrontEndSizeTable = CoreAzureBackup \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"BackupItemFrontEndSizeConsumption\" and State != \"Deleted\"\r\n| project BackupItemFrontEndSize, BackupItemUniqueId, BackupManagementType, TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemFrontEndSizeTable\r\n};\r\nlet StorageAssociationHistoryUnderAzureDiagnostics = ()\r\n{\r\n let StorageAssociationTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"StorageAssociation\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n\/\/ Not Projecting ProtectedContainerUniqueId - DPM\/AzureBackupServer ProtectedContainer (incase of cluster) is node PS and not cluster PS\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), VaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), StorageUniqueId = columnifexists(\"StorageUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"), StorageConsumedInMBs = todouble(columnifexists(\"StorageConsumedInMBs_s\", \"\")), \r\nStorageAllocatedInMBs = todouble(columnifexists(\"StorageAllocatedInMBs_s\", \"\")), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Providers like DPM, AzureBackupServer has Disk storage. Filtering out cloud storage only.\r\n| where split(StorageUniqueId, \";\")[2] has \"cloud\"\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nStorageAssociationTable\r\n};\r\nlet StorageAssociationHistoryUnderResourceSpecific = ()\r\n{\r\nlet StorageAssociationTable = AddonAzureBackupStorage \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now()) \r\n| where column_ifexists(\"VaultType\",\"\") == \"\"\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"StorageAssociation\" and State != \"Deleted\"\r\n\/\/ Not Projecting ProtectedContainerUniqueId - DPM\/AzureBackupServer ProtectedContainer (incase of cluster) is node PS and not cluster PS\r\n| project BackupItemUniqueId, VaultUniqueId, BackupManagementServerUniqueId, StorageUniqueId, StorageConsumedInMBs, StorageAllocatedInMBs, BackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\") \r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Providers like DPM, AzureBackupServer has Disk storage. Filtering out cloud storage only.\r\n| where split(StorageUniqueId, \";\")[2] has \"cloud\"\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nStorageAssociationTable\r\n};\r\nlet StorageAssociationUnderAzureDiagnostics = ()\r\n{\r\n let StorageAssociationTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"StorageAssociation\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n\/\/ Not Projecting ProtectedContainerUniqueId - DPM\/AzureBackupServer ProtectedContainer (incase of cluster) is node PS and not cluster PS\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), VaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), StorageUniqueId = columnifexists(\"StorageUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"), StorageConsumedInMBs = todouble(columnifexists(\"StorageConsumedInMBs_s\", \"\")), \r\nStorageAllocatedInMBs = todouble(columnifexists(\"StorageAllocatedInMBs_s\", \"\")), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Providers like DPM, AzureBackupServer has Disk storage. Filtering out cloud storage only.\r\n| where split(StorageUniqueId, \";\")[2] has \"cloud\"\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nStorageAssociationTable\r\n};\r\nlet StorageAssociationUnderResourceSpecific = ()\r\n{\r\nlet StorageAssociationTable = AddonAzureBackupStorage \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where column_ifexists(\"VaultType\",\"\") == \"\"\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"StorageAssociation\" and State != \"Deleted\"\r\n\/\/ Not Projecting ProtectedContainerUniqueId - DPM\/AzureBackupServer ProtectedContainer (incase of cluster) is node PS and not cluster PS\r\n| project BackupItemUniqueId, VaultUniqueId, BackupManagementServerUniqueId, StorageUniqueId, StorageConsumedInMBs, StorageAllocatedInMBs, BackupManagementType, TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Providers like DPM, AzureBackupServer has Disk storage. Filtering out cloud storage only.\r\n| where split(StorageUniqueId, \";\")[2] has \"cloud\"\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nStorageAssociationTable\r\n};\r\nlet ProtectedContainerUnderAzureDiagnostics = ()\r\n{\r\nlet ProtectedContainerTable = AzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where Category == \"AzureBackupReport\" and OperationName == \"ProtectedContainer\"  and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"),  ProtectedContainerFriendlyName = columnifexists(\"ProtectedContainerFriendlyName_s\", \"\"), AgentVersion = columnifexists(\"AgentVersion_s\", \"\"),\r\nProtectedContainerOSType = columnifexists(\"ProtectedContainerOSType_s\", \"\"), ProtectedContainerOSVersion = columnifexists(\"ProtectedContainerOSVersion_s\", \"\"), ProtectedContainerWorkloadType = columnifexists(\"ProtectedContainerWorkloadType_s\", \"\"),  ProtectedContainerName = columnifexists(\"ProtectedContainerName_s\", \"\"), ProtectedContainerProtectionState = columnifexists(\"ProtectedContainerProtectionState_s\", \"\"), ProtectedContainerLocation = columnifexists(\"ProtectedContainerLocation_s\", \"\"), ProtectedContainerType = columnifexists(\"ProtectedContainerType_s\", \"\"),\r\nBackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by ProtectedContainerUniqueId;\r\nVaultUnderAzureDiagnostics | join   (\r\n   ProtectedContainerTable \r\n) on ResourceId\r\n| project-away ResourceId1, TimeGenerated1;\r\n};\r\nlet ProtectedContainerUnderResourceSpecific = ()\r\n{\r\nlet ProtectedContainerTable = CoreAzureBackup\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where OperationName == \"ProtectedContainer\" and State != \"Deleted\"\r\n| project ProtectedContainerUniqueId,  ProtectedContainerFriendlyName, AgentVersion,\r\nProtectedContainerOSType, ProtectedContainerOSVersion, ProtectedContainerWorkloadType,  ProtectedContainerName, ProtectedContainerProtectionState, ProtectedContainerLocation, ProtectedContainerType,\r\nBackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by ProtectedContainerUniqueId;\r\nVaultUnderResourceSpecific | join   (\r\n   ProtectedContainerTable \r\n) on ResourceId\r\n| project-away ResourceId1, TimeGenerated1;\r\n};\r\nlet ProtectedInstanceUnderAzureDiagnostics = (isProtectedContainerBillingType:bool)\r\n{\r\n let ProtectedInstanceTable = AzureDiagnostics \r\n| where Category == \"AzureBackupReport\" and OperationName == \"ProtectedInstance\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"),\r\n ProtectedInstanceCount = toint(columnifexists(\"ProtectedInstanceCount_s\", \"\")), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where (BackupItemUniqueId == \"\" and isProtectedContainerBillingType) or (ProtectedContainerUniqueId == \"\" and not(isProtectedContainerBillingType))\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, BackupManagementServerUniqueId,\r\n ProtectedInstanceCount = iff((BackupManagementType == \"AzureStorage\" and TimeGenerated <= AzureStorageProtectedInstanceCountCutoffDate), 0, ProtectedInstanceCount), BackupManagementType, TimeGenerated, ResourceId\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, ProtectedContainerUniqueId;\r\nProtectedInstanceTable\r\n};\r\nlet ProtectedInstanceUnderResourceSpecific = (isProtectedContainerBillingType:bool)\r\n{\r\nlet ProtectedInstanceTable = AddonAzureBackupProtectedInstance \r\n| where OperationName == \"ProtectedInstance\" and State != \"Deleted\"\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where (BackupItemUniqueId == \"\" and isProtectedContainerBillingType) or (ProtectedContainerUniqueId == \"\" and not(isProtectedContainerBillingType))\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, BackupManagementServerUniqueId,\r\n ProtectedInstanceCount = iff((BackupManagementType == \"AzureStorage\" and TimeGenerated <= AzureStorageProtectedInstanceCountCutoffDate), 0, ProtectedInstanceCount), BackupManagementType, TimeGenerated, ResourceId\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, ProtectedContainerUniqueId;\r\nProtectedInstanceTable\r\n};\r\nlet ProtectedInstanceHistoryUnderAzureDiagnostics = (isProtectedContainerBillingType:bool)\r\n{\r\n let ProtectedInstanceTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"ProtectedInstance\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"),\r\n ProtectedInstanceCount = toint(columnifexists(\"ProtectedInstanceCount_s\", \"\")), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\") \r\n| where (BackupItemUniqueId == \"\" and isProtectedContainerBillingType) or (ProtectedContainerUniqueId == \"\" and not(isProtectedContainerBillingType))\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, BackupManagementServerUniqueId,\r\n ProtectedInstanceCount = iff((BackupManagementType == \"AzureStorage\" and TimeGenerated <= AzureStorageProtectedInstanceCountCutoffDate), 0, ProtectedInstanceCount), BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, ProtectedContainerUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nProtectedInstanceTable\r\n};\r\nlet ProtectedInstanceHistoryUnderResourceSpecific = (isProtectedContainerBillingType:bool)\r\n{\r\nlet ProtectedInstanceTable = AddonAzureBackupProtectedInstance \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"ProtectedInstance\" and State != \"Deleted\"\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (BackupItemUniqueId == \"\" and isProtectedContainerBillingType) or (ProtectedContainerUniqueId == \"\" and not(isProtectedContainerBillingType))\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, BackupManagementServerUniqueId,\r\n ProtectedInstanceCount = iff((BackupManagementType == \"AzureStorage\" and TimeGenerated <= AzureStorageProtectedInstanceCountCutoffDate), 0, ProtectedInstanceCount), BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, ProtectedContainerUniqueId, TimeRangeEndDay = startofday(TimeGenerated)\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, BackupManagementServerUniqueId, BackupManagementType, ResourceId, TimeGenerated, ProtectedInstanceCount, TimeRangeEndDay;\r\nProtectedInstanceTable\r\n};\r\n\/\/ BusinessLogic\r\nlet LatestBackupItemDimensionTable = () {union isfuzzy = true \r\n(BackupItemUnderAzureDiagnostics()),\r\n(BackupItemUnderResourceSpecific())\r\n| where BackupItemUniqueId != \"\"\r\n\/\/ To show as per as on 'AsonDay'\r\n| where startofday(TimeGenerated) == AsonDay\r\n| summarize arg_max(TimeGenerated, *)  by BackupItemUniqueId\r\n| where isempty(_BillingGroupName) or _BillingGroupName == \"*\" or  BackupItemFriendlyName contains (_BillingGroupName)\r\n| extend BackupItemProtectionState = iff(BackupItemProtectionState in (\"Protected\", \"ActivelyProtected\",\"ProtectionError\"), \"Protected\", iff(BackupItemProtectionState in (\"IRPending\"), \"InitialBackupPending\", iff(isnotempty(BackupItemProtectionState),\"ProtectionStopped\",BackupItemProtectionState)))\r\n\/\/| where BackupItemProtectionState in~ (_ProtectionInfoList) or '*' in (_ProtectionInfoList)\r\n| project BackupItemUniqueId,  BackupItemName, BackupItemFriendlyName, BackupManagementType, BackupItemType, BackupSolution, BackupItemProtectionState,\r\nStorageReplicationType, ResourceId, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter};\r\nlet TotalBackupItemDimensionTable = () {union isfuzzy = true \r\n(BackupItemUnderAzureDiagnostics()),\r\n(BackupItemUnderResourceSpecific())\r\n| summarize arg_max(TimeGenerated, *)   by BackupItemUniqueId\r\n| where isempty(_BillingGroupName) or _BillingGroupName == \"*\" or  BackupItemFriendlyName contains (_BillingGroupName)\r\n| extend BackupItemProtectionState = iff(BackupItemProtectionState in (\"Protected\", \"ActivelyProtected\",\"ProtectionError\"), \"Protected\", iff(BackupItemProtectionState in (\"IRPending\"), \"InitialBackupPending\", iff(isnotempty(BackupItemProtectionState),\"ProtectionStopped\",BackupItemProtectionState)))\r\n\/\/| where BackupItemProtectionState in~ (_ProtectionInfoList) or '*' in (_ProtectionInfoList)\r\n| project BackupItemUniqueId,  BackupItemName, BackupItemFriendlyName, BackupManagementType, BackupItemType, BackupSolution, BackupItemProtectionState,\r\nStorageReplicationType, ResourceId, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter};\r\nlet BI_CombinationUnderAzureDiagnostics = ()\r\n{\r\nlet Base = () {ProtectedContainerUnderAzureDiagnostics | distinct ProtectedContainerName, ProtectedContainerFriendlyName, ProtectedContainerUniqueId \r\n| join kind= rightouter  (\r\n    BackupItemAssociationUnderAzureDiagnostics \r\n\t\/\/ To show as per as on 'AsonDay'\r\n\t| where startofday(TimeGenerated) == AsonDay\r\n\t| project ProtectedContainerUniqueId, BackupItemUniqueId, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, ResourceId\r\n) on ProtectedContainerUniqueId \r\n| project BackupItemUniqueId, ProtectedContainerUniqueId = ProtectedContainerUniqueId1, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, ResourceId\r\n};\r\nlet Base_Size = ()\r\n{\r\nBase\r\n| join kind= leftouter (\r\n   BackupItemFrontEndSizeUnderAzureDiagnostics | where startofday(TimeGenerated) == AsonDay | project BackupItemFrontEndSize, BackupItemUniqueId, TimeGenerated \r\n) on BackupItemUniqueId\r\n\/\/ using leftouter due to AzureStorage - storageconsumption table is not emitted. inner join will exclude AzureStorage BackupItems.\r\n| join kind= leftouter (\r\n   StorageAssociationUnderAzureDiagnostics | where startofday(TimeGenerated) == AsonDay | project StorageConsumedInMBs, BackupItemUniqueId, TimeGenerated\r\n) on BackupItemUniqueId\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, BackupItemFrontEndSize,\r\n StorageConsumedInMBs, TimeGenerated, ResourceId\r\n};\r\nBase_Size\r\n};\r\nlet BI_CombinationUnderResourceSpecific = ()\r\n{\r\nlet Base = () {ProtectedContainerUnderResourceSpecific | distinct ProtectedContainerName, ProtectedContainerFriendlyName, ProtectedContainerUniqueId \r\n| join kind= rightouter  (\r\n    BackupItemAssociationUnderResourceSpecific \r\n\t\/\/ To show as per as on 'AsonDay'\r\n\t| where startofday(TimeGenerated) == AsonDay\r\n\t| project ProtectedContainerUniqueId, BackupItemUniqueId, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, ResourceId\r\n) on ProtectedContainerUniqueId \r\n| project BackupItemUniqueId, ProtectedContainerUniqueId = ProtectedContainerUniqueId1, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, ResourceId\r\n};\r\nlet Base_Size = ()\r\n{\r\nBase\r\n| join kind= leftouter (\r\n   BackupItemFrontEndSizeUnderResourceSpecific | where startofday(TimeGenerated) == AsonDay | project BackupItemFrontEndSize, BackupItemUniqueId, TimeGenerated \r\n) on BackupItemUniqueId\r\n\/\/ using leftouter due to AzureStorage - storageconsumption table is not emitted. inner join will exclude AzureStorage BackupItems.\r\n| join kind= leftouter (\r\n   StorageAssociationUnderResourceSpecific | where startofday(TimeGenerated) == AsonDay | project StorageConsumedInMBs, BackupItemUniqueId, TimeGenerated\r\n) on BackupItemUniqueId\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, BackupItemFrontEndSize,\r\n StorageConsumedInMBs, TimeGenerated, ResourceId\r\n};\r\nBase_Size\r\n};\r\nlet BI_HistoryCombinationUnderAzureDiagnostics = ()\r\n{\t\r\n\tlet Base = ()\r\n\t{\r\n\tProtectedContainerUnderAzureDiagnostics | distinct ProtectedContainerName, ProtectedContainerFriendlyName, ProtectedContainerUniqueId \r\n\t| join  kind= rightouter  (\r\n\t\tBackupItemAssociationHistoryUnderAzureDiagnostics |  project ProtectedContainerUniqueId, BackupItemUniqueId, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t) on ProtectedContainerUniqueId\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId = ProtectedContainerUniqueId1, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Size = ()\r\n\t{\r\n\tBase\r\n\t| join kind= leftouter (\r\n\t   BackupItemFrontEndSizeHistoryUnderAzureDiagnostics | project BackupItemFrontEndSize, BackupItemUniqueId, TimeGenerated, TimeRangeEndDay \r\n\t) on BackupItemUniqueId, TimeRangeEndDay\r\n\t\/\/ using leftouter due to AzureStorage - storageconsumption table is not emitted. inner join will exclude AzureStorage BackupItems.\r\n\t| join kind= leftouter (\r\n\t   StorageAssociationHistoryUnderAzureDiagnostics | project StorageConsumedInMBs, BackupItemUniqueId, TimeGenerated, TimeRangeEndDay\r\n\t) on BackupItemUniqueId, TimeRangeEndDay\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, BackupItemFrontEndSize,\r\n\t StorageConsumedInMBs, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\nBase_Size\r\n};\r\nlet BI_HistoryCombinationUnderResourceSpecific = ()\r\n{\r\n\tlet Base = ()\r\n\t{\r\n\tProtectedContainerUnderResourceSpecific | distinct ProtectedContainerName, ProtectedContainerFriendlyName, ProtectedContainerUniqueId \r\n\t| join  kind= rightouter  (\r\n\t\tBackupItemAssociationHistoryUnderResourceSpecific |  project ProtectedContainerUniqueId, BackupItemUniqueId, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t) on ProtectedContainerUniqueId\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId = ProtectedContainerUniqueId1, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Size = ()\r\n\t{\r\n\tBase\r\n\t| join kind= leftouter (\r\n\t   BackupItemFrontEndSizeHistoryUnderResourceSpecific | project BackupItemFrontEndSize, BackupItemUniqueId, TimeGenerated, TimeRangeEndDay \r\n\t) on BackupItemUniqueId, TimeRangeEndDay\r\n\t\/\/ using leftouter due to AzureStorage - storageconsumption table is not emitted. inner join will exclude AzureStorage BackupItems.\r\n\t| join kind= leftouter (\r\n\t   StorageAssociationHistoryUnderResourceSpecific | project StorageConsumedInMBs, BackupItemUniqueId, TimeGenerated, TimeRangeEndDay\r\n\t) on BackupItemUniqueId, TimeRangeEndDay\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, BackupItemFrontEndSize,\r\n\t StorageConsumedInMBs, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tBase_Size\r\n};\r\nlet LatestBackupItemAssociationAndStorageConsumptionTable = ()\r\n{\r\nLatestBackupItemDimensionTable | join \r\n(union isfuzzy = true  \r\n(BI_CombinationUnderAzureDiagnostics() | where _ExcludeLegacyEvent == false),\r\n(BI_CombinationUnderResourceSpecific())\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId\r\n)on BackupItemUniqueId\r\n| where isempty(_BillingGroupName) or _BillingGroupName == \"*\" or ProtectedContainerFriendlyName contains (_BillingGroupName)\r\n| project BackupItemUniqueId, BackupItemName, BackupItemFriendlyName, BackupManagementType, BackupItemType, BackupSolution, BackupItemProtectionState,\r\nVaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, TimeGenerated,  ResourceId,  ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, PolicyUniqueId, BackupItemFrontEndSize, StorageConsumedInMBs, BackupManagementServerUniqueId, StorageReplicationType, TimeRangeEndDay = startofday(TimeGenerated)\r\n};\r\nlet LatestBackupItemAssociationAndStorageConsumptionHistoryTable = () \r\n{\r\nTotalBackupItemDimensionTable | join  \r\n(union isfuzzy = true  \r\n(BI_HistoryCombinationUnderAzureDiagnostics() | where _ExcludeLegacyEvent == false),\r\n(BI_HistoryCombinationUnderResourceSpecific())\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay)\r\n  on BackupItemUniqueId\r\n| where isempty(_BillingGroupName) or _BillingGroupName == \"*\" or ProtectedContainerFriendlyName contains (_BillingGroupName)\r\n| project BackupItemUniqueId, BackupItemName, BackupItemFriendlyName, BackupManagementType, BackupItemType, BackupSolution, BackupItemProtectionState,\r\nVaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, TimeGenerated,  ResourceId,  ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, PolicyUniqueId, BackupItemFrontEndSize, StorageConsumedInMBs, BackupManagementServerUniqueId, StorageReplicationType, TimeRangeEndDay\r\n};\r\nlet LatestProtectedContainerHistoryInfoTableExcludingDPMVMs = (){\r\nLatestBackupItemAssociationAndStorageConsumptionHistoryTable \r\n| where not((BackupManagementType has \"DPM\" and BackupItemType has \"VMwareVM\") or (BackupManagementType has \"DPM\" and BackupItemType has \"HyperVVM\") \r\nor (BackupManagementType has \"AzureBackupServer\" and BackupItemType has \"VMwareVM\") or (BackupManagementType has \"AzureBackupServer\" and BackupItemType has \"HyperVVM\"))\r\n| summarize StorageConsumedInMBs = sum(StorageConsumedInMBs), BackupItemFrontEndSize = sum(BackupItemFrontEndSize), ProtectedContainerName = any(ProtectedContainerName), ProtectedContainerFriendlyName = any(ProtectedContainerFriendlyName), CustomBackupManagementType = iff((any(BackupManagementType) has \"AzureWorkload\"), any(strcat(BackupManagementType, \"\/\", BackupItemType)), any(BackupManagementType)), BackupManagementType = any(BackupManagementType), BackupSolution = any(BackupSolution),  VaultUniqueId = any(VaultUniqueId), VaultName = any(VaultName), VaultTags = any(VaultTags), SubscriptionId = any(SubscriptionId), ResourceGroupName = any(ResourceGroupName), AzureDataCenter = any(AzureDataCenter), StorageReplicationType = any(StorageReplicationType), ResourceId = any(ResourceId), TimeGenerated = any(TimeGenerated) by  ProtectedContainerUniqueId,  TimeRangeEndDay\r\n};\r\nlet LatestProtectedContainerInfoTableExcludingDPMVMs = (){\r\n\/\/ projecting TimeRangeDay to distill the report for RangeEndDay\r\nLatestBackupItemAssociationAndStorageConsumptionTable\r\n| where not((BackupManagementType has \"DPM\" and BackupItemType has \"VMwareVM\") or (BackupManagementType has \"DPM\" and BackupItemType has \"HyperVVM\") \r\nor (BackupManagementType has \"AzureBackupServer\" and BackupItemType has \"VMwareVM\") or (BackupManagementType has \"AzureBackupServer\" and BackupItemType has \"HyperVVM\"))\r\n\/\/ CustomBackupManagementType needed to distinguish 'AzureWorkload' \r\n| summarize StorageConsumedInMBs = sum(StorageConsumedInMBs), BackupItemFrontEndSize = sum(BackupItemFrontEndSize), ProtectedContainerName = any(ProtectedContainerName), ProtectedContainerFriendlyName= any(ProtectedContainerFriendlyName), CustomBackupManagementType = iff((any(BackupManagementType) has \"AzureWorkload\"), any(strcat(BackupManagementType, \"\/\", BackupItemType)), any(BackupManagementType)),\r\nBackupManagementType = any(BackupManagementType), BackupSolution = any(BackupSolution), VaultUniqueId = any(VaultUniqueId), VaultName = any(VaultName), VaultTags = any(VaultTags), SubscriptionId = any(SubscriptionId), ResourceGroupName = any(ResourceGroupName), AzureDataCenter = any(AzureDataCenter), StorageReplicationType = any(StorageReplicationType), ResourceId = any(ResourceId), TimeGenerated = any(TimeGenerated), TimeRangeEndDay = startofday(any(TimeGenerated)) by  ProtectedContainerUniqueId\r\n};\r\nlet TotalProtectedInstanceHistoryTable = (isProtectedContainerBillingType:bool) \r\n{union isfuzzy = true \r\n(ProtectedInstanceHistoryUnderAzureDiagnostics(isProtectedContainerBillingType) | where _ExcludeLegacyEvent == false),\r\n(ProtectedInstanceHistoryUnderResourceSpecific(isProtectedContainerBillingType))\r\n\/\/ ProtectedInstance is at BillingGroup level. CustomBackupManagementType can be the filter used.\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, ProtectedContainerUniqueId, TimeRangeEndDay\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, BackupManagementType, ResourceId, TimeGenerated, ProtectedInstanceCount, TimeRangeEndDay\r\n};\r\nlet LatestProtectedInstanceTable = (isProtectedContainerBillingType:bool) \r\n{union isfuzzy = true \r\n(ProtectedInstanceUnderAzureDiagnostics(isProtectedContainerBillingType) | where _ExcludeLegacyEvent == false),\r\n(ProtectedInstanceUnderResourceSpecific(isProtectedContainerBillingType))\r\n| where startofday(TimeGenerated) == AsonDay\r\n\/\/ ProtectedInstance is at BillingGroup level. CustomBackupManagementType can be the filter used.\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, ProtectedContainerUniqueId\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, BackupManagementType, ResourceId, TimeGenerated, ProtectedInstanceCount, TimeRangeEndDay = startofday(TimeGenerated)\r\n};\r\nlet LatestProtectedInstanceHistoryTableFromProtectedContainerUniqueId = ()\r\n{ \r\nTotalProtectedInstanceHistoryTable(true) \r\n| join kind= rightouter (LatestProtectedContainerHistoryInfoTableExcludingDPMVMs) on ProtectedContainerUniqueId, TimeRangeEndDay\r\n| project TimeRangeEndDay = TimeRangeEndDay1, TimeGenerated = TimeGenerated1, ProtectedInstanceCount, BackupItemFrontEndSize, StorageConsumedInMBs, BackupManagementType = BackupManagementType1, BackupSolution, CustomBackupManagementType, BillingGroupType = \"DatasourceSet\", BillingGroupFriendlyName = ProtectedContainerFriendlyName, BillingGroupUniqueId = ProtectedContainerUniqueId1, BillingGroupName = ProtectedContainerName, ProtectedContainerName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter,\r\nStorageReplicationType, ResourceId\r\n};\r\nlet LatestProtectedInstanceTableFromProtectedContainerUniqueId = ()\r\n{ \r\nLatestProtectedInstanceTable(true)\r\n| join kind= rightouter (LatestProtectedContainerInfoTableExcludingDPMVMs ) on ProtectedContainerUniqueId\r\n| project TimeRangeEndDay = TimeRangeEndDay1, TimeGenerated = TimeGenerated1, ProtectedInstanceCount, BackupItemFrontEndSize, StorageConsumedInMBs, BackupManagementType = BackupManagementType1, BackupSolution, CustomBackupManagementType, BillingGroupType = \"DatasourceSet\", BillingGroupFriendlyName = ProtectedContainerFriendlyName,  BillingGroupUniqueId = ProtectedContainerUniqueId1, BillingGroupName = ProtectedContainerName, ProtectedContainerName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter,\r\nStorageReplicationType, ResourceId\r\n};\r\nlet LatestProtectedInstanceHistoryTableFromBackupItemUniqueId = ()\r\n{ \r\n(TotalProtectedInstanceHistoryTable(false) \r\n| where BackupManagementType in (\"DPM\",\"AzureBackupServer\"))\r\n| join kind= rightouter (LatestBackupItemAssociationAndStorageConsumptionHistoryTable | where ((BackupManagementType has \"DPM\" and BackupItemType has \"VMwareVM\") or (BackupManagementType has \"DPM\" and BackupItemType has \"HyperVVM\") \r\n or (BackupManagementType has \"AzureBackupServer\" and BackupItemType has \"VMwareVM\") or (BackupManagementType has \"AzureBackupServer\" and BackupItemType has \"HyperVVM\"))\r\n | extend CustomBackupManagementType = BackupManagementType) on BackupItemUniqueId, TimeRangeEndDay\r\n| project TimeRangeEndDay = TimeRangeEndDay1, TimeGenerated = TimeGenerated1, ProtectedInstanceCount, BackupItemFrontEndSize, StorageConsumedInMBs, CustomBackupManagementType, BackupManagementType, BackupSolution, BillingGroupType = \"Datasource\", BillingGroupFriendlyName = BackupItemFriendlyName, BillingGroupUniqueId = BackupItemUniqueId1, BillingGroupName = BackupItemName, ProtectedContainerName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, StorageReplicationType, ResourceId\r\n};\r\nlet LatestProtectedInstanceTableFromBackupItemUniqueId = ()\r\n{ \r\n(LatestProtectedInstanceTable(false)\r\n| where BackupManagementType in (\"DPM\",\"AzureBackupServer\"))\r\n| join kind= rightouter \r\n\/\/ applicable only for DPM VM Scenarios\r\n(LatestBackupItemAssociationAndStorageConsumptionTable | where ((BackupManagementType has \"DPM\" and BackupItemType has \"VMwareVM\") or (BackupManagementType has \"DPM\" and BackupItemType has \"HyperVVM\") \r\nor (BackupManagementType has \"AzureBackupServer\" and BackupItemType has \"VMwareVM\") or (BackupManagementType has \"AzureBackupServer\" and BackupItemType has \"HyperVVM\"))\r\n| extend CustomBackupManagementType = BackupManagementType) on BackupItemUniqueId\r\n| project TimeRangeEndDay = TimeRangeEndDay1, TimeGenerated = TimeGenerated1, ProtectedInstanceCount, BackupItemFrontEndSize, StorageConsumedInMBs, BackupManagementType, CustomBackupManagementType, BackupSolution, BillingGroupType = \"Datasource\", BillingGroupFriendlyName = BackupItemFriendlyName, \r\n BillingGroupUniqueId = BackupItemUniqueId1, BillingGroupName = BackupItemName, ProtectedContainerName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, StorageReplicationType, ResourceId\r\n};\r\n\/\/ Special handling for DPM, AzureBackupServer Cluster scenario - Node PS has ProtectedInstance, whereas Cluster PS has storage Consumption\r\nlet LatestProtectedInstanceHistoryTableFromDPMNodeProtectedContainerUniqueId = ()\r\n{ \r\n((TotalProtectedInstanceHistoryTable(true) \r\n| where BackupManagementType in (\"DPM\",\"AzureBackupServer\")\r\n| where ProtectedInstanceCount > 0)\r\n| join kind= leftanti (LatestProtectedContainerHistoryInfoTableExcludingDPMVMs ) on ProtectedContainerUniqueId, TimeRangeEndDay\r\n| project ProtectedContainerUniqueId, BackupManagementType, ResourceId, TimeGenerated, ProtectedInstanceCount, TimeRangeEndDay)\r\n| join (\r\nunion isfuzzy = true  \r\n(ProtectedContainerUnderAzureDiagnostics() | where _ExcludeLegacyEvent == false),\r\n(ProtectedContainerUnderResourceSpecific())\r\n| where BackupManagementType in (\"DPM\",\"AzureBackupServer\")\r\n| where isempty(_BillingGroupName) or _BillingGroupName == \"*\" or ProtectedContainerFriendlyName contains (_BillingGroupName)\r\n| summarize arg_max(TimeGenerated, *) by ProtectedContainerUniqueId)\r\n  on ProtectedContainerUniqueId\r\n  \/\/ BackupItemFrontEndSize and StorageConsumed will be 0.0 as the same will be calculated at cluster level \r\n  \/\/ As it is DPM or AzureBackupServer, no extra handling needed for AzureWorkload\r\n  \/\/ Ideally the TimeGenerated field should come from BackupItem\/ProtectedContainer. This is a special case and we are getting the container properties from latest table and not from history table.\r\n| project TimeRangeEndDay, TimeGenerated, ProtectedInstanceCount, BackupItemFrontEndSize = 0.0, StorageConsumedInMBs = 0.0, BackupManagementType, CustomBackupManagementType = BackupManagementType, \r\nBackupSolution = iff(BackupManagementType == \"AzureBackupServer\", \"Azure Backup Server\", \"DPM\"), BillingGroupType = \"DatasourceSet\", BillingGroupFriendlyName = ProtectedContainerFriendlyName, \r\n BillingGroupUniqueId = ProtectedContainerUniqueId, BillingGroupName = ProtectedContainerName, ProtectedContainerName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, StorageReplicationType, ResourceId\r\n};\r\n\/\/ Special handling for DPM, AzureBackupServer Cluster scenario - Node PS has ProtectedInstance, whereas Cluster PS has storage Consumption\r\nlet LatestProtectedInstanceTableFromDPMNodeProtectedContainerUniqueId = ()\r\n{ \r\n(\r\n(LatestProtectedInstanceTable(true)\r\n| where BackupManagementType in (\"DPM\",\"AzureBackupServer\")\r\n| where ProtectedInstanceCount > 0)\r\n| join kind= leftanti (LatestProtectedContainerInfoTableExcludingDPMVMs ) on ProtectedContainerUniqueId\r\n| project ProtectedContainerUniqueId, BackupManagementType, ResourceId, TimeGenerated, ProtectedInstanceCount, TimeRangeEndDay)\r\n| join (\r\nunion isfuzzy = true  \r\n(ProtectedContainerUnderAzureDiagnostics() | where _ExcludeLegacyEvent == false),\r\n(ProtectedContainerUnderResourceSpecific())\r\n| where BackupManagementType in (\"DPM\",\"AzureBackupServer\")\r\n| where isempty(_BillingGroupName) or _BillingGroupName == \"*\" or ProtectedContainerFriendlyName contains (_BillingGroupName)\r\n| summarize arg_max(TimeGenerated, *) by ProtectedContainerUniqueId)\r\n  on ProtectedContainerUniqueId\r\n  \/\/ BackupItemFrontEndSize and StorageConsumed will be 0.0 as the same will be calculated at cluster level \r\n  \/\/ As it is DPM or AzureBackupServer, no extra handling needed for AzureWorkload\r\n  \/\/ Ideally the TimeGenerated field should come from BackupItem\/ProtectedContainer. This is a special case and we are getting the container properties from latest table and not from history table.\r\n| project TimeRangeEndDay, TimeGenerated, ProtectedInstanceCount, BackupItemFrontEndSize = 0.0, StorageConsumedInMBs = 0.0, BackupManagementType, CustomBackupManagementType = BackupManagementType,\r\n  BackupSolution = iff(BackupManagementType == \"AzureBackupServer\", \"Azure Backup Server\", \"DPM\"), BillingGroupType = \"DatasourceSet\", BillingGroupFriendlyName = ProtectedContainerFriendlyName, \r\n BillingGroupUniqueId = ProtectedContainerUniqueId, BillingGroupName = ProtectedContainerName, ProtectedContainerName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, StorageReplicationType, ResourceId\r\n};\r\nlet ProtectedInstanceHistoryMetric = ( )\r\n{ union \r\n(LatestProtectedInstanceHistoryTableFromProtectedContainerUniqueId()),\r\n(LatestProtectedInstanceHistoryTableFromBackupItemUniqueId()),\r\n(LatestProtectedInstanceHistoryTableFromDPMNodeProtectedContainerUniqueId)\r\n| where BackupSolution in~ (_BackupSolutionList) or '*' in (_BackupSolutionList)\r\n| project  CustomBackupManagementType, BackupItemFrontEndSize, StorageConsumedInMBs, BillingGroupUniqueId, BillingGroupFriendlyName, BillingGroupName, ProtectedInstanceCount, BillingGroupType, TimeRangeEndDay, TimeGenerated, BackupManagementType, BackupSolution, ProtectedContainerName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, StorageReplicationType, ResourceId\r\n};\r\nlet ProtectedInstanceMetric = ( ) \r\n{ union \r\n(LatestProtectedInstanceTableFromBackupItemUniqueId() ),\r\n(LatestProtectedInstanceTableFromProtectedContainerUniqueId()),\r\n(LatestProtectedInstanceTableFromDPMNodeProtectedContainerUniqueId)\r\n| where BackupSolution in~ (_BackupSolutionList) or '*' in (_BackupSolutionList)\r\n| project  CustomBackupManagementType, BackupManagementType, BackupSolution, BackupItemFrontEndSize, StorageConsumedInMBs, ProtectedInstanceCount, BillingGroupUniqueId, BillingGroupFriendlyName, BillingGroupName, BillingGroupType, TimeRangeEndDay, TimeGenerated, ProtectedContainerName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, StorageReplicationType, ResourceId\r\n};\r\nlet FinalTable = () {union (ProtectedInstanceMetric | where (_RangeEnd-_RangeStart == 1d)), (ProtectedInstanceHistoryMetric | where (_RangeEnd-_RangeStart > 1d))\r\n};\r\n\/\/ Display Tweaks for AFS and null ProtectedInstanceCount\r\n\/\/ Billing Entity is at BackupManagementType level and not at DS level. \r\nlet FinalTable_V1Vault = () {FinalTable\r\n| project CustomBackupManagementType, BackupManagementType, BackupSolution, ProtectedInstanceCount = iff(isempty(ProtectedInstanceCount), 0.0 ,todouble(ProtectedInstanceCount)\/10), StorageConsumedInMBs = iff(isempty(StorageConsumedInMBs), todouble(0), todouble(StorageConsumedInMBs)), BackupItemFrontEndSize = iff(isempty(BackupItemFrontEndSize), todouble(0), todouble(BackupItemFrontEndSize)), BillingGroupUniqueId, BillingGroupType, BillingGroupName, BillingGroupFriendlyName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, ResourceId, StorageReplicationType, ProtectedContainerName, TimeGenerated\r\n| project UniqueId = BillingGroupUniqueId, Name = BillingGroupName, Type = BillingGroupType, FriendlyName = BillingGroupFriendlyName,  SourceSizeInMBs = BackupItemFrontEndSize, ExtendedProperties = pack(\"ProtectedInstanceCount\", ProtectedInstanceCount), VaultStore_StorageConsumptionInMBs = StorageConsumedInMBs,  BackupSolution,  VaultUniqueId, VaultName, VaultResourceId = ResourceId, VaultSubscriptionId = SubscriptionId, VaultLocation = AzureDataCenter, VaultStore_StorageReplicationType = StorageReplicationType, VaultTags, VaultType = \"Microsoft.RecoveryServices\/vaults\", TimeGenerated};\r\nlet BillingGroupHistoryUnderResourceSpecificForDPP = ()\r\n{\r\nAddonAzureBackupProtectedInstance\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where VaultType == \"Microsoft.DataProtection\/backupVaults\"\r\n| where OperationName == \"ProtectedInstance\" \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| where isnotempty(VaultType) and (VaultType in~ (_VaultTypeList) or '*' in (_VaultTypeList))\r\n| where ConvertDataSourceTypeToBackupSolution(DatasourceType) in~ (_BackupSolutionList) or \"*\" in (_BackupSolutionList)\r\n| where isempty(_BillingGroupName) or (_BillingGroupName) == \"*\" or  BillingGroupFriendlyName contains (_BillingGroupName)\r\n| extend StorageConsumedInMBs = iff(isnotempty(tostring(StorageConsumedInMBs)),StorageConsumedInMBs,toreal(0))\r\n| extend ArchiveTierStorageConsumedInMBs = iff(isnotempty(tostring(ArchiveTierStorageConsumedInMBs)),ArchiveTierStorageConsumedInMBs,toreal(0))\r\n| project UniqueId = toupper(BillingGroupUniqueId), Name = BillingGroupFriendlyName, FriendlyName = BillingGroupFriendlyName, ResourceGroupName = BillingGroupResourceGroupName, Type = BillingGroupType, SourceSizeInMBs = SourceSizeInMBs, VaultStore_StorageConsumptionInMBs = StorageConsumedInMBs, ArchiveStore_StorageConsumptionInMBs = ArchiveTierStorageConsumedInMBs, BackupSolution = ConvertDataSourceTypeToBackupSolution(DatasourceType), VaultResourceId = toupper(ResourceId), VaultUniqueId = toupper(VaultUniqueId), VaultName, VaultTags, VaultSubscriptionId = toupper(SubscriptionId), VaultLocation = AzureDataCenter, VaultStore_StorageReplicationType = StorageReplicationType, ArchiveStore_StorageReplicationType = ArchiveTierStorageReplicationType, VaultType, TimeGenerated, ExtendedProperties = pack(\"ProtectedInstanceCount\", ProtectedInstanceCount)\r\n| summarize arg_max(TimeGenerated, *) by UniqueId, TimeRangeEndDay = startofday(TimeGenerated)\r\n| project UniqueId, Name,FriendlyName, ResourceGroupName, Type, SourceSizeInMBs, VaultStore_StorageConsumptionInMBs, ArchiveStore_StorageConsumptionInMBs, BackupSolution, VaultResourceId, VaultUniqueId, VaultName, VaultTags,VaultSubscriptionId,VaultLocation,VaultStore_StorageReplicationType,ArchiveStore_StorageReplicationType,VaultType,TimeGenerated = TimeRangeEndDay,ExtendedProperties\r\n};\r\nlet BillingGroupUnderResourceSpecificForDPP = ()\r\n{\r\nAddonAzureBackupProtectedInstance\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where VaultType == \"Microsoft.DataProtection\/backupVaults\"\r\n| where OperationName == \"ProtectedInstance\" \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| where isnotempty(VaultType) and (VaultType in~ (_VaultTypeList) or '*' in (_VaultTypeList))\r\n| where ConvertDataSourceTypeToBackupSolution(DatasourceType) in~ (_BackupSolutionList) or \"*\" in (_BackupSolutionList)\r\n| where isempty(_BillingGroupName) or (_BillingGroupName) == \"*\" or  BillingGroupFriendlyName contains (_BillingGroupName)\r\n| extend StorageConsumedInMBs = iff(isnotempty(tostring(StorageConsumedInMBs)),StorageConsumedInMBs,toreal(0))\r\n| extend ArchiveTierStorageConsumedInMBs = iff(isnotempty(tostring(ArchiveTierStorageConsumedInMBs)),ArchiveTierStorageConsumedInMBs,toreal(0))\r\n| project UniqueId = toupper(BillingGroupUniqueId), Name = BillingGroupFriendlyName, FriendlyName = BillingGroupFriendlyName, ResourceGroupName = BillingGroupResourceGroupName, Type = BillingGroupType, SourceSizeInMBs = SourceSizeInMBs, VaultStore_StorageConsumptionInMBs = StorageConsumedInMBs, ArchiveStore_StorageConsumptionInMBs = ArchiveTierStorageConsumedInMBs, BackupSolution = ConvertDataSourceTypeToBackupSolution(DatasourceType), VaultResourceId = toupper(ResourceId), VaultUniqueId = toupper(VaultUniqueId), VaultName, VaultTags, VaultSubscriptionId = toupper(SubscriptionId), VaultLocation = AzureDataCenter, VaultStore_StorageReplicationType = StorageReplicationType, ArchiveStore_StorageReplicationType = ArchiveTierStorageReplicationType, VaultType, TimeGenerated, ExtendedProperties = pack(\"ProtectedInstanceCount\", ProtectedInstanceCount)\r\n| summarize arg_max(TimeGenerated, *) by UniqueId\r\n| project UniqueId, Name,FriendlyName, ResourceGroupName, Type, SourceSizeInMBs, VaultStore_StorageConsumptionInMBs, ArchiveStore_StorageConsumptionInMBs, BackupSolution, VaultResourceId, VaultUniqueId, VaultName, VaultTags, VaultSubscriptionId, VaultLocation, VaultStore_StorageReplicationType, ArchiveStore_StorageReplicationType, VaultType, TimeGenerated, ExtendedProperties\r\n};\r\nlet FinalTable_DPP = ()\r\n{\r\nunion (BillingGroupUnderResourceSpecificForDPP | where (_RangeEnd-_RangeStart == 1d)), (BillingGroupHistoryUnderResourceSpecificForDPP | where (_RangeEnd-_RangeStart > 1d))\r\n| project UniqueId, Name,FriendlyName, ResourceGroupName, Type, SourceSizeInMBs, VaultStore_StorageConsumptionInMBs, ArchiveStore_StorageConsumptionInMBs, BackupSolution, VaultResourceId, VaultUniqueId, VaultName, VaultTags, VaultSubscriptionId, VaultLocation, VaultStore_StorageReplicationType, ArchiveStore_StorageReplicationType, VaultType, TimeGenerated, ExtendedProperties\r\n};\r\nlet FinalTable_Reporting = ()\r\n{\r\nunion (FinalTable_DPP |where \"Microsoft.DataProtection\/backupVaults\" in~ (_VaultTypeList) or '*' in (_VaultTypeList)), (FinalTable_V1Vault | where \"Microsoft.RecoveryServices\/vaults\" in~ (_VaultTypeList) or '*' in (_VaultTypeList))\r\n};\r\nFinalTable_Reporting"
                  }
                ]
              }
            },
            "Initialize_variable-BillingGroupTrendFunction": {
              "runAfter": {
                "Initialize_variable-BillingGroupFunction": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "BillingGroupTrendFunction",
                    "type": "string",
                    "value": "@{variables('workspacesToQuery_Custom')}\r\n@{variables('ReportFilter_Trend')}\r\nlet _BillingGroupName = \"*\";\r\n\/\/Other Vars\r\nlet AsonDay =  _RangeEnd-1d;\r\nlet AzureStorageCutoffDate = datetime(6\/01\/2020, 12:00:00.000 AM);\r\nlet AzureStorageProtectedInstanceCountCutoffDate = datetime(2\/01\/2021, 12:00:00.000 AM);\r\n\/\/ HelperFunctions\r\nlet ConvertDataSourceTypeToBackupSolution = (DataSourceType:string)\r\n{\r\n\tiff(DataSourceType == \"Microsoft.DBforPostgreSQL\/servers\/databases\",\"Azure Database for PostgreSQL Server Backup\",iff(DataSourceType == \"Microsoft.Storage\/storageAccounts\/blobServices\", \"Azure Blob Backup\",iff(DataSourceType == \"Microsoft.Compute\/disks\",\"Azure Disk Backup\",\"\")))\r\n};\r\nlet Extend_BackupSolution = (T:(BackupManagementType:string, BackupItemType:string))\r\n{\r\nT | extend BackupSolution = iff(BackupManagementType == \"IaaSVM\", \"Azure Virtual Machine Backup\", \r\niff(BackupManagementType == \"MAB\", \"Azure Backup Agent\", \r\niff(BackupManagementType == \"DPM\", \"DPM\", \r\niff(BackupManagementType == \"AzureBackupServer\", \"Azure Backup Server\", \r\niff(BackupManagementType == \"AzureStorage\", \"Azure Storage (Azure Files) Backup\", \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SQLDataBase\", \"SQL in Azure VM Backup\", \r\niff(BackupManagementType == \"AzureWorkload\" and BackupItemType == \"SAPHanaDatabase\", \"SAP HANA in Azure VM Backup\", \"\")))))))\r\n};\r\n\/\/ Source Tables\r\nlet VaultUnderAzureDiagnostics = ()\r\n{\r\nAzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where Category == \"AzureBackupReport\" and OperationName == \"Vault\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\"\r\n| project VaultName = columnifexists(\"VaultName_s\", \"\"), VaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), VaultTags = columnifexists(\"VaultTags_s\", \"\"), AzureDataCenter =  columnifexists(\"AzureDataCenter_s\", \"\"), ResourceGroupName =  columnifexists(\"ResourceGroupName_s\", \"\"), SubscriptionId = toupper(SubscriptionId), StorageReplicationType = columnifexists(\"StorageReplicationType_s\", \"\"), ResourceId, TimeGenerated \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| summarize arg_max(TimeGenerated, *) by ResourceId\r\n| project StorageReplicationType, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, ResourceId, TimeGenerated\r\n};\r\nlet VaultUnderResourceSpecific = ()\r\n{\r\nCoreAzureBackup\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where OperationName == \"Vault\" \r\n| project StorageReplicationType, VaultUniqueId, VaultName, VaultTags, SubscriptionId = toupper(SubscriptionId), ResourceGroupName, AzureDataCenter, ResourceId, TimeGenerated \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| summarize arg_max(TimeGenerated, *) by ResourceId\r\n};\r\nlet ResourceIdListUnderAzureDiagnostics = materialize(VaultUnderAzureDiagnostics | distinct ResourceId);\r\nlet ResourceIdListUnderResourceSpecific = materialize(VaultUnderResourceSpecific | distinct ResourceId);\r\nlet BackupItemUnderAzureDiagnostics = ()\r\n{\r\nlet SourceBackupItemTable = AzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItem\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupItemProtectionState = columnifexists(\"BackupItemProtectionState_s\", \"\"), BackupItemAppVersion = columnifexists(\"BackupItemAppVersion_s\", \"\"),SecondaryBackupProtectionState = columnifexists(\"SecondaryBackupProtectionState_s\", \"\"), BackupItemName = columnifexists(\"BackupItemName_s\", \"\"), BackupItemFriendlyName = columnifexists(\"BackupItemFriendlyName_s\", \"\"),\r\nBackupItemType = columnifexists(\"BackupItemType_s\", \"\"),  ProtectionGroupName = columnifexists(\"ProtectionGroupName_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId\r\n\/\/Handle MAB system state\r\n\/\/ Excluding SecondaryBackupProtectionState, BackupItemAppVersion, ProtectionGroupName\r\n|  project BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupItemName = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), \"System State\", BackupItemName), BackupItemProtectionState, BackupItemAppVersion, SecondaryBackupProtectionState, ProtectionGroupName, BackupItemFriendlyName, BackupItemType, BackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\");\r\nlet BackupItemTable = Extend_BackupSolution(SourceBackupItemTable)\r\n| where BackupSolution in~ (_BackupSolutionList) or '*' in (_BackupSolutionList)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nVaultUnderAzureDiagnostics | join   (\r\n   BackupItemTable \r\n) on ResourceId\r\n| project-away ResourceId1, TimeGenerated1;\r\n};\r\nlet BackupItemUnderResourceSpecific = ()\r\n{\r\nlet SourceBackupItemTable = CoreAzureBackup\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where OperationName == \"BackupItem\" and State != \"Deleted\"\r\n\/\/Handle MAB system state\r\n\/\/ Excluding SecondaryBackupProtectionState, BackupItemAppVersion, ProtectionGroupName\r\n|  project BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupItemName = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), \"System State\", BackupItemName), BackupItemProtectionState, BackupItemAppVersion, SecondaryBackupProtectionState, ProtectionGroupName, BackupItemFriendlyName, BackupItemType, BackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\");\r\nlet BackupItemTable = Extend_BackupSolution(SourceBackupItemTable)\r\n| where BackupSolution in~ (_BackupSolutionList) or '*' in (_BackupSolutionList)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nVaultUnderResourceSpecific | join   (\r\n   BackupItemTable \r\n) on ResourceId\r\n| project-away ResourceId1, TimeGenerated1;\r\n};\r\nlet BackupItemAssociationUnderAzureDiagnostics = ()\r\n{\r\n let BackupItemAssociationTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItemAssociation\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"), ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"), \r\nVaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), PolicyUniqueIdGuid = columnifexists(\"PolicyUniqueId_g\", \"\") , PolicyUniqueIdStr = columnifexists(\"PolicyUniqueId_s\", \"\"),\r\nTimeGenerated, ResourceId  \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n\/\/ PolicyUniqueId can be either guid or string due to AzureDiagnostics behaviour\r\n| project PolicyUniqueId = iff(PolicyUniqueIdGuid == \"\", PolicyUniqueIdStr, PolicyUniqueIdGuid), BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemAssociationTable\r\n};\r\nlet BackupItemAssociationUnderResourceSpecific = ()\r\n{\r\nlet BackupItemAssociationTable = CoreAzureBackup \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"BackupItemAssociation\" and State != \"Deleted\"\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n| project PolicyUniqueId, BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemAssociationTable\r\n};\r\nlet BackupItemAssociationHistoryUnderAzureDiagnostics = ()\r\n{\r\n let BackupItemAssociationTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItemAssociation\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"), ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"), \r\nVaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), PolicyUniqueIdGuid = columnifexists(\"PolicyUniqueId_g\", \"\"), PolicyUniqueIdStr = columnifexists(\"PolicyUniqueId_s\", \"\"),\r\nTimeGenerated, ResourceId  \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n\/\/ PolicyUniqueId can be either guid or string due to AzureDiagnostics behaviour\r\n| project PolicyUniqueId = iff(PolicyUniqueIdGuid == \"\", PolicyUniqueIdStr, PolicyUniqueIdGuid), BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nBackupItemAssociationTable\r\n};\r\nlet BackupItemAssociationHistoryUnderResourceSpecific = ()\r\n{\r\nlet BackupItemAssociationTable = CoreAzureBackup \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"BackupItemAssociation\" and State != \"Deleted\"\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Handle MAB SystemState\r\n| project PolicyUniqueId, BackupItemUniqueId = iff((BackupManagementType == \"MAB\" and BackupItemUniqueId contains \"ssbv\\\\\"), replace(@\"[^;]+$\", @\"systemstate\", BackupItemUniqueId ), BackupItemUniqueId), BackupManagementServerUniqueId, ProtectedContainerUniqueId, VaultUniqueId, BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nBackupItemAssociationTable\r\n};\r\nlet BackupItemFrontEndSizeHistoryUnderAzureDiagnostics = ()\r\n{\r\n let BackupItemFrontEndSizeTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItemFrontEndSizeConsumption\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemFrontEndSize = todouble(columnifexists(\"BackupItemFrontEndSize_s\", \"\")), BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nBackupItemFrontEndSizeTable\r\n};\r\nlet BackupItemFrontEndSizeHistoryUnderResourceSpecific = ()\r\n{\r\nlet BackupItemFrontEndSizeTable = CoreAzureBackup \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"BackupItemFrontEndSizeConsumption\" and State != \"Deleted\"\r\n| project BackupItemFrontEndSize, BackupItemUniqueId, BackupManagementType, TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nBackupItemFrontEndSizeTable\r\n};\r\nlet BackupItemFrontEndSizeUnderAzureDiagnostics = ()\r\n{\r\n let BackupItemFrontEndSizeTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"BackupItemFrontEndSizeConsumption\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemFrontEndSize = todouble(columnifexists(\"BackupItemFrontEndSize_s\", \"\")), BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemFrontEndSizeTable\r\n};\r\nlet BackupItemFrontEndSizeUnderResourceSpecific = ()\r\n{\r\nlet BackupItemFrontEndSizeTable = CoreAzureBackup \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"BackupItemFrontEndSizeConsumption\" and State != \"Deleted\"\r\n| project BackupItemFrontEndSize, BackupItemUniqueId, BackupManagementType, TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nBackupItemFrontEndSizeTable\r\n};\r\nlet StorageAssociationHistoryUnderAzureDiagnostics = ()\r\n{\r\n let StorageAssociationTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"StorageAssociation\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n\/\/ Not Projecting ProtectedContainerUniqueId - DPM\/AzureBackupServer ProtectedContainer (incase of cluster) is node PS and not cluster PS\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), VaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), StorageUniqueId = columnifexists(\"StorageUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"), StorageConsumedInMBs = todouble(columnifexists(\"StorageConsumedInMBs_s\", \"\")), \r\nStorageAllocatedInMBs = todouble(columnifexists(\"StorageAllocatedInMBs_s\", \"\")), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Providers like DPM, AzureBackupServer has Disk storage. Filtering out cloud storage only.\r\n| where split(StorageUniqueId, \";\")[2] has \"cloud\"\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nStorageAssociationTable\r\n};\r\nlet StorageAssociationHistoryUnderResourceSpecific = ()\r\n{\r\nlet StorageAssociationTable = AddonAzureBackupStorage \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now()) \r\n| where column_ifexists(\"VaultType\",\"\") == \"\"\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"StorageAssociation\" and State != \"Deleted\"\r\n\/\/ Not Projecting ProtectedContainerUniqueId - DPM\/AzureBackupServer ProtectedContainer (incase of cluster) is node PS and not cluster PS\r\n| project BackupItemUniqueId, VaultUniqueId, BackupManagementServerUniqueId, StorageUniqueId, StorageConsumedInMBs, StorageAllocatedInMBs, BackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated)) \r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Providers like DPM, AzureBackupServer has Disk storage. Filtering out cloud storage only.\r\n| where split(StorageUniqueId, \";\")[2] has \"cloud\"\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nStorageAssociationTable\r\n};\r\nlet StorageAssociationUnderAzureDiagnostics = ()\r\n{\r\n let StorageAssociationTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"StorageAssociation\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n\/\/ Not Projecting ProtectedContainerUniqueId - DPM\/AzureBackupServer ProtectedContainer (incase of cluster) is node PS and not cluster PS\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), VaultUniqueId = columnifexists(\"VaultUniqueId_s\", \"\"), StorageUniqueId = columnifexists(\"StorageUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"), StorageConsumedInMBs = todouble(columnifexists(\"StorageConsumedInMBs_s\", \"\")), \r\nStorageAllocatedInMBs = todouble(columnifexists(\"StorageAllocatedInMBs_s\", \"\")), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Providers like DPM, AzureBackupServer has Disk storage. Filtering out cloud storage only.\r\n| where split(StorageUniqueId, \";\")[2] has \"cloud\"\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nStorageAssociationTable\r\n};\r\nlet StorageAssociationUnderResourceSpecific = ()\r\n{\r\nlet StorageAssociationTable = AddonAzureBackupStorage \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where column_ifexists(\"VaultType\",\"\") == \"\"\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"StorageAssociation\" and State != \"Deleted\"\r\n\/\/ Not Projecting ProtectedContainerUniqueId - DPM\/AzureBackupServer ProtectedContainer (incase of cluster) is node PS and not cluster PS\r\n| project BackupItemUniqueId, VaultUniqueId, BackupManagementServerUniqueId, StorageUniqueId, StorageConsumedInMBs, StorageAllocatedInMBs, BackupManagementType, TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n\/\/ Providers like DPM, AzureBackupServer has Disk storage. Filtering out cloud storage only.\r\n| where split(StorageUniqueId, \";\")[2] has \"cloud\"\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId;\r\nStorageAssociationTable\r\n};\r\nlet ProtectedContainerUnderAzureDiagnostics = ()\r\n{\r\nlet ProtectedContainerTable = AzureDiagnostics\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where Category == \"AzureBackupReport\" and OperationName == \"ProtectedContainer\"  and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"),  ProtectedContainerFriendlyName = columnifexists(\"ProtectedContainerFriendlyName_s\", \"\"), AgentVersion = columnifexists(\"AgentVersion_s\", \"\"),\r\nProtectedContainerOSType = columnifexists(\"ProtectedContainerOSType_s\", \"\"), ProtectedContainerOSVersion = columnifexists(\"ProtectedContainerOSVersion_s\", \"\"), ProtectedContainerWorkloadType = columnifexists(\"ProtectedContainerWorkloadType_s\", \"\"),  ProtectedContainerName = columnifexists(\"ProtectedContainerName_s\", \"\"), ProtectedContainerProtectionState = columnifexists(\"ProtectedContainerProtectionState_s\", \"\"), ProtectedContainerLocation = columnifexists(\"ProtectedContainerLocation_s\", \"\"), ProtectedContainerType = columnifexists(\"ProtectedContainerType_s\", \"\"),\r\nBackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by ProtectedContainerUniqueId;\r\nVaultUnderAzureDiagnostics | join   (\r\n   ProtectedContainerTable \r\n) on ResourceId\r\n| project-away ResourceId1, TimeGenerated1;\r\n};\r\nlet ProtectedContainerUnderResourceSpecific = ()\r\n{\r\nlet ProtectedContainerTable = CoreAzureBackup\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where OperationName == \"ProtectedContainer\" and State != \"Deleted\"\r\n| project ProtectedContainerUniqueId,  ProtectedContainerFriendlyName, AgentVersion,\r\nProtectedContainerOSType, ProtectedContainerOSVersion, ProtectedContainerWorkloadType,  ProtectedContainerName, ProtectedContainerProtectionState, ProtectedContainerLocation, ProtectedContainerType,\r\nBackupManagementType, TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by ProtectedContainerUniqueId;\r\nVaultUnderResourceSpecific | join   (\r\n   ProtectedContainerTable \r\n) on ResourceId\r\n| project-away ResourceId1, TimeGenerated1;\r\n};\r\nlet ProtectedInstanceUnderAzureDiagnostics = (isProtectedContainerBillingType:bool)\r\n{\r\n let ProtectedInstanceTable = AzureDiagnostics \r\n| where Category == \"AzureBackupReport\" and OperationName == \"ProtectedInstance\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"),\r\n ProtectedInstanceCount = toint(columnifexists(\"ProtectedInstanceCount_s\", \"\")), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId \r\n| where (BackupItemUniqueId == \"\" and isProtectedContainerBillingType) or (ProtectedContainerUniqueId == \"\" and not(isProtectedContainerBillingType))\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, BackupManagementServerUniqueId,\r\n ProtectedInstanceCount = iff((BackupManagementType == \"AzureStorage\" and TimeGenerated <= AzureStorageProtectedInstanceCountCutoffDate), 0, ProtectedInstanceCount), BackupManagementType, TimeGenerated, ResourceId\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, ProtectedContainerUniqueId;\r\nProtectedInstanceTable\r\n};\r\nlet ProtectedInstanceUnderResourceSpecific = (isProtectedContainerBillingType:bool)\r\n{\r\nlet ProtectedInstanceTable = AddonAzureBackupProtectedInstance \r\n| where OperationName == \"ProtectedInstance\" and State != \"Deleted\"\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where (BackupItemUniqueId == \"\" and isProtectedContainerBillingType) or (ProtectedContainerUniqueId == \"\" and not(isProtectedContainerBillingType))\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, BackupManagementServerUniqueId,\r\n ProtectedInstanceCount = iff((BackupManagementType == \"AzureStorage\" and TimeGenerated <= AzureStorageProtectedInstanceCountCutoffDate), 0, ProtectedInstanceCount), BackupManagementType, TimeGenerated, ResourceId \r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, ProtectedContainerUniqueId;\r\nProtectedInstanceTable\r\n};\r\nlet ProtectedInstanceHistoryUnderAzureDiagnostics = (isProtectedContainerBillingType:bool)\r\n{\r\n let ProtectedInstanceTable = AzureDiagnostics \r\n \/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where ResourceId in (ResourceIdListUnderAzureDiagnostics)\r\n| where Category == \"AzureBackupReport\" and OperationName == \"ProtectedInstance\" and columnifexists(\"SchemaVersion_s\", \"\") == \"V2\" and columnifexists(\"State_s\", \"\") != \"Deleted\"\r\n| project BackupItemUniqueId = columnifexists(\"BackupItemUniqueId_s\", \"\"), ProtectedContainerUniqueId = columnifexists(\"ProtectedContainerUniqueId_s\", \"\"), BackupManagementServerUniqueId = columnifexists(\"BackupManagementServerUniqueId_s\", \"\"),\r\n ProtectedInstanceCount = toint(columnifexists(\"ProtectedInstanceCount_s\", \"\")), BackupManagementType = columnifexists(\"BackupManagementType_s\", \"\"), TimeGenerated, ResourceId\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\") \r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n| where (BackupItemUniqueId == \"\" and isProtectedContainerBillingType) or (ProtectedContainerUniqueId == \"\" and not(isProtectedContainerBillingType))\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, BackupManagementServerUniqueId,\r\n ProtectedInstanceCount = iff((BackupManagementType == \"AzureStorage\" and TimeGenerated <= AzureStorageProtectedInstanceCountCutoffDate), 0, ProtectedInstanceCount), BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, ProtectedContainerUniqueId, TimeRangeEndDay = startofday(TimeGenerated);\r\nProtectedInstanceTable\r\n};\r\nlet ProtectedInstanceHistoryUnderResourceSpecific = (isProtectedContainerBillingType:bool)\r\n{\r\nlet ProtectedInstanceTable = AddonAzureBackupProtectedInstance \r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where isempty(VaultType)\r\n| where ResourceId in (ResourceIdListUnderResourceSpecific)\r\n| where OperationName == \"ProtectedInstance\" and State != \"Deleted\"\r\n| where not(TimeGenerated <= AzureStorageCutoffDate and BackupManagementType == \"AzureStorage\")\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n| where (BackupItemUniqueId == \"\" and isProtectedContainerBillingType) or (ProtectedContainerUniqueId == \"\" and not(isProtectedContainerBillingType))\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, BackupManagementServerUniqueId,\r\n ProtectedInstanceCount = iff((BackupManagementType == \"AzureStorage\" and TimeGenerated <= AzureStorageProtectedInstanceCountCutoffDate), 0, ProtectedInstanceCount), BackupManagementType, TimeGenerated, ResourceId\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, ProtectedContainerUniqueId, TimeRangeEndDay = startofday(TimeGenerated)\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, BackupManagementServerUniqueId, BackupManagementType, ResourceId, TimeGenerated, ProtectedInstanceCount, TimeRangeEndDay;\r\nProtectedInstanceTable\r\n};\r\n\/\/ BusinessLogic\r\nlet TotalBackupItemDimensionTable = () {union isfuzzy = true \r\n(BackupItemUnderAzureDiagnostics()),\r\n(BackupItemUnderResourceSpecific())\r\n| summarize arg_max(TimeGenerated, *)   by BackupItemUniqueId\r\n| where isempty(_BillingGroupName) or _BillingGroupName == \"*\" or  BackupItemFriendlyName contains (_BillingGroupName)\r\n| extend BackupItemProtectionState = iff(BackupItemProtectionState in (\"Protected\", \"ActivelyProtected\",\"ProtectionError\"), \"Protected\", iff(BackupItemProtectionState in (\"IRPending\"), \"InitialBackupPending\", iff(isnotempty(BackupItemProtectionState),\"ProtectionStopped\",BackupItemProtectionState)))\r\n\/\/| where BackupItemProtectionState in~ (_ProtectionInfoList) or '*' in (_ProtectionInfoList)\r\n| project BackupItemUniqueId,  BackupItemName, BackupItemFriendlyName, BackupManagementType, BackupItemType, BackupSolution, BackupItemProtectionState,\r\nStorageReplicationType, ResourceId, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter};\r\nlet BI_HistoryCombinationUnderAzureDiagnostics = ()\r\n{\t\r\n\tlet Base = ()\r\n\t{\r\n\tProtectedContainerUnderAzureDiagnostics | distinct ProtectedContainerName, ProtectedContainerFriendlyName, ProtectedContainerUniqueId \r\n\t| join  kind= rightouter  (\r\n\t\tBackupItemAssociationHistoryUnderAzureDiagnostics |  project ProtectedContainerUniqueId, BackupItemUniqueId, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t) on ProtectedContainerUniqueId\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId = ProtectedContainerUniqueId1, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Size = ()\r\n\t{\r\n\tBase\r\n\t| join kind= leftouter (\r\n\t   BackupItemFrontEndSizeHistoryUnderAzureDiagnostics | project BackupItemFrontEndSize, BackupItemUniqueId, TimeGenerated, TimeRangeEndDay \r\n\t) on BackupItemUniqueId, TimeRangeEndDay\r\n\t\/\/ using leftouter due to AzureStorage - storageconsumption table is not emitted. inner join will exclude AzureStorage BackupItems.\r\n\t| join kind= leftouter (\r\n\t   StorageAssociationHistoryUnderAzureDiagnostics | project StorageConsumedInMBs, BackupItemUniqueId, TimeGenerated, TimeRangeEndDay\r\n\t) on BackupItemUniqueId, TimeRangeEndDay\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, BackupItemFrontEndSize,\r\n\t StorageConsumedInMBs, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\nBase_Size\r\n};\r\nlet BI_HistoryCombinationUnderResourceSpecific = ()\r\n{\r\n\tlet Base = ()\r\n\t{\r\n\tProtectedContainerUnderResourceSpecific | distinct ProtectedContainerName, ProtectedContainerFriendlyName, ProtectedContainerUniqueId \r\n\t| join  kind= rightouter  (\r\n\t\tBackupItemAssociationHistoryUnderResourceSpecific |  project ProtectedContainerUniqueId, BackupItemUniqueId, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t) on ProtectedContainerUniqueId\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId = ProtectedContainerUniqueId1, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tlet Base_Size = ()\r\n\t{\r\n\tBase\r\n\t| join kind= leftouter (\r\n\t   BackupItemFrontEndSizeHistoryUnderResourceSpecific | project BackupItemFrontEndSize, BackupItemUniqueId, TimeGenerated, TimeRangeEndDay \r\n\t) on BackupItemUniqueId, TimeRangeEndDay\r\n\t\/\/ using leftouter due to AzureStorage - storageconsumption table is not emitted. inner join will exclude AzureStorage BackupItems.\r\n\t| join kind= leftouter (\r\n\t   StorageAssociationHistoryUnderResourceSpecific | project StorageConsumedInMBs, BackupItemUniqueId, TimeGenerated, TimeRangeEndDay\r\n\t) on BackupItemUniqueId, TimeRangeEndDay\r\n\t| project BackupItemUniqueId, ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, BackupManagementServerUniqueId, PolicyUniqueId, BackupItemFrontEndSize,\r\n\t StorageConsumedInMBs, TimeGenerated, TimeRangeEndDay, ResourceId\r\n\t};\r\n\tBase_Size\r\n};\r\nlet LatestBackupItemAssociationAndStorageConsumptionHistoryTable = () \r\n{\r\nTotalBackupItemDimensionTable | join  \r\n(union isfuzzy = true  \r\n(BI_HistoryCombinationUnderAzureDiagnostics() | where _ExcludeLegacyEvent == false),\r\n(BI_HistoryCombinationUnderResourceSpecific())\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, TimeRangeEndDay)\r\n  on BackupItemUniqueId\r\n| where isempty(_BillingGroupName) or _BillingGroupName == \"*\" or ProtectedContainerFriendlyName contains (_BillingGroupName)\r\n| project BackupItemUniqueId, BackupItemName, BackupItemFriendlyName, BackupManagementType, BackupItemType, BackupSolution, BackupItemProtectionState,\r\nVaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, TimeGenerated,  ResourceId,  ProtectedContainerUniqueId, ProtectedContainerName, ProtectedContainerFriendlyName, PolicyUniqueId, BackupItemFrontEndSize, StorageConsumedInMBs, BackupManagementServerUniqueId, StorageReplicationType, TimeRangeEndDay\r\n};\r\nlet LatestProtectedContainerHistoryInfoTableExcludingDPMVMs = (){\r\nLatestBackupItemAssociationAndStorageConsumptionHistoryTable \r\n| where not((BackupManagementType has \"DPM\" and BackupItemType has \"VMwareVM\") or (BackupManagementType has \"DPM\" and BackupItemType has \"HyperVVM\") \r\nor (BackupManagementType has \"AzureBackupServer\" and BackupItemType has \"VMwareVM\") or (BackupManagementType has \"AzureBackupServer\" and BackupItemType has \"HyperVVM\"))\r\n| summarize StorageConsumedInMBs = sum(StorageConsumedInMBs), BackupItemFrontEndSize = sum(BackupItemFrontEndSize), ProtectedContainerName = any(ProtectedContainerName), ProtectedContainerFriendlyName = any(ProtectedContainerFriendlyName), CustomBackupManagementType = iff((any(BackupManagementType) has \"AzureWorkload\"), any(strcat(BackupManagementType, \"\/\", BackupItemType)), any(BackupManagementType)), BackupManagementType = any(BackupManagementType), BackupSolution = any(BackupSolution),  VaultUniqueId = any(VaultUniqueId), VaultName = any(VaultName), VaultTags = any(VaultTags), SubscriptionId = any(SubscriptionId), ResourceGroupName = any(ResourceGroupName), AzureDataCenter = any(AzureDataCenter), StorageReplicationType = any(StorageReplicationType), ResourceId = any(ResourceId), TimeGenerated = any(TimeGenerated) by  ProtectedContainerUniqueId,  TimeRangeEndDay\r\n};\r\nlet TotalProtectedInstanceHistoryTable = (isProtectedContainerBillingType:bool) \r\n{union isfuzzy = true \r\n(ProtectedInstanceHistoryUnderAzureDiagnostics(isProtectedContainerBillingType) | where _ExcludeLegacyEvent == false),\r\n(ProtectedInstanceHistoryUnderResourceSpecific(isProtectedContainerBillingType))\r\n\/\/ ProtectedInstance is at BillingGroup level. CustomBackupManagementType can be the filter used.\r\n\/\/| where BackupManagementType in (BackupManagementTypeParam) or '*' in (BackupManagementTypeParam)\r\n| summarize arg_max(TimeGenerated, *) by BackupItemUniqueId, ProtectedContainerUniqueId, TimeRangeEndDay\r\n| project BackupItemUniqueId, ProtectedContainerUniqueId, BackupManagementType, ResourceId, TimeGenerated, ProtectedInstanceCount, TimeRangeEndDay\r\n};\r\nlet LatestProtectedInstanceHistoryTableFromProtectedContainerUniqueId = ()\r\n{ \r\nTotalProtectedInstanceHistoryTable(true) \r\n| join kind= rightouter (LatestProtectedContainerHistoryInfoTableExcludingDPMVMs) on ProtectedContainerUniqueId, TimeRangeEndDay\r\n| project TimeRangeEndDay = TimeRangeEndDay1, TimeGenerated = TimeGenerated1, ProtectedInstanceCount, BackupItemFrontEndSize, StorageConsumedInMBs, BackupManagementType = BackupManagementType1, BackupSolution, CustomBackupManagementType, BillingGroupType = \"DatasourceSet\", BillingGroupFriendlyName = ProtectedContainerFriendlyName, BillingGroupUniqueId = ProtectedContainerUniqueId1, BillingGroupName = ProtectedContainerName, ProtectedContainerName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter,\r\nStorageReplicationType, ResourceId\r\n};\r\nlet LatestProtectedInstanceHistoryTableFromBackupItemUniqueId = ()\r\n{ \r\n(TotalProtectedInstanceHistoryTable(false) \r\n| where BackupManagementType in (\"DPM\",\"AzureBackupServer\"))\r\n| join kind= rightouter (LatestBackupItemAssociationAndStorageConsumptionHistoryTable | where ((BackupManagementType has \"DPM\" and BackupItemType has \"VMwareVM\") or (BackupManagementType has \"DPM\" and BackupItemType has \"HyperVVM\") \r\n or (BackupManagementType has \"AzureBackupServer\" and BackupItemType has \"VMwareVM\") or (BackupManagementType has \"AzureBackupServer\" and BackupItemType has \"HyperVVM\"))\r\n | extend CustomBackupManagementType = BackupManagementType) on BackupItemUniqueId, TimeRangeEndDay\r\n| project TimeRangeEndDay = TimeRangeEndDay1, TimeGenerated = TimeGenerated1, ProtectedInstanceCount, BackupItemFrontEndSize, StorageConsumedInMBs, CustomBackupManagementType, BackupManagementType, BackupSolution, BillingGroupType = \"Datasource\", BillingGroupFriendlyName = BackupItemFriendlyName, BillingGroupUniqueId = BackupItemUniqueId1, BillingGroupName = BackupItemName, ProtectedContainerName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, StorageReplicationType, ResourceId\r\n};\r\n\/\/ Special handling for DPM, AzureBackupServer Cluster scenario - Node PS has ProtectedInstance, whereas Cluster PS has storage Consumption\r\nlet LatestProtectedInstanceHistoryTableFromDPMNodeProtectedContainerUniqueId = ()\r\n{ \r\n((TotalProtectedInstanceHistoryTable(true) \r\n| where BackupManagementType in (\"DPM\",\"AzureBackupServer\")\r\n| where ProtectedInstanceCount > 0)\r\n| join kind= leftanti (LatestProtectedContainerHistoryInfoTableExcludingDPMVMs ) on ProtectedContainerUniqueId, TimeRangeEndDay\r\n| project ProtectedContainerUniqueId, BackupManagementType, ResourceId, TimeGenerated, ProtectedInstanceCount, TimeRangeEndDay)\r\n| join (\r\nunion isfuzzy = true  \r\n(ProtectedContainerUnderAzureDiagnostics() | where _ExcludeLegacyEvent == false),\r\n(ProtectedContainerUnderResourceSpecific())\r\n| where BackupManagementType in (\"DPM\",\"AzureBackupServer\")\r\n| where isempty(_BillingGroupName) or _BillingGroupName == \"*\" or ProtectedContainerFriendlyName contains (_BillingGroupName)\r\n| summarize arg_max(TimeGenerated, *) by ProtectedContainerUniqueId)\r\n  on ProtectedContainerUniqueId\r\n  \/\/ BackupItemFrontEndSize and StorageConsumed will be 0.0 as the same will be calculated at cluster level \r\n  \/\/ As it is DPM or AzureBackupServer, no extra handling needed for AzureWorkload\r\n  \/\/ Ideally the TimeGenerated field should come from BackupItem\/ProtectedContainer. This is a special case and we are getting the container properties from latest table and not from history table.\r\n| project TimeRangeEndDay, TimeGenerated, ProtectedInstanceCount, BackupItemFrontEndSize = 0.0, StorageConsumedInMBs = 0.0, BackupManagementType, CustomBackupManagementType = BackupManagementType, \r\nBackupSolution = iff(BackupManagementType == \"AzureBackupServer\", \"Azure Backup Server\", \"DPM\"), BillingGroupType = \"DatasourceSet\", BillingGroupFriendlyName = ProtectedContainerFriendlyName, \r\n BillingGroupUniqueId = ProtectedContainerUniqueId, BillingGroupName = ProtectedContainerName, ProtectedContainerName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, StorageReplicationType, ResourceId\r\n};\r\nlet ProtectedInstanceHistoryMetric = ( )\r\n{ union \r\n(LatestProtectedInstanceHistoryTableFromProtectedContainerUniqueId()),\r\n(LatestProtectedInstanceHistoryTableFromBackupItemUniqueId()),\r\n(LatestProtectedInstanceHistoryTableFromDPMNodeProtectedContainerUniqueId)\r\n| where BackupSolution in~ (_BackupSolutionList) or '*' in (_BackupSolutionList)\r\n| project  CustomBackupManagementType, BackupItemFrontEndSize, StorageConsumedInMBs, BillingGroupUniqueId, BillingGroupFriendlyName, BillingGroupName, ProtectedInstanceCount, BillingGroupType, TimeRangeEndDay, TimeGenerated, BackupManagementType, BackupSolution, ProtectedContainerName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, StorageReplicationType, ResourceId\r\n};\r\nlet FinalTable = () {ProtectedInstanceHistoryMetric\r\n};\r\n\/\/ Display Tweaks for AFS and null ProtectedInstanceCount\r\n\/\/ Billing Entity is at BackupManagementType level and not at DS level. \r\nlet FinalTable_V1Vault = () {FinalTable\r\n| project CustomBackupManagementType, BackupManagementType, BackupSolution, ProtectedInstanceCount = iff(isempty(ProtectedInstanceCount), 0.0 ,todouble(ProtectedInstanceCount)\/10), StorageConsumedInMBs = iff(isempty(StorageConsumedInMBs), todouble(0), todouble(StorageConsumedInMBs)), BackupItemFrontEndSize = iff(isempty(BackupItemFrontEndSize), todouble(0), todouble(BackupItemFrontEndSize)), BillingGroupUniqueId, BillingGroupType, BillingGroupName, BillingGroupFriendlyName, VaultUniqueId, VaultName, VaultTags, SubscriptionId, ResourceGroupName, AzureDataCenter, ResourceId, StorageReplicationType, ProtectedContainerName, TimeGenerated\r\n| project UniqueId = BillingGroupUniqueId, Name = BillingGroupName, Type = BillingGroupType, FriendlyName = BillingGroupFriendlyName,  SourceSizeInMBs = BackupItemFrontEndSize, ExtendedProperties = pack(\"ProtectedInstanceCount\", ProtectedInstanceCount), VaultStore_StorageConsumptionInMBs = StorageConsumedInMBs,  BackupSolution,  VaultUniqueId, VaultName, VaultResourceId = ResourceId, VaultSubscriptionId = SubscriptionId, VaultLocation = AzureDataCenter, VaultStore_StorageReplicationType = StorageReplicationType, VaultTags, VaultType = \"Microsoft.RecoveryServices\/vaults\", TimeGenerated};\r\n\/\/ FinalTable_DPPVault to be added later\r\nlet BillingGroupTrendsUnderResourceSpecificForDPP = ()\r\n{\r\nAddonAzureBackupProtectedInstance\r\n\/\/ Take records until previous day\r\n| where TimeGenerated >= _RangeStart and TimeGenerated <= _RangeEnd and TimeGenerated < startofday(now())\r\n| where VaultType == \"Microsoft.DataProtection\/backupVaults\"\r\n| where OperationName == \"ProtectedInstance\" \r\n| where SubscriptionId in~ (_VaultSubscriptionList) or '*' in (_VaultSubscriptionList)\r\n| where AzureDataCenter in~ (_VaultLocationList) or '*' in (_VaultLocationList)\r\n| where VaultName in~  (_VaultList) or '*' in (_VaultList)\r\n| where VaultType in~ (_VaultTypeList) or '*' in (_VaultTypeList)\r\n| where ConvertDataSourceTypeToBackupSolution(DatasourceType) in~ (_BackupSolutionList) or \"*\" in (_BackupSolutionList)\r\n| where isempty(_BillingGroupName) or _BillingGroupName == \"*\" or  BillingGroupFriendlyName contains (_BillingGroupName)\r\n| where (_AggregationType =~ \"Daily\") or (_AggregationType =~ \"Weekly\" and startofday(TimeGenerated) == startofweek(TimeGenerated)) or (_AggregationType =~ \"Monthly\" and startofday(TimeGenerated) == startofmonth(TimeGenerated))\r\n| extend StorageConsumedInMBs = iff(isnotempty(tostring(StorageConsumedInMBs)),StorageConsumedInMBs,toreal(0))\r\n| extend ArchiveTierStorageConsumedInMBs = iff(isnotempty(tostring(ArchiveTierStorageConsumedInMBs)),ArchiveTierStorageConsumedInMBs,toreal(0))\r\n| project UniqueId = toupper(BillingGroupUniqueId), Name = BillingGroupFriendlyName, FriendlyName = BillingGroupFriendlyName, ResourceGroupName = BillingGroupResourceGroupName, Type = BillingGroupType, SourceSizeInMBs = SourceSizeInMBs, VaultStore_StorageConsumptionInMBs = StorageConsumedInMBs, ArchiveStore_StorageConsumptionInMBs = ArchiveTierStorageConsumedInMBs, BackupSolution = ConvertDataSourceTypeToBackupSolution(DatasourceType), VaultResourceId = toupper(ResourceId), VaultUniqueId = toupper(VaultUniqueId), VaultName, VaultTags, VaultSubscriptionId = toupper(SubscriptionId), VaultLocation = AzureDataCenter, VaultStore_StorageReplicationType = StorageReplicationType, ArchiveStore_StorageReplicationType = ArchiveTierStorageReplicationType, VaultType, TimeGenerated, ExtendedProperties = pack(\"ProtectedInstanceCount\", ProtectedInstanceCount)\r\n| summarize arg_max(TimeGenerated, *) by UniqueId, TimeRangeEndDay = startofday(TimeGenerated)\r\n| project UniqueId, Name,FriendlyName, ResourceGroupName, Type, SourceSizeInMBs, VaultStore_StorageConsumptionInMBs, ArchiveStore_StorageConsumptionInMBs, BackupSolution, VaultResourceId, VaultUniqueId, VaultName, VaultTags, VaultSubscriptionId, VaultLocation, VaultStore_StorageReplicationType, ArchiveStore_StorageReplicationType, VaultType, TimeGenerated = TimeRangeEndDay, ExtendedProperties\r\n};\r\nlet FinalTable_DPP = ()\r\n{\r\nBillingGroupTrendsUnderResourceSpecificForDPP\r\n| project UniqueId, Name, FriendlyName, ResourceGroupName, Type, SourceSizeInMBs, VaultStore_StorageConsumptionInMBs, ArchiveStore_StorageConsumptionInMBs, BackupSolution, VaultResourceId, VaultUniqueId, VaultName, VaultTags, VaultSubscriptionId, VaultLocation, VaultStore_StorageReplicationType, ArchiveStore_StorageReplicationType, VaultType, TimeGenerated, ExtendedProperties\r\n};\r\nlet FinalTable_Reporting = ()\r\n{\r\nunion (FinalTable_DPP |where \"Microsoft.DataProtection\/backupVaults\" in~ (_VaultTypeList) or '*' in (_VaultTypeList)), (FinalTable_V1Vault | where \"Microsoft.RecoveryServices\/vaults\" in~ (_VaultTypeList) or '*' in (_VaultTypeList))\r\n};                                                                       \r\nFinalTable_Reporting"
                  }
                ]
              }
            },
            "Initialize_variable-CoreAzureBackup": {
              "runAfter": {
                "Initialize_variable-AzureDiagnostics": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "CoreAzureBackup_Incomplete",
                    "type": "string",
                    "value": "let CoreAzureBackup = ()\n{\nunion"
                  }
                ]
              }
            },
            "Initialize_variable-EmailBodyForSuccessfulRun": {
              "runAfter": {
                "Initialize_variable-BillingGroupTrendFunction": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "visual",
                    "type": "string"
                  }
                ]
              }
            },
            "Initialize_variable-ReportFilterForHistoricalData": {
              "runAfter": {
                "Initialize_variable-UnionOfWorkspaces": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ReportFilter_Trend",
                    "type": "string",
                    "value": "let _RangeStart = datetime_add('day', -@{parameters('timeRangeInDays')},startofday(now()));\nlet _RangeEnd = startofday(now());\nlet _VaultSubscriptionList = split(@{parameters('vaultSubscriptionListFilter')}, ',');\nlet _VaultLocationList = split(@{parameters('vaultLocationListFilter')}, ',');\nlet _VaultList = split(@{parameters('vaultListFilter')}, ',');\nlet _VaultTypeList = \"*\";\nlet _ExcludeLegacyEvent = @{parameters('excludeLegacyEvent')};\nlet _BackupSolutionList =  split(@{parameters('backupSolutionListFilter')}, ',');\nlet _AggregationType = @{parameters('aggregationType')};"
                  }
                ]
              }
            },
            "Initialize_variable-ReportFilterForLatestData": {
              "runAfter": {
                "Initialize_variable-ReportFilterForHistoricalData": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ReportFilter_Latest",
                    "type": "string",
                    "value": "let _RangeStart = startofday(ago(1d));\nlet _RangeEnd = startofday(now());\nlet _VaultSubscriptionList = split(@{parameters('vaultSubscriptionListFilter')}, ',');\nlet _VaultLocationList = split(@{parameters('vaultLocationListFilter')}, ',');\nlet _VaultList = split(@{parameters('vaultListFilter')}, ',');\nlet _VaultTypeList = \"*\";\nlet _ExcludeLegacyEvent = @{parameters('excludeLegacyEvent')};\nlet _BackupSolutionList  =  split(@{parameters('backupSolutionListFilter')}, ',');"
                  }
                ]
              }
            },
            "Initialize_variable-UnionOfWorkspaces": {
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "workspacesToQuery_Custom",
                    "type": "string",
                    "value": "@{concat(concat(substring(variables('AddonAzureBackupStorage_Incomplete'),0,sub(length(variables('AddonAzureBackupStorage_Incomplete')),1)),'};'),\r\nconcat(substring(variables('AddonAzureBackupProtectedInstance_Incomplete'),0,sub(length(variables('AddonAzureBackupProtectedInstance_Incomplete')),1)),'};'),\r\nconcat(substring(variables('AddonAzureBackupPolicy_Incomplete'),0,sub(length(variables('AddonAzureBackupPolicy_Incomplete')),1)),'};'),\r\nconcat(substring(variables('AddonAzureBackupJobs_Incomplete'),0,sub(length(variables('AddonAzureBackupJobs_Incomplete')),1)),'};'),\r\nconcat(substring(variables('CoreAzureBackup_Incomplete'),0,sub(length(variables('CoreAzureBackup_Incomplete')),1)),'};'),\r\nconcat(substring(variables('AzureDiagnostics_Incomplete'),0,sub(length(variables('AzureDiagnostics_Incomplete')),1)),'};'))}"
                  }
                ]
              }
            },
            "Scope": {
              "actions": {
                "Create_CSV_table-BillingGroupList": {
                  "runAfter": {
                    "Run_query_and_list_results-BillingGroupList": [
                      "Succeeded"
                    ]
                  },
                  "type": "Table",
                  "inputs": {
                    "format": "CSV",
                    "from": "@if(empty(body('Run_query_and_list_results-BillingGroupList')?['value']),variables('NoDataMessage'),body('Run_query_and_list_results-BillingGroupList')?['value'])"
                  }
                },
                "Run_query_and_list_results-BillingGroupList": {
                  "runAfter": {
                    "Run_query_and_visualize_results-CloudStorageTrend": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": "@{variables('BillingGroupFunction')}\n|  extend name_array = split(Name,\";\")\n|  extend name_arraylen = array_length(name_array)\n| project BilledEntity=FriendlyName, BilledEntityResourceGroup=iff(name_arraylen == 3, name_array[(name_arraylen-2)], \"(none)\"), BilledEntityType=Type, BackupSolution, ProtectedInstances=todouble(parse_json(ExtendedProperties).ProtectedInstanceCount), CloudStorage=VaultStore_StorageConsumptionInMBs/1024, StorageReplicationType=VaultStore_StorageReplicationType, Vault=VaultResourceId, VaultResourceGroup=split(split(tolower(VaultResourceId), '/resourcegroups/')[1],'/')[0], Subscription=VaultSubscriptionId",
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/queryData",
                    "queries": {
                      "resourcegroups": "[parameters('workspaceResourceGroup')]",
                      "resourcename": "[parameters('logicAppWorkspace')]",
                      "resourcetype": "Log Analytics Workspace",
                      "subscriptions": "[parameters('workspaceSubscriptionId')]",
                      "timerange": "Set in query"
                    }
                  }
                },
                "Run_query_and_visualize_results-BillingGroupTrend": {
                  "type": "ApiConnection",
                  "inputs": {
                    "body": "@{variables('BillingGroupTrendFunction')}\n// query to transform function output\n| summarize ProtectedInstanceCount = sum(todouble(parse_json(ExtendedProperties).ProtectedInstanceCount)) by  startofday(TimeGenerated)\n",
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/visualizeQuery",
                    "queries": {
                      "resourcegroups": "[parameters('workspaceResourceGroup')]",
                      "resourcename": "[parameters('logicAppWorkspace')]",
                      "resourcetype": "Log Analytics Workspace",
                      "subscriptions": "[parameters('workspaceSubscriptionId')]",
                      "timerange": "Set in query",
                      "visType": "Time Chart"
                    }
                  }
                },
                "Run_query_and_visualize_results-CloudStorageTrend": {
                  "runAfter": {
                    "Run_query_and_visualize_results-BillingGroupTrend": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": "@{variables('BillingGroupTrendFunction')}\n// query to transform function output\n| summarize StorageConsumedInGBs = sum(VaultStore_StorageConsumptionInMBs)/1024 by  startofday(TimeGenerated)\n",
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/visualizeQuery",
                    "queries": {
                      "resourcegroups": "[parameters('workspaceResourceGroup')]",
                      "resourcename": "[parameters('logicAppWorkspace')]",
                      "resourcetype": "Log Analytics Workspace",
                      "subscriptions": "[parameters('workspaceSubscriptionId')]",
                      "timerange": "Set in query",
                      "visType": "Time Chart"
                    }
                  }
                },
                "Set_variable-EmailBodyForSuccessfulRun": {
                  "runAfter": {
                    "Create_CSV_table-BillingGroupList": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "visual",
                    "value": "<div>\n<h3>Protected Instances Trend</h3>\n<br>\n<img src=\"cid:@{body('Run_query_and_visualize_results-BillingGroupTrend')?['attachmentName']}\" width:\"50px\"/>\n<br>\n<h3> Cloud Storage Trend</h3> \n<br>\n<img src=\"cid:@{body('Run_query_and_visualize_results-CloudStorageTrend')?['attachmentName']}\" width:\"50px\"/>\n<br>\n</div>"
                  }
                }
              },
              "runAfter": {
                "Initialize_variable-NoDataMessage": [
                  "Succeeded"
                ]
              },
              "type": "Scope"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuremonitorlogs": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]",
                "connectionName": "[variables('azureMonitorLogsConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]"
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
              }
            }
          }
        }
      }
    }
  ]
}
